force-app/main/default/flows/ALDCRM_E2C_Notify_Email_Sender_On_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>BEL_Case_Open_Auto_Reply_for_autolease</name>
        <label>BEL - Case Open Auto Reply for autolease</label>
        <locationX>9290</locationX>
        <locationY>539</locationY>
        <actionName>Case.BEL_Case_Open_Auto_Reply_for_autolease</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BEL_Case_Open_Auto_Reply_for_autolease</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BEL_Case_Open_Auto_Reply_for_customercare</name>
        <label>BEL - Case Open Auto Reply for customercare</label>
        <locationX>8762</locationX>
        <locationY>539</locationY>
        <actionName>Case.BEL_Case_Open_Auto_Reply_for_customercare</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BEL_Case_Open_Auto_Reply_for_customercare</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>BEL_Send_Notification_to_Beayens_Sender</name>
        <label>BEL- Send Notification to Beayens Sender</label>
        <locationX>8234</locationX>
        <locationY>539</locationY>
        <actionName>Case.BEL_Case_Open_Auto_Reply_for_beayens</actionName>
        <actionType>emailAlert</actionType>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BEL_Case_Open_Auto_Reply_for_beayens</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>caradvisor_dk_aldautomotive_com_Email_Alert</name>
        <label>caradvisor.dk@aldautomotive.com_Email_Alert</label>
        <locationX>1634</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_caradvisor_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_caradvisor_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CHL_Send_Notification_to_Email_Sender_on_M2C_atencionclientes</name>
        <label>CHL - Send Notification to Email Sender on M2C_atencionclientes</label>
        <locationX>5330</locationX>
        <locationY>431</locationY>
        <actionName>Case.CHL_Send_Notification_to_Email_Sender_on_M2C_atencionclientes</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CHL_Send_Notification_to_Email_Sender_on_M2C_atencionclientes</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>CHL_Send_Notification_to_Email_Sender_on_M2C_mantencion</name>
        <label>CHL - Send Notification to Email Sender on M2C_mantencion</label>
        <locationX>5066</locationX>
        <locationY>431</locationY>
        <actionName>Case.CHL_Send_Notification_to_Email_Sender_on_Email2Case_creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CHL_Send_Notification_to_Email_Sender_on_Email2Case_creation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>collection_dk_aldautomotive_com_Email_Alert</name>
        <label>collection.dk@aldautomotive.com_Email_Alert</label>
        <locationX>1898</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_collection_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_collection_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>contact_rent_aldautomotive_com_Email_Alert</name>
        <label>contact.rent@aldautomotive.com_Email_Alert</label>
        <locationX>5858</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_contact_rent_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_contact_rent_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>DK_Case_opening_Leasing_Code</name>
        <label>DK - Case opening - Leasing Code</label>
        <locationX>2690</locationX>
        <locationY>539</locationY>
        <actionName>Case.DK_Case_opening_Leasing_Code</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DK_Case_opening_Leasing_Code</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>DK_Case_opening_Purchase_Support</name>
        <label>DK - Case opening - Purchase Support</label>
        <locationX>2426</locationX>
        <locationY>539</locationY>
        <actionName>Case.DK_Case_opening_Purchase_Support</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DK_Case_opening_Purchase_Support</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Notify Email Sender when a Finland Mail2Case is created​</description>
        <name>FIN_ALD_Send_Email_to_Sender</name>
        <label>FIN ALD Send Email to Sender</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.FIN_ALD_Case_Open_FIN_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FIN_ALD_Case_Open_FIN_Contact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>FIN_NF_Send_Email_to_Sender</name>
        <label>FIN NF Send Email to Sender</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.FIN_NF_Case_Open_FIN_Contact</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FIN_NF_Case_Open_FIN_Contact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>GER_Case_Open_Auto_reply_ARMADA_Amazon</name>
        <label>GER - Case Open Auto reply ARMADA(Amazon)​</label>
        <locationX>7970</locationX>
        <locationY>431</locationY>
        <actionName>Case.GER_Case_Open_Auto_reply_ARMADA_Amazon</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.GER_Case_Open_Auto_reply_ARMADA_Amazon</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IND_Care_M2C_notify_email_sender_on_case_open</name>
        <label>IND - Care M2C notify email sender on case open</label>
        <locationX>4274</locationX>
        <locationY>431</locationY>
        <actionName>Case.IND_Care_M2C_notify_email_sender_on_case_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.IND_Care_M2C_notify_email_sender_on_case_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>IND_Feedback_M2C_notify_email_sender_on_case_open</name>
        <label>IND - Feedback M2C notify email sender on case open</label>
        <locationX>4010</locationX>
        <locationY>431</locationY>
        <actionName>Case.IND_M2C_notify_email_sender_on_case_open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.IND_M2C_notify_email_sender_on_case_open</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>kundeservice_dk_ayvens_com_Email_Alert</name>
        <label>kundeservice.dk@ayvens.com_Email_Alert</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_kundeservice_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_kundeservice_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_ayvensprivatelease_aldautomotive_com_Email_Alert</name>
        <label>lu.ayvensprivatelease@aldautomotive.com_Email_Alert</label>
        <locationX>6650</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_ayvensprivatelease_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_ayvensprivatelease_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_corporate_aldautomotive_com_Email_Alert</name>
        <label>lu.corporate@aldautomotive.com_Email_Alert</label>
        <locationX>7178</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_corporate_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_corporate_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_easydriving_aldautomotive_com_Email_Alert</name>
        <label>lu.easydriving@aldautomotive.com_Email_Alert</label>
        <locationX>5594</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_easydriving_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_easydriving_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_indirectquotes_aldautomotive_com_Email_Alert</name>
        <label>lu.indirectquotes@aldautomotive.com_Email_Alert</label>
        <locationX>6386</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_indirectquotes_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_indirectquotes_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_partnerships_axus_lu_Email_Alert</name>
        <label>lu.partnerships@axus.lu_Email_Alert</label>
        <locationX>7442</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_partnerships_axus_lu</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_partnerships_axus_lu</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>lu_sme_aldautomotive_com_Email_Alert</name>
        <label>lu.sme@aldautomotive.com_Email_Alert</label>
        <locationX>6914</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_lu_sme_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_lu_sme_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Nfkundeservice_dk_nffleet_com_Email_Alert</name>
        <label>Nfkundeservice.dk@nffleet.com_Email_Alert</label>
        <locationX>3218</locationX>
        <locationY>431</locationY>
        <actionName>Case.DNK_NF_Case_Open_Auto_Reply_Nfkundeservice_dk_nffleet_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_NF_Case_Open_Auto_Reply_Nfkundeservice_dk_nffleet_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>PER_M2C_notify_email_sender_on_case_open_reclamos_peru</name>
        <label>PER - M2C notify email sender on case open reclamos peru</label>
        <locationX>4538</locationX>
        <locationY>431</locationY>
        <actionName>Case.PER_M2C_notify_email_sender_on_case_open_reclamos_peru</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.PER_M2C_notify_email_sender_on_case_open_reclamos_peru</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>PER_M2C_notify_email_sender_on_case_open_solicitud_peru</name>
        <label>PER - M2C notify email sender on case open solicitud peru</label>
        <locationX>4802</locationX>
        <locationY>431</locationY>
        <actionName>Case.PER_M2C_notify_email_sender_on_case_open_solicitud_peru</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.PER_M2C_notify_email_sender_on_case_open_solicitud_peru</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>privatelease_axus_lu_Email_Alert</name>
        <label>privatelease@axus.lu_Email_Alert</label>
        <locationX>6122</locationX>
        <locationY>539</locationY>
        <actionName>Case.LUX_Case_Open_Auto_Reply_privatelease_axus_lu</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.LUX_Case_Open_Auto_Reply_privatelease_axus_lu</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>privatkundeservice_dk_aldautomotive_com_Email_Alert</name>
        <label>privatkundeservice.dk@aldautomotive.com_Email_Alert</label>
        <locationX>1370</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_privatkundeservice_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_privatkundeservice_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>privatleasing_dk_aldautomotive_com_Email_Alert</name>
        <label>privatleasing.dk@aldautomotive.com_Email_Alert</label>
        <locationX>2162</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_privatleasing_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_privatleasing_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>ROM_M2C</name>
        <label>ROM_M2C</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.ROM_M2C</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.ROM_M2C</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_CPM_Non_Siemen</name>
        <label>Send Email CPM Non Siemen</label>
        <locationX>3746</locationX>
        <locationY>431</locationY>
        <actionName>Case.DECPM_Case_Open_Non_Siemen_Cases</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DECPM_Case_Open_Non_Siemen_Cases</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_CPM_Siemen</name>
        <label>Send Email CPM Siemen</label>
        <locationX>3482</locationX>
        <locationY>431</locationY>
        <actionName>Case.DECPM_Case_Open_Siemen_Cases</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DECPM_Case_Open_Siemen_Cases</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Serviceaccount_dk_ayvens_com_Email_Alert</name>
        <label>Serviceaccount.dk@ayvens.com_Email_Alert</label>
        <locationX>1106</locationX>
        <locationY>539</locationY>
        <actionName>Case.DNK_Case_Open_Auto_Reply_Serviceaccount_dk_aldautomotive_com</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.DNK_Case_Open_Auto_Reply_Serviceaccount_dk_aldautomotive_com</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <customErrors>
        <name>Error</name>
        <label>Error</label>
        <locationX>9554</locationX>
        <locationY>647</locationY>
        <customErrorMessages>
            <errorMessage>Flow error</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Check_Emai_To_Case_Receiver</name>
        <label>Check Emai To Case Receiver</label>
        <locationX>9026</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>BEL_M2C_beayvens</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver_FormulaField__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.BEL_M2C_beayvens</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BEL_Send_Notification_to_Beayens_Sender</targetReference>
            </connector>
            <label>BEL_M2C_beayvens</label>
        </rules>
        <rules>
            <name>BEL_M2C_customercare</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver_FormulaField__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.BEL_M2C_customercare</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BEL_Case_Open_Auto_Reply_for_customercare</targetReference>
            </connector>
            <label>BEL_M2C_customercare</label>
        </rules>
        <rules>
            <name>BEL_M2C_autolease</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver_FormulaField__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.BEL_M2C_autolease</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BEL_Case_Open_Auto_Reply_for_autolease</targetReference>
            </connector>
            <label>BEL_M2C_autolease</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check_for_M2C_Receiver</description>
        <name>Check_for_M2C_Receiver</name>
        <label>Check_for_M2C_Receiver</label>
        <locationX>1898</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>kundeservice_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>kundeservice.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>kundeservice_dk_ayvens_com_Email_Alert</targetReference>
            </connector>
            <label>kundeservice.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>Customerrelations_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customerrelations.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serviceaccount_dk_ayvens_com_Email_Alert</targetReference>
            </connector>
            <label>Customerrelations.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>privatkundeservice_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>privatkundeservice.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>privatkundeservice_dk_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>privatkundeservice.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>caradvisor_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>caradvisor.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>caradvisor_dk_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>caradvisor.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>collection_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>collection.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>collection_dk_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>collection.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>privatleasing_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>privatleasing.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>privatleasing_dk_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>privatleasing.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>purchasesupport_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>purchasesupport.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DK_Case_opening_Purchase_Support</targetReference>
            </connector>
            <label>purchasesupport.dk@ayvens.com</label>
        </rules>
        <rules>
            <name>Leasingcodes_dk_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Leasingcodes.dk@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DK_Case_opening_Leasing_Code</targetReference>
            </connector>
            <label>Leasingcodes.dk@ayvens.com</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check_for_M2C_Receiver</description>
        <name>Check_for_M2C_Receiver_LUX</name>
        <label>Check_for_M2C_Receiver_LUX</label>
        <locationX>6650</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>easydriving_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.easydriving@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_easydriving_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>easydriving@ayvens.com</label>
        </rules>
        <rules>
            <name>contact_rent_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact.rent@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>contact_rent_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>contact.rent@ayvens.com</label>
        </rules>
        <rules>
            <name>privatelease_axus_lu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>privatelease@axus.lu</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>privatelease_axus_lu_Email_Alert</targetReference>
            </connector>
            <label>privatelease@axus.lu</label>
        </rules>
        <rules>
            <name>lu_indirectquotes_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.indirectquotes@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_indirectquotes_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>lu.indirectquotes@ayvens.com</label>
        </rules>
        <rules>
            <name>lu_ayvensprivatelease_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.ayvensprivatelease@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_ayvensprivatelease_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>lu.ayvensprivatelease@ayvens.com</label>
        </rules>
        <rules>
            <name>lu_sme_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.sme@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_sme_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>lu.sme@ayvens.com</label>
        </rules>
        <rules>
            <name>lu_corporate_ayvens_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.corporate@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_corporate_aldautomotive_com_Email_Alert</targetReference>
            </connector>
            <label>lu.corporate@ayvens.com</label>
        </rules>
        <rules>
            <name>lu_partnerships_axus_lu</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>lu.partnerships@axus.lu_paused</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lu_partnerships_axus_lu_Email_Alert</targetReference>
            </connector>
            <label>lu.partnerships@axus.lu</label>
        </rules>
    </decisions>
    <decisions>
        <name>CHECK_IF_ALD_or_NF</name>
        <label>Check Subsidiary</label>
        <locationX>5066</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FIN_ALD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CCCM_FIN_ALD_m2c_mailbox</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FIN_ALD_Send_Email_to_Sender</targetReference>
            </connector>
            <label>FIN ALD</label>
        </rules>
        <rules>
            <name>FIN_NF</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CCCM_FIN_NF_m2c_mailbox</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FIN_NF_Send_Email_to_Sender</targetReference>
            </connector>
            <label>FIN NF</label>
        </rules>
        <rules>
            <name>Romania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Romania</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Romania_E2C_Notify_Email_Sender</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ROM_M2C</targetReference>
            </connector>
            <label>Romania</label>
        </rules>
        <rules>
            <name>DNK_ALD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20801</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Bypass_Case_Acknowledgment_Mail</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_M2C_Receiver</targetReference>
            </connector>
            <label>DNK ALD</label>
        </rules>
        <rules>
            <name>DNK_NF</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Denmark</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20802</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Nfkundeservice_dk_nffleet_com_Email_Alert</targetReference>
            </connector>
            <label>DNK NF</label>
        </rules>
        <rules>
            <name>DECPM_Siemen</name>
            <conditionLogic>NOT(4) AND 1 AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver_FormulaField__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.CCCM_DECPM_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator_Stored__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>27604</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Sender__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Germany_CPM_Carprofessional_de_email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_CPM_Siemen</targetReference>
            </connector>
            <label>DECPM Siemen</label>
        </rules>
        <rules>
            <name>DECPM_Non_Siemen</name>
            <conditionLogic>NOT(1) AND 2 AND 3 AND (NOT(4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver_FormulaField__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.CCCM_DECPM_Queue</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator_Stored__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>27604</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Sender__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Germany_CPM_Carprofessional_de_email</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_CPM_Non_Siemen</targetReference>
            </connector>
            <label>DECPM Non-Siemen</label>
        </rules>
        <rules>
            <name>IND_Feedback_M2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.IND_M2C_Mailbox_address</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IND_Feedback_M2C_notify_email_sender_on_case_open</targetReference>
            </connector>
            <label>IND - Feedback M2C</label>
        </rules>
        <rules>
            <name>IND_Care_M2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.IND_Care_M2C_Mailbox_address</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IND_Care_M2C_notify_email_sender_on_case_open</targetReference>
            </connector>
            <label>IND - Care M2C</label>
        </rules>
        <rules>
            <name>PER_M2C_Reclamos_Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.PER_M2C_Address</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PER_M2C_notify_email_sender_on_case_open_reclamos_peru</targetReference>
            </connector>
            <label>PER M2C Reclamos Peru</label>
        </rules>
        <rules>
            <name>PER_M2C_Solicitud_Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.PER_M2C_Address_Solicitud_peru</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PER_M2C_notify_email_sender_on_case_open_solicitud_peru</targetReference>
            </connector>
            <label>PER M2C Solicitud Peru</label>
        </rules>
        <rules>
            <name>CHL_M2C_mantencion</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CHL_M2C_receiver</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHL_Send_Notification_to_Email_Sender_on_M2C_mantencion</targetReference>
            </connector>
            <label>CHL M2C mantencion</label>
        </rules>
        <rules>
            <name>CHL_M2C_atencionclientes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CHL_M2C_receiver</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CHL_Send_Notification_to_Email_Sender_on_M2C_atencionclientes</targetReference>
            </connector>
            <label>CHL M2C atencionclientes</label>
        </rules>
        <rules>
            <name>LUX_M2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>44201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_for_M2C_Receiver_LUX</targetReference>
            </connector>
            <label>LUX M2C</label>
        </rules>
        <rules>
            <name>GERM2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CCCM_GER_m2c_mailbox</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver_FormulaField__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Germany_Ayvens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GER_Case_Open_Auto_reply_ARMADA_Amazon</targetReference>
            </connector>
            <label>GER M2C</label>
        </rules>
        <rules>
            <name>BEL_M2C</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Belgium</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5601</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Sender__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Emai_To_Case_Receiver</targetReference>
            </connector>
            <label>BEL M2C</label>
        </rules>
    </decisions>
    <description>Added changes related to BR-6920</description>
    <environments>Default</environments>
    <interviewLabel>ALDCRM_E2C_Notify Email Sender On Case​ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALDCRM_E2C_Notify Email Sender On Case​</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>4940</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CHECK_IF_ALD_or_NF</targetReference>
        </connector>
        <filterFormula>AND(IF((ISBLANK({!$Record.ContactId})),TRUE,NOT({!$Record.Contact.Bypass_Case_Acknowledgment_Mail__c})),
        OR(
AND({!$Record.RecordType.DeveloperName} = &apos;Case_External_Finland&apos;, NOT(ISBLANK({!$Record.Email_Sender__c}))),
AND( OR( {!$Record.RecordType.DeveloperName} = &apos;Case_External_Denmark&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;Case_External_Chile&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;Case_External_India&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;Case_External_Peru&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;Case_External_Luxembourg&apos;,
	{!$Record.RecordType.DeveloperName} = &apos;Case_External_Germany_Ayvens&apos;
),
NOT(ISBLANK({!$Record.Email_Sender__c})), 
NOT(ISBLANK({!$Record.Emailtocasereceiver__c}))
),
AND({!$Record.RecordType.DeveloperName} = &apos;Case_External_Romania&apos;, NOT(ISBLANK({!$Record.Emailtocasereceiver__c}))),
({!$Record.RecordType.DeveloperName} = &apos;Case_External_Belgium&apos;),        
AND({!$Record.RecordType.DeveloperName} = &apos;Case_External_Germany&apos;, NOT(ISBLANK({!$Record.Email_Sender__c})), {!$Record.Subsidiary_Indicator_Stored__c} = &apos;27604&apos;)
))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
