force-app/main/default/flows/ALDCRM_Inv_Opp_Ent_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>invocableContextErrorEmail</name>
        <label>Context Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The ALDCRM_Inv_Opp_Ent_Creation-4 invocable process failed to start because no records in your org match the record Id specified. In the entities that invoke ALDCRM_Inv_Opp_Ent_Creation-4, such as other processes, check the value for this input: SObjectId.</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sam.kodamala-ext@aldautomotive.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>invocableSObjectErrorEmail</name>
        <label>SObject Or Id Error Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Process Failed to Execute</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <stringValue>The ALDCRM_Inv_Opp_Ent_Creation-4 invocable process failed to start because a valid value wasn&apos;t found. This can happen when entities that invoke ALDCRM_Inv_Opp_Ent_Creation-4, such as other processes, don&apos;t have values for either the SObject or SObjectId. For example: 
-An SObject or SObject ID wasn&apos;t specified.
-A value might have been included, but it was null at runtime. </stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>sam.kodamala-ext@aldautomotive.com</stringValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>ActionCallType</name>
            <value>
                <stringValue>flow</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>flowSelection</name>
            <value>
                <stringValue>CreateEntitlementOnAccounts</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>CreateEntitlement</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>createEntitlementOnAccount</actionName>
        <actionType>flow</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>varAccountid</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>varAccountid</name>
            <value>
                <elementReference>SObject.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>createEntitlementOnAccount</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>invocableContextCheckDecision</name>
        <label>Context Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableContextErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>invocableContextCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Context Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>EntitlementCreation</label>
        </rules>
    </decisions>
    <decisions>
        <name>sobjectInputCheckDecision</name>
        <label>SObject Input Check Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>invocableSObjectErrorEmail</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>sobjectInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObject</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision</targetReference>
            </connector>
            <label>SObject Not Null</label>
        </rules>
        <rules>
            <name>sobjectIdInputCheckRule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SObjectId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myInvocableContextRecordLookup</targetReference>
            </connector>
            <label>SObject Id Not Null</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
NOT($User.Bypass_Workflow__c),
NOT(ISBLANK(TEXT([Account].Subsidiary__c))),
NOT(ISBLANK([Account].RecordType.DeveloperName)),
CONTAINS($Label.CCCMBusinessHours,
TEXT([Account].Subsidiary__c))
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT({!$User.Bypass_Workflow__c}),
NOT(ISBLANK(TEXT({!SObject.Subsidiary__c}))),
NOT(ISBLANK({!SObject.RecordType.DeveloperName})),
CONTAINS({!$Label.CCCMBusinessHours},
TEXT({!SObject.Subsidiary__c}))
)</expression>
    </formulas>
    <interviewLabel>ALDCRM_Inv_Opp_Ent_Creation-4_InterviewLabel</interviewLabel>
    <label>ALDCRM Inv Account Creation</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Account</stringValue>
        </value>
    </processMetadataValues>
    <processType>InvocableProcess</processType>
    <recordLookups>
        <name>myInvocableContextRecordLookup</name>
        <label>myInvocableContextRecordLookup</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>invocableContextCheckDecision</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SObjectId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>SObject</outputReference>
        <queriedFields>Subsidiary__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <startElementReference>sobjectInputCheckDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>SObject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>SObjectId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
