force-app/main/default/flows/ALDCRM_Case_Process_Flow_For_Fleet_Manager.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>CaseManager</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Do nothing</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>CaseManager</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>CaseManager</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BG_inform_contact_Bulgariaon_Case_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>ALDCRM_BG inform contact Bulgariaon Case Closed</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.BG_inform_contact_Bulgariaon_Case_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BG_inform_contact_Bulgariaon_Case_Closed</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BG_Inform_contact_on_case_opened_Bulgaria</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>ALDCRM_BG Inform contact on case opened Bulgaria</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.BG_Inform_contact_on_case_opened_Bulgaria</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BG_Inform_contact_on_case_opened_Bulgaria</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BG_inform_contact_English_on_Case_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>ALDCRM_BG inform contact English on Case Closed</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <actionName>Case.BG_inform_contact_English_on_Case_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BG_inform_contact_English_on_Case_Closed</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>BG_Inform_contact_on_case_opened_English</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>ALDCRM_BG Inform contact on case opened English</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <actionName>Case.BG_Inform_contact_on_case_opened_English</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.BG_Inform_contact_on_case_opened_English</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Check bypass</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>ALDCRM_BGR inform contact Bulgaria on Case closed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>ALDCRM_BGR inform contact Bulgaria on Case Open</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_pmetdec</targetReference>
            </connector>
            <label>ALDCRM_BGR inform contact English on Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_pmetdec</targetReference>
            </connector>
            <label>ALDCRM_BGR inform contact English on Case Open</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_7_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_7_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_7_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_7_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_9_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_9_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_9_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_9_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This process is used for sending mails to fleet managers when case is open or closed.</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>$User.Bypass_Workflow__c = true</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.Bypass_Workflow__c} = true</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
[Case].IsClosed= true,[Case].Inform_Contact_On_Case_Closed__c=true ,[Case].Send_English_eMail_version__c= false , 
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.AccountId})),
NOT(ISBLANK({!myVariable_current.Contact.Email}))),{!myVariable_current.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!myVariable_current.IsClosed}= true,{!myVariable_current.Inform_Contact_On_Case_Closed__c}=true ,{!myVariable_current.Send_English_eMail_version__c}= false , 
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
[Case].IsClosed= true,[Case].Inform_Contact_On_Case_Closed__c=true ,[Case].Send_English_eMail_version__c= false , 
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_old.ContactId} )),
NOT(ISBLANK({!myVariable_old.AccountId})),
NOT(ISBLANK({!myVariable_old.Contact.Email}))),{!myVariable_old.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!myVariable_old.IsClosed}= true,{!myVariable_old.Inform_Contact_On_Case_Closed__c}=true ,{!myVariable_old.Send_English_eMail_version__c}= false , 
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
[Case].IsClosed= False,[Case].Inform_Contact_On_Case_Opened__c=true ,
[Case].Send_English_eMail_version__c= false ,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.AccountId})),
NOT(ISBLANK({!myVariable_current.Contact.Email}))),{!myVariable_current.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!myVariable_current.IsClosed}= False,{!myVariable_current.Inform_Contact_On_Case_Opened__c}=true ,
{!myVariable_current.Send_English_eMail_version__c}= false ,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
[Case].IsClosed= False,[Case].Inform_Contact_On_Case_Opened__c=true ,
[Case].Send_English_eMail_version__c= false ,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_old.ContactId} )),
NOT(ISBLANK({!myVariable_old.AccountId})),
NOT(ISBLANK({!myVariable_old.Contact.Email}))),{!myVariable_old.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!myVariable_old.IsClosed}= False,{!myVariable_old.Inform_Contact_On_Case_Opened__c}=true ,
{!myVariable_old.Send_English_eMail_version__c}= false ,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed= True,[Case].Inform_Contact_On_Case_Closed__c=true ,
[Case].Send_English_eMail_version__c= true ,
[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.AccountId})),
NOT(ISBLANK({!myVariable_current.Contact.Email}))),
{!myVariable_current.IsClosed}= True,{!myVariable_current.Inform_Contact_On_Case_Closed__c}=true ,
{!myVariable_current.Send_English_eMail_version__c}= true ,
{!myVariable_current.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed= True,[Case].Inform_Contact_On_Case_Closed__c=true ,
[Case].Send_English_eMail_version__c= true ,
[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_old.ContactId} )),
NOT(ISBLANK({!myVariable_old.AccountId})),
NOT(ISBLANK({!myVariable_old.Contact.Email}))),
{!myVariable_old.IsClosed}= True,{!myVariable_old.Inform_Contact_On_Case_Closed__c}=true ,
{!myVariable_old.Send_English_eMail_version__c}= true ,
{!myVariable_old.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed= False,[Case].Inform_Contact_On_Case_Opened__c=true ,
[Case].Send_English_eMail_version__c= true ,
[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_current.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_current.ContactId} )),
NOT(ISBLANK({!myVariable_current.AccountId})),
NOT(ISBLANK({!myVariable_current.Contact.Email}))),
{!myVariable_current.IsClosed}= False,{!myVariable_current.Inform_Contact_On_Case_Opened__c}=true ,
{!myVariable_current.Send_English_eMail_version__c}= true ,
{!myVariable_current.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND([Case].RecordType.Name = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK([Case].ContactId )),
NOT(ISBLANK([Case].AccountID)),
NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed= False,[Case].Inform_Contact_On_Case_Opened__c=true ,
[Case].Send_English_eMail_version__c= true ,
[Case].Subsidiary_Indicator__c = &apos;10001&apos;,
$User.Bypass_Workflow__c = false )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!myVariable_old.RecordType.Name} = &apos;Case External Bulgaria&apos;,
AND(NOT(ISBLANK({!myVariable_old.ContactId} )),
NOT(ISBLANK({!myVariable_old.AccountId})),
NOT(ISBLANK({!myVariable_old.Contact.Email}))),
{!myVariable_old.IsClosed}= False,{!myVariable_old.Inform_Contact_On_Case_Opened__c}=true ,
{!myVariable_old.Send_English_eMail_version__c}= true ,
{!myVariable_old.Subsidiary_Indicator__c} = &apos;10001&apos;,
{!$User.Bypass_Workflow__c} = false )</expression>
    </formulas>
    <interviewLabel>ALDCRM_Case_Process_Flow_For_Fleet_Manager-25_InterviewLabel</interviewLabel>
    <label>ALDCRM_Case Process Flow For Fleet Manager</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
