force-app/main/default/flows/BEL_Showroom_IDF_Status_Change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Both Contact and Account found using IDFUniqueUserID</description>
        <name>Both_Contact_and_Account_found_using_IDFUniqueUserID</name>
        <label>Both Contact and Account found using IDFUniqueUserID</label>
        <locationX>733</locationX>
        <locationY>649</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Both_Contact_and_Account_found_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_records.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_contacts.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_opportunity_exists_or_not</targetReference>
            </connector>
            <label>Both Contact and Account found Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check IDF Status value during creation of Opportunity</description>
        <name>Check_IDF_Status_value_during_creation</name>
        <label>Check IDF Status value during creation</label>
        <locationX>1398</locationX>
        <locationY>836</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>cr_Journey_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journey Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_JourneyStarted</targetReference>
            </connector>
            <label>cr_Journey Started</label>
        </rules>
        <rules>
            <name>cr_Underwriting_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_US</targetReference>
            </connector>
            <label>cr_Underwriting Started</label>
        </rules>
        <rules>
            <name>cr_Underwriting_Awaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Awaiting</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_UA</targetReference>
            </connector>
            <label>cr_Underwriting Awaiting</label>
        </rules>
        <rules>
            <name>cr_Underwriting_complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_UC</targetReference>
            </connector>
            <label>cr_Underwriting complete</label>
        </rules>
        <rules>
            <name>cr_Underwriting_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Failed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_UF</targetReference>
            </connector>
            <label>cr_Underwriting Failed</label>
        </rules>
        <rules>
            <name>cr_DocumentSigningStarted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Signing Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_DSS</targetReference>
            </connector>
            <label>cr_DocumentSigningStarted</label>
        </rules>
        <rules>
            <name>cr_DocumentSigningComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Signing Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_DSC</targetReference>
            </connector>
            <label>cr_DocumentSigningComplete</label>
        </rules>
        <rules>
            <name>cr_JourneyComplete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journey Complete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_JC</targetReference>
            </connector>
            <label>cr_JourneyComplete</label>
        </rules>
        <rules>
            <name>cr_Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cr_Opp_for_Quote_Canceled</targetReference>
            </connector>
            <label>cr_Canceled</label>
        </rules>
    </decisions>
    <decisions>
        <description>check if account or contact exists</description>
        <name>check_if_account_or_contact_exists</name>
        <label>check if account or contact exists</label>
        <locationX>725</locationX>
        <locationY>407</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_or_contact_Does_not_exists</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_contacts</targetReference>
            </connector>
            <label>Account or contact Does not exists</label>
        </rules>
        <rules>
            <name>Account_and_Contact_Exists_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_if_opportunity_exists_or_not</targetReference>
            </connector>
            <label>Account and Contact Exists Already</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if opportunity exists or not</description>
        <name>Check_if_opportunity_exists_or_not</name>
        <label>Check if opportunity exists or not</label>
        <locationX>1301</locationX>
        <locationY>556</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>opportunity_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IDF_Status_changed_values</targetReference>
            </connector>
            <label>opportunity exists</label>
        </rules>
        <rules>
            <name>opportunity_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OpportunityId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_IDF_Status_value_during_creation</targetReference>
            </connector>
            <label>opportunity does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Canceled</description>
        <name>Check_Quote_has_Account_and_Contact_for_Canceled</name>
        <label>Check Quote has Account and Contact for Canceled</label>
        <locationX>5331</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_Canceled_by_Customer_Acc_Con_Canceled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and contact outcome in Update scn canceled</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_Canceled_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_Canceled</targetReference>
            </connector>
            <label>Quote with Account and Contact Canceled Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Document Signing Complete</description>
        <name>Check_Quote_has_Account_and_Contact_for_DSC</name>
        <label>Check Quote has Account and Contact for DSC</label>
        <locationX>4188</locationX>
        <locationY>966</locationY>
        <defaultConnector>
            <targetReference>Update_quote_status_to_Accepted_by_Customer_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn DSC</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_DSC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_status_to_Accepted_by_Customer</targetReference>
            </connector>
            <label>Quote with Account and Contact DSC Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Document Signing Started</description>
        <name>Check_Quote_has_Account_and_Contact_for_DSS</name>
        <label>Check Quote has Account and Contact for DSS</label>
        <locationX>3708</locationX>
        <locationY>975</locationY>
        <defaultConnector>
            <targetReference>Update_quote_status_to_presented_to_customer_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn DSS</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_DSS_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_status_to_presented_to_customer</targetReference>
            </connector>
            <label>Quote with Account and Contact DSS Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Journey Complete</description>
        <name>Check_Quote_has_Account_and_Contact_for_JC</name>
        <label>Check Quote has Account and Contact for JC</label>
        <locationX>4836</locationX>
        <locationY>989</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_status_to_Accepted_by_Customer_Acc_Con_JC</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn JC</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_JC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status_to_Accepted_by_Customer_JC</targetReference>
            </connector>
            <label>Quote with Account and Contact JC Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Journey Started</description>
        <name>Check_Quote_has_Account_and_Contact_for_JS</name>
        <label>Check Quote has Account and Contact for JS</label>
        <locationX>1829</locationX>
        <locationY>955</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_New_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn JS</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_JS_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status_to_new</targetReference>
            </connector>
            <label>Quote with Account and Contact JS Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Underwriting Awaiting</description>
        <name>Check_Quote_has_Account_and_Contact_for_UA</name>
        <label>Check Quote has Account and Contact for UA</label>
        <locationX>2521</locationX>
        <locationY>929</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_Status_to_NA_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn UA</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_UA_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_Status_to_NA</targetReference>
            </connector>
            <label>Quote with Account and Contact UA Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Underwriting Completed</description>
        <name>Check_Quote_has_Account_and_Contact_for_UC</name>
        <label>Check Quote has Account and Contact for UC</label>
        <locationX>2907</locationX>
        <locationY>892</locationY>
        <defaultConnector>
            <targetReference>Update_quote_status_to_approved_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn UC</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_UC_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_status_to_approved</targetReference>
            </connector>
            <label>Quote with Account and Contact UC Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Underwriting Failed</description>
        <name>Check_Quote_has_Account_and_Contact_for_UF</name>
        <label>Check Quote has Account and Contact for UF</label>
        <locationX>3301</locationX>
        <locationY>959</locationY>
        <defaultConnector>
            <targetReference>Update_quote_status_to_rejected_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn UF</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_UF_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_quote_status_to_rejected</targetReference>
            </connector>
            <label>Quote with Account and Contact UF Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Quote has Account, Contact values for Underwriting Started</description>
        <name>Check_Quote_has_Account_and_Contact_for_US</name>
        <label>Check Quote has Account and Contact for US</label>
        <locationX>2180</locationX>
        <locationY>990</locationY>
        <defaultConnector>
            <targetReference>Update_Quote_status_to_In_Review_Acc_Con</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Quote without account and Contact outcome in Update scn US</defaultConnectorLabel>
        <rules>
            <name>Quote_with_Account_and_Contact_US_Outcome</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Quote_status_to_In_Review</targetReference>
            </connector>
            <label>Quote with Account and Contact US Outcome</label>
        </rules>
    </decisions>
    <decisions>
        <name>IDF_Status_changed_values</name>
        <label>IDF Status changed values</label>
        <locationX>1818</locationX>
        <locationY>542</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Journey_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journey Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_JS</targetReference>
            </connector>
            <label>Journey Started</label>
        </rules>
        <rules>
            <name>Underwriting_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_US</targetReference>
            </connector>
            <label>Underwriting Started</label>
        </rules>
        <rules>
            <name>Underwriting_Awaiting</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Awaiting</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_UA</targetReference>
            </connector>
            <label>Underwriting Awaiting</label>
        </rules>
        <rules>
            <name>Underwriting_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_UC</targetReference>
            </connector>
            <label>Underwriting Complete</label>
        </rules>
        <rules>
            <name>Underwriting_Failed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underwriting Failed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_UF</targetReference>
            </connector>
            <label>Underwriting Failed</label>
        </rules>
        <rules>
            <name>Document_Signing_Started</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Signing Started</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_DSS</targetReference>
            </connector>
            <label>Document Signing Started</label>
        </rules>
        <rules>
            <name>Document_Signing_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Signing Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_DSC</targetReference>
            </connector>
            <label>Document Signing Complete</label>
        </rules>
        <rules>
            <name>Journey_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Journey Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_JC</targetReference>
            </connector>
            <label>Journey Complete</label>
        </rules>
        <rules>
            <name>Canceled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IDF_Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Quote_has_Account_and_Contact_for_Canceled</targetReference>
            </connector>
            <label>Canceled</label>
        </rules>
    </decisions>
    <description>BEL Showroom IDF Status Change - Created as part of BR - 6617</description>
    <environments>Default</environments>
    <interviewLabel>BEL Showroom IDF Status Change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BEL Showroom IDF Status Change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Cr_Opp_for_Quote_Canceled</description>
        <name>Cr_Opp_for_Quote_Canceled</name>
        <label>Cr_Opp_for_Quote_Canceled</label>
        <locationX>89</locationX>
        <locationY>994</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Canceled</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_DocumentSigningComplete</description>
        <name>Cr_Opp_for_Quote_DSC</name>
        <label>Cr_Opp_for_Quote_DSC</label>
        <locationX>366</locationX>
        <locationY>1107</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Accepted_by_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P1-Close the Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Contract signed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_DocumentSigningStarted</description>
        <name>Cr_Opp_for_Quote_DSS</name>
        <label>Cr_Opp_for_Quote_DSS</label>
        <locationX>511</locationX>
        <locationY>1178</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Presented_to_Customer</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P2-Final Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Final Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_JourneyComplete</description>
        <name>Cr_Opp_for_Quote_JC</name>
        <label>Cr_Opp_for_Quote_JC</label>
        <locationX>246</locationX>
        <locationY>1038</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Accepted_by_Customer_Journey_Complete</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Vehicle Ordered</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_JourneyStarted</description>
        <name>Cr_Opp_for_Quote_JourneyStarted</name>
        <label>Cr_Opp_for_Quote_JourneyStarted</label>
        <locationX>1559</locationX>
        <locationY>1304</locationY>
        <connector>
            <targetReference>Cr_Update_quote_status_to_new</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_Underwriting Awaiting</description>
        <name>Cr_Opp_for_Quote_UA</name>
        <label>Cr_Opp_for_Quote_UA</label>
        <locationX>1205</locationX>
        <locationY>1149</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_NA</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_Underwriting Complete</description>
        <name>Cr_Opp_for_Quote_UC</name>
        <label>Cr_Opp_for_Quote_UC</label>
        <locationX>893</locationX>
        <locationY>1254</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Approved</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P2-Final Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Final Negotiation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_UnderwritingFailed</description>
        <name>Cr_Opp_for_Quote_UF</name>
        <label>Cr_Opp_for_Quote_UF</label>
        <locationX>688</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Rejected</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_For_Lost__c</field>
            <value>
                <stringValue>Refused Credit approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>ALD Withdrawal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Cr_Opp_for_Quote_Underwriting Started</description>
        <name>Cr_Opp_for_Quote_US</name>
        <label>Cr_Opp_for_Quote_US</label>
        <locationX>1385</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>Cr_Update_Quote_Status_to_Inreview</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Record.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadSource</field>
            <value>
                <stringValue>Showroom</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Number_Of_Vehicles__c</field>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>01220000000ClSgAAK</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>New Business</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get account records based on the contact</description>
        <name>Get_Account_records</name>
        <label>Get Account records</label>
        <locationX>225</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Both_Contact_and_Account_found_using_IDFUniqueUserID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_contacts.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get Contact Based on Showroom ID</description>
        <name>Get_contacts</name>
        <label>Get contacts</label>
        <locationX>323</locationX>
        <locationY>599</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Account_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IDFUniqueUserID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.IDFUniqueUserID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Cr_Update Quote Status to Accepted by Customer</description>
        <name>Cr_Update_Quote_Status_to_Accepted_by_Customer</name>
        <label>Cr_Update Quote Status to Accepted by Customer</label>
        <locationX>388</locationX>
        <locationY>1546</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_DSC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Accepted by Customer_Journey_Complete</description>
        <name>Cr_Update_Quote_Status_to_Accepted_by_Customer_Journey_Complete</name>
        <label>Cr_Update Quote Status to Accepted by Customer_Journey_Complete</label>
        <locationX>246</locationX>
        <locationY>1548</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_JC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Approved</description>
        <name>Cr_Update_Quote_Status_to_Approved</name>
        <label>Cr_Update Quote Status to Approved</label>
        <locationX>916</locationX>
        <locationY>1546</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_UC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Canceled</description>
        <name>Cr_Update_Quote_Status_to_Canceled</name>
        <label>Cr_Update Quote Status to Canceled</label>
        <locationX>50</locationX>
        <locationY>1541</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_Canceled</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Inreview</description>
        <name>Cr_Update_Quote_Status_to_Inreview</name>
        <label>Cr_Update Quote Status to Inreview</label>
        <locationX>1287</locationX>
        <locationY>1544</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_US</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to NA</description>
        <name>Cr_Update_Quote_Status_to_NA</name>
        <label>Cr_Update Quote Status to NA</label>
        <locationX>1152</locationX>
        <locationY>1545</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_UA</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update quote status to new</description>
        <name>Cr_Update_quote_status_to_new</name>
        <label>Cr_Update quote status to new</label>
        <locationX>1428</locationX>
        <locationY>1550</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_JourneyStarted</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Presented to Customer</description>
        <name>Cr_Update_Quote_Status_to_Presented_to_Customer</name>
        <label>Cr_Update Quote Status to Presented to Customer</label>
        <locationX>544</locationX>
        <locationY>1541</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_DSS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Presented to customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Cr_Update Quote Status to Rejected</description>
        <name>Cr_Update_Quote_Status_to_Rejected</name>
        <label>Cr_Update Quote Status to Rejected</label>
        <locationX>724</locationX>
        <locationY>1553</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>Cr_Opp_for_Quote_UF</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_opp_from_Quote_Journey_Startedv1</name>
        <label>Update opp to Quote Journey Startedv1</label>
        <locationX>1828</locationX>
        <locationY>1712</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to canceled</description>
        <name>Update_opp_to_quote_canceled</name>
        <label>Update opp to quote canceled</label>
        <locationX>5354</locationX>
        <locationY>1684</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Dic signing started</description>
        <name>Update_opp_to_Quote_Dic_signing_started</name>
        <label>Update opp to Quote Dic signing started</label>
        <locationX>3707</locationX>
        <locationY>1705</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P2-Final Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Final Negotiation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Doc signing complete</description>
        <name>Update_opp_to_Quote_Doc_signing_complete</name>
        <label>Update opp to Quote Doc signing complete</label>
        <locationX>4208</locationX>
        <locationY>1698</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P1-Close the Sale</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Contract signed</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Journey complete</description>
        <name>Update_opp_to_Quote_Journey_complete</name>
        <label>Update opp to Quote Journey complete</label>
        <locationX>4857</locationX>
        <locationY>1697</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Vehicle Ordered</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Underwriting awaiting</description>
        <name>Update_opp_to_Quote_Underwriting_awaiting</name>
        <label>Update opp to Quote Underwriting awaiting</label>
        <locationX>2557</locationX>
        <locationY>1711</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Underwriting complete</description>
        <name>Update_opp_to_Quote_Underwriting_complete</name>
        <label>Update opp to Quote Underwriting complete</label>
        <locationX>2932</locationX>
        <locationY>1713</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P2-Final Proposal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>Final Negotiation</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Underwriting started</description>
        <name>Update_opp_to_Quote_Underwriting_started</name>
        <label>Update opp to Quote Underwriting started</label>
        <locationX>2191</locationX>
        <locationY>1722</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>P4-Define Opportunity</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>First Contact</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to Accepted by Customer if account, contact, opportunity exists</description>
        <name>Update_quote_status_to_Accepted_by_Customer</name>
        <label>Update quote status to Accepted by Customer</label>
        <locationX>4046</locationX>
        <locationY>1210</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Doc_signing_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and quote status to Accepted by Customer</description>
        <name>Update_quote_status_to_Accepted_by_Customer_Acc_Con</name>
        <label>Update quote status to Accepted by Customer_Acc_Con</label>
        <locationX>4355</locationX>
        <locationY>1211</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Doc_signing_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote status to Accepted by Customer for Journey Complete</description>
        <name>Update_Quote_status_to_Accepted_by_Customer_Acc_Con_JC</name>
        <label>Update Quote status to Accepted by Customer_Acc_Con_JC</label>
        <locationX>4984</locationX>
        <locationY>1235</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Journey_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to new if account, contact, opportunity exists</description>
        <name>Update_Quote_status_to_Accepted_by_Customer_JC</name>
        <label>Update Quote status to Accepted by Customer_JC</label>
        <locationX>4697</locationX>
        <locationY>1220</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Journey_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Accepted by customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update quote status to approved if account, contact, opportunity exists</description>
        <name>Update_quote_status_to_approved</name>
        <label>Update quote status to approved</label>
        <locationX>2792</locationX>
        <locationY>1195</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote Status to approved</description>
        <name>Update_quote_status_to_approved_Acc_Con</name>
        <label>Update quote status to approved_Acc_Con</label>
        <locationX>3060</locationX>
        <locationY>1185</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_complete</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote Status to Canceled if account, contact, opportunity exists</description>
        <name>Update_Quote_Status_to_Canceled</name>
        <label>Update Quote Status to Canceled</label>
        <locationX>5233</locationX>
        <locationY>1223</locationY>
        <connector>
            <targetReference>Update_opp_to_quote_canceled</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update account,contact if they are blank and quote status to Canceled when IDF Status is canceled</description>
        <name>Update_Quote_Status_to_Canceled_by_Customer_Acc_Con_Canceled</name>
        <label>Update Quote Status to Canceled by Customer_Acc_Con_Canceled</label>
        <locationX>5499</locationX>
        <locationY>1217</locationY>
        <connector>
            <targetReference>Update_opp_to_quote_canceled</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to In Review if account, contact, opportunity exists</description>
        <name>Update_Quote_status_to_In_Review</name>
        <label>Update Quote status to In Review</label>
        <locationX>2063</locationX>
        <locationY>1192</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_started</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote Status to In Review</description>
        <name>Update_Quote_status_to_In_Review_Acc_Con</name>
        <label>Update Quote status to In Review_Acc_Con</label>
        <locationX>2319</locationX>
        <locationY>1192</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_started</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote Status to NA(previous value) if account, contact, opportunity exists</description>
        <name>Update_Quote_Status_to_NA</name>
        <label>Update Quote Status to NA</label>
        <locationX>2447</locationX>
        <locationY>1197</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_awaiting</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote Status to NA for underwriting Awaiting</description>
        <name>Update_Quote_Status_to_NA_Acc_Con</name>
        <label>Update Quote Status to NA_Acc_Con</label>
        <locationX>2678</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Underwriting_awaiting</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Review</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to new if account, contact, opportunity exists</description>
        <name>Update_Quote_status_to_new</name>
        <label>Update Quote status to new</label>
        <locationX>1707</locationX>
        <locationY>1161</locationY>
        <connector>
            <targetReference>Update_opp_from_Quote_Journey_Startedv1</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote Status to New</description>
        <name>Update_Quote_Status_to_New_Acc_Con</name>
        <label>Update Quote Status to New_Acc_Con</label>
        <locationX>1955</locationX>
        <locationY>1162</locationY>
        <connector>
            <targetReference>Update_opp_from_Quote_Journey_Startedv1</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to presented to customer if account, contact, opportunity exists</description>
        <name>Update_quote_status_to_presented_to_customer</name>
        <label>Update quote status to presented to customer</label>
        <locationX>3580</locationX>
        <locationY>1198</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Dic_signing_started</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Presented to customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and quote status to presented to customer</description>
        <name>Update_quote_status_to_presented_to_customer_Acc_Con</name>
        <label>Update quote status to presented to customer_Acc_Con</label>
        <locationX>3844</locationX>
        <locationY>1202</locationY>
        <connector>
            <targetReference>Update_opp_to_Quote_Dic_signing_started</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Presented to customer</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update Quote status to rejected if account, contact, opportunity exists</description>
        <name>Update_quote_status_to_rejected</name>
        <label>Update quote status to rejected</label>
        <locationX>3197</locationX>
        <locationY>1191</locationY>
        <connector>
            <targetReference>UpdateopptoQuoteUnderwritingfailed</targetReference>
        </connector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update  account, contact if they are blank and Quote Status to New</description>
        <name>Update_quote_status_to_rejected_Acc_Con</name>
        <label>Update quote status to rejected_Acc_Con</label>
        <locationX>3454</locationX>
        <locationY>1185</locationY>
        <connector>
            <targetReference>UpdateopptoQuoteUnderwritingfailed</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Account_records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_contacts.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>Update opp to Quote Underwriting failed</description>
        <name>UpdateopptoQuoteUnderwritingfailed</name>
        <label>Update opp to Quote Underwriting failed</label>
        <locationX>3325</locationX>
        <locationY>1710</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Reason_For_Lost__c</field>
            <value>
                <stringValue>Refused Credit approval</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Closed Lost</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Substage__c</field>
            <value>
                <stringValue>ALD Withdrawal</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>726</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>check_if_account_or_contact_exists</targetReference>
        </connector>
        <filterFormula>AND(
OR(
        NOT({!$User.Bypass_Workflow__c}),
        {!$User.Id} = CASESAFEID ({!$Label.SmartIDFCreatedbyId})  
    ),
NOT(ISBLANK({!$Record.IDFUniqueUserID__c})),
NOT(ISBLANK(TEXT({!$Record.IDF_Status__c}))),
NOT(ISBLANK(TEXT({!$Record.Subsidiary__c}))),
ISPICKVAL({!$Record.Subsidiary__c}, &quot;Belgium&quot;),
{!$User.Id} = CASESAFEID ({!$Label.SmartIDFCreatedbyId})
)</filterFormula>
        <object>Quote</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
