force-app/main/default/flows/BEL_populate_partner_values_on_customer_and_prospect_accounts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Checking_If_account_partner_is_not_null</name>
        <label>Checking If account partner is not null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_partner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Partner__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_values</targetReference>
            </connector>
            <label>Check partner</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>BEL - populate partner values on customer and prospect accounts {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BEL - populate partner values on customer and prospect accounts</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Partner_values</name>
        <label>Update Partner values</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Partner_Email__c</field>
            <value>
                <elementReference>$Record.Partner__r.Email__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Name__c</field>
            <value>
                <elementReference>$Record.Partner__r.Account_Source__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Partner_Phone__c</field>
            <value>
                <elementReference>$Record.Partner__r.Phone</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Checking_If_account_partner_is_not_null</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$User.Bypass_Workflow__c}),
ISPICKVAL({!$Record.Subsidiary__c}, &apos;Belgium&apos;),
OR (ISNEW(), ISCHANGED({!$Record.Partner__c})))</filterFormula>
        <object>Account</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
