force-app/main/default/flows/Capture_the_End_Date_Change_of_a_Contract.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_Contract_is_in_scope</name>
        <label>If Contract is in scope</label>
        <locationX>389</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>In_Scope</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>EndDate_Criteria</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_the_tech_field</targetReference>
            </connector>
            <label>In Scope</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_V3_Enabled</name>
        <label>Is V3 Enabled ?</label>
        <locationX>383</locationX>
        <locationY>301</locationY>
        <defaultConnector>
            <targetReference>If_Contract_is_in_scope</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_V3_Enabled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Subsidiary_Setting.Opportunity_Renewal_V3_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Original version before the deployment of BR-7451</description>
    <environments>Default</environments>
    <formulas>
        <name>EndDate_Criteria</name>
        <dataType>Boolean</dataType>
        <expression>OR(
	AND(
	OR(
	IsNew(),
	ISCHANGED( {!$Record.Forecast_End_Date__c} )
	),
	If( IsNew() , NOT(ISBLANK({!$Record.Forecast_End_Date__c})), 
	NOT (YEAR( PRIORVALUE({!$Record.Forecast_End_Date__c} ) ) = YEAR({!$Record.Forecast_End_Date__c} ) )),
	NOT({!$Record.Forecast_End_Date__c} &lt; TODAY()),	
	If(YEAR({!$Record.Forecast_End_Date__c} ) &gt;= YEAR( TODAY() ) + 2, NOT(ISBLANK({!$Record.Opportunity__c})), true)
	),
	AND(
	OR(
	IsNew(),
	ISCHANGED( {!$Record.Real_lease_end_date__c} )
	),
	If( IsNew() , NOT(ISBLANK({!$Record.Real_lease_end_date__c})), 
	NOT (YEAR( PRIORVALUE({!$Record.Real_lease_end_date__c} ) ) = YEAR({!$Record.Real_lease_end_date__c} ) )),
	NOT({!$Record.Real_lease_end_date__c} &lt; TODAY()),	
	If(YEAR({!$Record.Real_lease_end_date__c} ) &gt;= YEAR( TODAY() ) + 2, NOT(ISBLANK({!$Record.Opportunity__c})), true)
	),
	AND(
	OR(
	IsNew(),
	ISCHANGED( {!$Record.EndDate} )
	),
	If( IsNew() , NOT(ISBLANK({!$Record.EndDate})), 
	NOT (YEAR( PRIORVALUE({!$Record.EndDate} ) ) = YEAR({!$Record.EndDate} ) )),
	NOT({!$Record.EndDate} &lt; TODAY()),	
	If(YEAR({!$Record.EndDate} ) &gt;= YEAR( TODAY() ) + 2, NOT(ISBLANK({!$Record.Opportunity__c})), true)
	)
)</expression>
    </formulas>
    <interviewLabel>Capture the End Date Change of a Contrat {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Capture the End Date Change of a Contract</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Subsidiary_Setting</name>
        <label>Get Related Subsidiary Setting</label>
        <locationX>175</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_V3_Enabled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account.Subsidiary_Indicator__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubsidiarySettings__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_the_tech_field</name>
        <label>Update the tech field</label>
        <locationX>659</locationX>
        <locationY>117</locationY>
        <inputAssignments>
            <field>TECH_Date_of_End_date_changed__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>49</locationY>
        <connector>
            <targetReference>Get_Related_Subsidiary_Setting</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Forecast_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Real_lease_end_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contract</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
