force-app/main/default/flows/Case_On_Close_Send_Closure_Email_MX_Maintenance.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Closure_Email</name>
        <label>Send Closure Email</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Case.MEX_8_0_Ayvens_Correo_de_Cierre</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.MEX_8_0_Ayvens_Correo_de_Cierre</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_case_closure_for_Mexico</name>
        <label>Check case closure for Mexico</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Closed_maintenance_case_Mexico</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND (9 AND 10)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Case_Category__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Replacement car</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Road assistance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Change</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Corrective maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preventive maintenance</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Transfer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Vehicle Verification</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Closure_Email</targetReference>
            </connector>
            <label>Closed maintenance case - Mexico</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Case - On - Close - Send Closure Email (MX Maintenance) {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - On - Close - Send Closure Email (MX Maintenance)</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_case_closure_for_Mexico</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$User.Bypass_Workflow__c}),
({!$Record.RecordType.DeveloperName} = &apos;Case_External_Mexico&apos;)
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
