force-app/main/default/flows/CHL_PER_Inform_contact_on_case_Closed_Open.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>PER_Email_Alert_Inform_Contact_On_Case_Open</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>PER-Email Alert</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>Case.PER_Email_Alert_Inform_Contact_On_Case_Open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.PER_Email_Alert_Inform_Contact_On_Case_Open</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CHL_PER_Email_Alert_Inform_Contact_On_Case_Closed</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Chile-Peru-EmailAlert</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>Case.CHL_PER_Email_Alert_Inform_Contact_On_Case_Closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CHL_PER_Email_Alert_Inform_Contact_On_Case_Closed</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>emailAlertSelection</name>
            <value>
                <stringValue>CHL_Email_Alert_Inform_Contact_On_Case_Open</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>CHL-Email Alert</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>Case.CHL_Email_Alert_Inform_Contact_On_Case_Open</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.CHL_Email_Alert_Inform_Contact_On_Case_Open</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>CCCM-Inform Contact On Case Opened</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_pmetdec</targetReference>
            </connector>
            <label>CCCM-Inform Contact On Case Closed</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Chile-Inform Contact on Case Opened</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_3_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>300</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_3_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_3_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_3_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>This process builder used for CCCM CHL-PER</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($User.Bypass_Workflow__c = false,
AND(NOT(ISBLANK([Case].ContactId) ),NOT(ISBLANK([Case].Contact.Email))),
[Case].Inform_Contact_On_Case_Opened__c=true,
CONTAINS($Label.CCCMInformContactOnOpened,
[Case].RecordType.DeveloperName),
TEXT([Case].Type)!=&apos;Complaint&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$User.Bypass_Workflow__c} = false,
AND(NOT(ISBLANK({!myVariable_current.ContactId}) ),NOT(ISBLANK({!myVariable_current.Contact.Email}))),
{!myVariable_current.Inform_Contact_On_Case_Opened__c}=true,
CONTAINS({!$Label.CCCMInformContactOnOpened},
{!myVariable_current.RecordType.DeveloperName}),
TEXT({!myVariable_current.Type})!=&apos;Complaint&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($User.Bypass_Workflow__c = false,
AND(NOT(ISBLANK([Case].ContactId) ),NOT(ISBLANK([Case].Contact.Email))),
[Case].Inform_Contact_On_Case_Opened__c=true,
CONTAINS($Label.CCCMInformContactOnOpened,
[Case].RecordType.DeveloperName),
TEXT([Case].Type)!=&apos;Complaint&apos;)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$User.Bypass_Workflow__c} = false,
AND(NOT(ISBLANK({!myVariable_old.ContactId}) ),NOT(ISBLANK({!myVariable_old.Contact.Email}))),
{!myVariable_old.Inform_Contact_On_Case_Opened__c}=true,
CONTAINS({!$Label.CCCMInformContactOnOpened},
{!myVariable_old.RecordType.DeveloperName}),
TEXT({!myVariable_old.Type})!=&apos;Complaint&apos;)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($User.Bypass_Workflow__c = false,
AND(NOT(ISBLANK([Case].ContactId) ),NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed =True,
[Case].Inform_Contact_On_Case_Closed__c=true,
CONTAINS($Label.CCCMInformContactOnClosed,
[Case].RecordType.DeveloperName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$User.Bypass_Workflow__c} = false,
AND(NOT(ISBLANK({!myVariable_current.ContactId}) ),NOT(ISBLANK({!myVariable_current.Contact.Email}))),
{!myVariable_current.IsClosed} =True,
{!myVariable_current.Inform_Contact_On_Case_Closed__c}=true,
CONTAINS({!$Label.CCCMInformContactOnClosed},
{!myVariable_current.RecordType.DeveloperName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($User.Bypass_Workflow__c = false,
AND(NOT(ISBLANK([Case].ContactId) ),NOT(ISBLANK([Case].Contact.Email))),
[Case].IsClosed =True,
[Case].Inform_Contact_On_Case_Closed__c=true,
CONTAINS($Label.CCCMInformContactOnClosed,
[Case].RecordType.DeveloperName))</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$User.Bypass_Workflow__c} = false,
AND(NOT(ISBLANK({!myVariable_old.ContactId}) ),NOT(ISBLANK({!myVariable_old.Contact.Email}))),
{!myVariable_old.IsClosed} =True,
{!myVariable_old.Inform_Contact_On_Case_Closed__c}=true,
CONTAINS({!$Label.CCCMInformContactOnClosed},
{!myVariable_old.RecordType.DeveloperName}))</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>  $User.Bypass_Workflow__c = false &amp;&amp; [Case].RecordType.Name = &apos;Case External Chile&apos; &amp;&amp; [Case].Inform_Contact_On_Case_Opened__c = True &amp;&amp; [Case].Subsidiary_Indicator__c = &apos;15201&apos; &amp;&amp;  [Case].ContactId&lt;&gt; Null &amp;&amp; [Case].ContactEmail = Null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>  {!$User.Bypass_Workflow__c} = false &amp;&amp; {!myVariable_current.RecordType.Name} = &apos;Case External Chile&apos; &amp;&amp; {!myVariable_current.Inform_Contact_On_Case_Opened__c} = True &amp;&amp; {!myVariable_current.Subsidiary_Indicator__c} = &apos;15201&apos; &amp;&amp;  {!myVariable_current.ContactId}&lt;&gt; Null &amp;&amp; {!myVariable_current.ContactEmail} = Null</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>  $User.Bypass_Workflow__c = false &amp;&amp; [Case].RecordType.Name = &apos;Case External Chile&apos; &amp;&amp; [Case].Inform_Contact_On_Case_Opened__c = True &amp;&amp; [Case].Subsidiary_Indicator__c = &apos;15201&apos; &amp;&amp;  [Case].ContactId&lt;&gt; Null &amp;&amp; [Case].ContactEmail = Null</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>  {!$User.Bypass_Workflow__c} = false &amp;&amp; {!myVariable_old.RecordType.Name} = &apos;Case External Chile&apos; &amp;&amp; {!myVariable_old.Inform_Contact_On_Case_Opened__c} = True &amp;&amp; {!myVariable_old.Subsidiary_Indicator__c} = &apos;15201&apos; &amp;&amp;  {!myVariable_old.ContactId}&lt;&gt; Null &amp;&amp; {!myVariable_old.ContactEmail} = Null</expression>
    </formulas>
    <interviewLabel>CHL_PER_Inform_contact_on_case_Closed_Open-6_InterviewLabel</interviewLabel>
    <label>CHL-PER-Inform contact on case Closed/Open</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Draft</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
