force-app/main/default/flows/createEntitlementOnAccount.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Create an entitlement on account</description>
    <formulas>
        <name>EndDate</name>
        <dataType>Date</dataType>
        <expression>{!$System.OriginDateTime}</expression>
    </formulas>
    <formulas>
        <description>Store the prefix of Account Subsidary</description>
        <name>SubsidaryPrefix</name>
        <dataType>String</dataType>
        <expression>IF(NOT(ISBLANK({!AccountSubsidary})),CASE({!AccountSubsidary},
&apos;Mexico&apos;, &apos;MEX&apos;,
&apos;Portugal&apos;, &apos;PRT&apos;,
&apos;Belgium&apos;, &apos;BEL&apos;,
&apos;Peru&apos;, &apos;PER&apos;,
&apos;Chile&apos;, &apos;CHL&apos;,
&apos;Brazil&apos;,&apos;BRA&apos;,
&apos;Colombia&apos;,&apos;COL&apos;,
&apos;Italy&apos;,&apos;ITA&apos;,
&apos;Algeria&apos;,&apos;ALG&apos;,
&apos;Morocco&apos;,&apos;MOR&apos;
,&apos;Other&apos;),&apos;Other&apos;)</expression>
    </formulas>
    <interviewLabel>createEntitlementOnAccount {!$Flow.CurrentDateTime}</interviewLabel>
    <label>CCCM-createEntitlementOnAccount</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create an entitlement</description>
        <name>CreateAnEntitlement</name>
        <label>CreateAnEntitlement</label>
        <locationX>782</locationX>
        <locationY>67</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>StoretheAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!AccountName} - {!SubsidaryPrefix}</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SlaProcessId</field>
            <value>
                <elementReference>EntitlementId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Entitlement</object>
    </recordCreates>
    <recordLookups>
        <description>Fetch the Account Record</description>
        <name>GetAccountRecords</name>
        <label>GetAccountRecords</label>
        <locationX>390</locationX>
        <locationY>54</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetEntitlementRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountid</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>StoretheAccountId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>AccountSubsidary</assignToReference>
            <field>Subsidiary__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Get the Entitlement Records  based on the Account subsidary</description>
        <name>GetEntitlementRecords</name>
        <label>GetEntitlementRecords</label>
        <locationX>583</locationX>
        <locationY>57</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateAnEntitlement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsVersionDefault</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountSubsidary</elementReference>
            </value>
        </filters>
        <object>SlaProcess</object>
        <outputAssignments>
            <assignToReference>EntitlementId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetAccountRecords</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <description>Store the Account Name</description>
        <name>AccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the Subsidary of an account</description>
        <name>AccountSubsidary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the Entitlement id</description>
        <name>EntitlementId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>StoretheAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Store the Account id</description>
        <name>varAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
