force-app/main/default/flows/DayToDayCampaign_From_Lead.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Counting_Campaign_Mem</name>
        <label>Counting Campaign Mem</label>
        <locationX>1150</locationX>
        <locationY>36</locationY>
        <assignmentItems>
            <assignToReference>NumberofCampMem</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Count_Campaign_Members_Count</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_Lead_Creation</name>
        <label>Decision Lead Creation</label>
        <locationX>906</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>Default</defaultConnectorLabel>
        <rules>
            <name>Campaign_Member_is_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NumberofCampMem</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DaDcampaignmember</targetReference>
            </connector>
            <label>Campaign Member is null</label>
        </rules>
    </decisions>
    <interviewLabel>DayToDayCampaign From Lead {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DayToDayCampaign From Lead</label>
    <loops>
        <name>Count_Campaign_Members_Count</name>
        <label>Count Campaign Members Count</label>
        <locationX>901</locationX>
        <locationY>40</locationY>
        <assignNextValueToReference>VCampMemC</assignNextValueToReference>
        <collectionReference>vCampaignmemfound</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Counting_Campaign_Mem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_Lead_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>DaDcampaignmember</name>
        <label>DaDcampaignmember</label>
        <locationX>912</locationX>
        <locationY>322</locationY>
        <assignRecordIdToReference>Campmemid</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>DefaultCampaign</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>vLeadID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Campaignmembers</name>
        <label>Campaignmembers</label>
        <locationX>733</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Campaign_Members_Count</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>vCampaignmemfound</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Default_Campaign_lookup</name>
        <label>Default Campaign lookup</label>
        <locationX>573</locationX>
        <locationY>39</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaignmembers</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 5) OR (1 AND 3 AND 4)</filterLogic>
        <filters>
            <field>Day_to_Day_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_bu__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vPartner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_all__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VsubsidiaryId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Partner_RecordType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>DefaultCampaign</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Record_Lookup</name>
        <label>Lead Record Lookup</label>
        <locationX>390</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Default_Campaign_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadID</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vPartner</assignToReference>
            <field>Account_Environment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSubsidiary</assignToReference>
            <field>HQ_Country_Names_List__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PartnerAccount</assignToReference>
            <field>Partner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>VsubsidiaryId</assignToReference>
            <field>Subsidiary_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Lead_Record_Lookup</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Campmemid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DefaultCampaign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DefaultCampID</name>
        <dataType>Date</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NumberofCampMem</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>PartnerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCampaignmemfound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>VCampMemC</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>vLeadID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSubsidiary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>VsubsidiaryId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
