force-app/main/default/flows/DtoD_Campaign_from_Campaign_member_obj.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_One_for_each_campmem</name>
        <label>Add One for each campmem</label>
        <locationX>681</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>vCampmemsoflead</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Campmem_counter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_to_delete_or_create_record</name>
        <label>Decision to delete or create record</label>
        <locationX>1181</locationX>
        <locationY>152</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>If_no_Campaign_member_is_assigned_to_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCammemfound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vCampmemsoflead</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vD2DCampaignId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_D2D_Campaign_Record_for_Lead</targetReference>
            </connector>
            <label>If no Campaign member is assigned to Lead</label>
        </rules>
        <rules>
            <name>If_a_campaign_member_is_assigned_to_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCammemfound</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Vd2dCampMemID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vLeadsubsidiary</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>FFM UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vLeadSource</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>LinkedIn</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Campaign_Member_to_Delete</targetReference>
            </connector>
            <label>If a campaign member is assigned to lead</label>
        </rules>
    </decisions>
    <description>This flow is triggered from Campaign member trigger to delete/create day to day campaign member.</description>
    <environments>Default</environments>
    <interviewLabel>DtoD Campaign from Campaign member obj {!$Flow.CurrentDateTime}</interviewLabel>
    <label>DtoD Campaign from Campaign member obj</label>
    <loops>
        <name>Campmem_counter</name>
        <label>Campmem counter</label>
        <locationX>980</locationX>
        <locationY>33</locationY>
        <assignNextValueToReference>vLoopCammem</assignNextValueToReference>
        <collectionReference>vCammemfound</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Add_One_for_each_campmem</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>D2DcampMemLookup</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_D2D_Campaign_Record_for_Lead</name>
        <label>Create D2D Campaign Record for Lead</label>
        <locationX>1219</locationX>
        <locationY>339</locationY>
        <assignRecordIdToReference>vCreatedCampMem</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>vD2DCampaignId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordDeletes>
        <name>Campaign_Member_to_Delete</name>
        <label>Campaign Member to Delete</label>
        <locationX>963</locationX>
        <locationY>371</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vD2DCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
    </recordDeletes>
    <recordLookups>
        <name>Campaign_member_fast_lookup</name>
        <label>Campaign member fast lookup</label>
        <locationX>391</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Lead_Lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>VcampaignmemberID</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>vCampaignmemberlk</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CampaignId</queriedFields>
        <queriedFields>LeadId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Campaign_members_assigned_to_lead</name>
        <label>Campaign members assigned to lead</label>
        <locationX>827</locationX>
        <locationY>23</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campmem_counter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>vCammemfound</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>D2DcampMemLookup</name>
        <label>D2DcampMemLookup</label>
        <locationX>1313</locationX>
        <locationY>53</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_to_delete_or_create_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CampaignId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vD2DCampaignId</elementReference>
            </value>
        </filters>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputAssignments>
            <assignToReference>Vd2dCampMemID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Day_to_Day_Campaign_lookup</name>
        <label>Day to Day Campaign lookup</label>
        <locationX>672</locationX>
        <locationY>30</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Campaign_members_assigned_to_lead</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 5) OR (1 AND 3 AND 4 AND 6)</filterLogic>
        <filters>
            <field>Day_to_Day_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_bu__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadPartner</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_all__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Vleadcampid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PartnerAccount</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Partner_RecordType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>vD2DCampaignId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Lead_Lookup</name>
        <label>Lead Lookup</label>
        <locationX>527</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Day_to_Day_Campaign_lookup</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vCampaignmemberlk.LeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputAssignments>
            <assignToReference>vLeadPartner</assignToReference>
            <field>Account_Environment__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLeadsubsidiary</assignToReference>
            <field>HQ_Country_Names_List__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLeadId</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vLeadSource</assignToReference>
            <field>LeadSource</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>PartnerAccount</assignToReference>
            <field>Partner__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>Vleadcampid</assignToReference>
            <field>Subsidiary_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Campaign_member_fast_lookup</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>PartnerAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCammemfound</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>VcampaignmemberID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCampaignmemberlk</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>vCampmemsoflead</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vCampMemToDel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCreatedCampMem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vD2DCampaignId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vd2dCampMemID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Vleadcampid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadPartner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadSource</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLeadsubsidiary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vLoopCammem</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
</Flow>
