force-app/main/default/flows/EditTask.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Portugal_Task_Edit_Page_Url</name>
        <label>Set Task Edit Page Url</label>
        <locationX>526</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/TaskEdit?id={!vTaskId}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Standard_Lightning_Url</name>
        <label>Set Standard Lightning Url</label>
        <locationX>839</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/lightning/r/Task/{!vTaskId}/edit?nooverride=1&amp;backgroundContext=%2Flightning%2Fr%2FTask%2F{!vTaskId}%2Fview</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Standard_Url</name>
        <label>Set Standard Url</label>
        <locationX>830</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!vTaskId}/e?nooverride=1&amp;retURL={!vTaskId}&amp;saveURL={!vTaskId}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Handle_Theme</name>
        <label>Handle Theme</label>
        <locationX>513</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Set_Standard_Url</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>isLightningTheme</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.UITheme</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Theme4</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.UITheme</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Theme4u</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Standard_Lightning_Url</targetReference>
            </connector>
            <label>isLightningTheme</label>
        </rules>
    </decisions>
    <decisions>
        <name>Redirect</name>
        <label>Redirect</label>
        <locationX>383</locationX>
        <locationY>209</locationY>
        <defaultConnector>
            <targetReference>Handle_Theme</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Portugal_Task_Edit_Page</name>
            <conditionLogic>(1 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10) AND 2 AND 3</conditionLogic>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>62001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.UserRoleId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>taskOwner.UserRoleId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Id</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>taskOwner.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20801</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>7601</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>57801</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>57802</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75202</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>currentUser.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>20802</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Portugal_Task_Edit_Page_Url</targetReference>
            </connector>
            <label>Task Edit Page</label>
        </rules>
    </decisions>
    <description>Redirects the user to the &quot;Edit task&quot; custom visualforce page when a user matches the owner role.
T-16377 fix</description>
    <environments>Default</environments>
    <formulas>
        <description>Id of the current user executing the flow</description>
        <name>vUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <interviewLabel>EditTask {!$Flow.CurrentDateTime}</interviewLabel>
    <label>EditTask</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Find_Current_User</name>
        <label>Find Current User</label>
        <locationX>65</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Redirect</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vUserId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>currentUser</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <queriedFields>UserRoleId</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find the task owner record.</description>
        <name>Find_Owner</name>
        <label>Find Owner</label>
        <locationX>65</locationX>
        <locationY>167</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>taskOwner</outputReference>
        <queriedFields>UserRoleId</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Find the task record.</description>
        <name>Find_Task_Record</name>
        <label>Find Task Record</label>
        <locationX>67</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Find_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vTaskId</elementReference>
            </value>
        </filters>
        <object>Task</object>
        <outputAssignments>
            <assignToReference>vOwnerId</assignToReference>
            <field>OwnerId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Find_Task_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Current user running the flow</description>
        <name>currentUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Owner of the task</description>
        <name>taskOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>Final location Url</description>
        <name>vFinalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Id of the current owner of the task</description>
        <name>vOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Id of the task</description>
        <name>vTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
