force-app/main/default/flows/Email_Notification_to_be_sent_to_follow_up_Back_Order_for_LATAM.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Chile_Email</name>
        <label>Send Chile Email</label>
        <locationX>314</locationX>
        <locationY>539</locationY>
        <actionName>Case.Chile_Date_population_to_follow_up_on_the_parts_ordered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Chile_Date_population_to_follow_up_on_the_parts_ordered</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Colombia_Email</name>
        <label>Send Colombia Email</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <actionName>Case.Colombia_Date_population_to_follow_up_on_the_parts_ordered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Colombia_Date_population_to_follow_up_on_the_parts_ordered</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Mexico_Email</name>
        <label>Send Mexico Email</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <actionName>Case.Mexico_Date_population_to_follow_up_on_the_parts_ordered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Mexico_Date_population_to_follow_up_on_the_parts_ordered</nameSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Peru_Email</name>
        <label>Send Peru Email</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <actionName>Case.Peru_Date_population_to_follow_up_on_the_parts_ordered</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.Peru_Date_population_to_follow_up_on_the_parts_ordered</nameSegment>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Bypass_workflow</name>
        <label>Bypass workflow?</label>
        <locationX>974</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.Bypass_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_subsidiary_and_Follow_Up_Back_order_date</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_subsidiary_and_Follow_Up_Back_order_date</name>
        <label>Check subsidiary and Follow Up Back order date</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Subsidiary_of_Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>48401</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Mexico_Email</targetReference>
            </connector>
            <label>Check Subsidiary of Mexico</label>
        </rules>
        <rules>
            <name>Check_Subsidiary_of_Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>15201</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Chile_Email</targetReference>
            </connector>
            <label>Check Subsidiary of Chile</label>
        </rules>
        <rules>
            <name>Check_Subsidiary_of_Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>17001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Colombia_Email</targetReference>
            </connector>
            <label>Check Subsidiary of Colombia</label>
        </rules>
        <rules>
            <name>Check_Subsidiary_of_Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>60401</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Peru_Email</targetReference>
            </connector>
            <label>Check Subsidiary of Peru</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Notification to be sent to follow up Back Order for LATAM {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Notification to be sent to follow up Back Order for LATAM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Bypass_workflow</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Follow_up_Back_order__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ContactEmail</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
