force-app/main/default/flows/Fleet_Table_Terminating_Fleet_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AssignOutput</name>
        <label>AssignOutput</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Year_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisYearFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Month_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisMonthFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Year_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Month_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOutput_2</name>
        <label>AssignOutput 2</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Year_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisYearFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Month_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisMonthFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Year_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Month_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOutput_3</name>
        <label>AssignOutput 3</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Year_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisYearFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Month_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisMonthFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Year_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Month_3</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignOutput_4</name>
        <label>AssignOutput 4</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Year_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisYearFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Terminating_This_Month_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalTerminatingThisMonthFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Year_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Terminating_This_Month_4</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Month_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Car Terminating this Month 1</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_Month_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Month_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Car Terminating this Month 2</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_Month_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Month_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Car Terminating this Month 3</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_Month_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Month_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Car Terminating this Month 4</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_Month_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Year_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Car Terminating this Year 2</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_year_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Year_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Car Terminating this Year 3</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_year_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_Terminating_this_Year_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Car Terminating this Year 4</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_year_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_CarTerminating_this_Year_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Car Terminating this Year 1</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Vans_terminating_this_year_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_Month_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Other terminating this Month 1</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Month_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}), MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_Month_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Other terminating this Month 2</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Month_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}), MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_Month_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Other terminating this Month 3</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Month_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}), MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_Month_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Other terminating this Month 4</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Month_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger Car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}), MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_year_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Other terminating this year 1</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Year_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_year_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Other terminating this year 2</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Year_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_year_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Other terminating this year 3</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Year_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_terminating_this_year_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Other terminating this year 4</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Calculate_Terminating_This_Year_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;LCV&quot;, {!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} &lt;&gt; &quot;Passenger car&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_Month_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Vans terminating this Month 1</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_Month_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_Month_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Vans terminating this Month 2</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_Month_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_Month_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Vans terminating this Month 3</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_Month_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_Month_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Vans terminating this Month 4</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_Month_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}),MONTH({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = MONTH({!$Flow.CurrentDate}) )</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_year_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Vans terminating this year 1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_year_1</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_year_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Vans terminating this year 2</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_2</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_year_2</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_year_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Vans terminating this year 3</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_3</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_year_3</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_terminating_this_year_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Vans terminating this year 4</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_terminating_this_Month_4</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_4</collectionReference>
        <conditionLogic>formula_evaluates_to_true</conditionLogic>
        <connector>
            <targetReference>Filter_Other_terminating_this_year_4</targetReference>
        </connector>
        <formula>AND({!currentItem_Filter_Other_terminating_this_Month_4.Vehicle_Type__c} = &quot;LCV&quot;, YEAR({!currentItem_Filter_Other_terminating_this_Month_4.Contract_End_Date_Calculated__c}) = YEAR({!$Flow.CurrentDate}))</formula>
    </collectionProcessors>
    <decisions>
        <name>User_Choice_Decision_Element</name>
        <label>User Choice</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>This Account</defaultConnectorLabel>
        <rules>
            <name>This_Account_all_it_s_National_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all it&apos;s National Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_National_Hierarchy</targetReference>
            </connector>
            <label>This Account &amp; all it&apos;s National Hierarchy</label>
        </rules>
        <rules>
            <name>This_Account_Immediate_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; Immediate Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Immediate_Subsid</targetReference>
            </connector>
            <label>This Account &amp; Immediate Subsidiaries</label>
        </rules>
        <rules>
            <name>This_Account_all_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_Subsidiaries</targetReference>
            </connector>
            <label>This Account &amp; all Subsidiaries</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalTerminatingThisMonthFormula</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Month_1.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Month_1.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Month_1.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisMonthFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Month_2.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Month_2.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Month_2.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisMonthFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Month_3.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Month_3.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Month_3.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisMonthFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Month_4.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Month_4.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Month_4.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisYearFormula</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Year_1.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Year_1.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Year_1.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisYearFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Year_2.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Year_2.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Year_2.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisYearFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Year_3.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Year_3.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Year_3.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalTerminatingThisYearFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Terminating_This_Year_4.Fleet_Potential_Cars__c} +{!Calculate_Terminating_This_Year_4.Fleet_potential_cars_Y_1__c} + {!Calculate_Terminating_This_Year_4.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Fleet Table: Terminating Fleet Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fleet Table: Terminating Fleet Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_National_Hierarchy</name>
        <label>Get Account &amp; ALL National Hierarchy</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_1</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_Subsidiaries</name>
        <label>Get Account &amp; ALL Subsidiaries</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_Hierachy_Path__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Immediate_Subsid</name>
        <label>Get Account &amp; Immediate Subsid</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts</name>
        <label>1 Get Contracts</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_CarTerminating_this_Year_1</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_2</name>
        <label>2 Get Contracts 2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Year_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_3</name>
        <label>3 Get Contracts 3</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Year_3</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_4</name>
        <label>4 Get Contracts 4</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Year_4</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6 OR 7) AND 8 AND 9</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Contract_End_Date_Calculated__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Choice_Decision_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Calculate_Terminating_This_Month_1</name>
        <label>1 Calculate Terminating This Month 1</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>AssignOutput</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Current Month Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Month_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_Month_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_Month_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Month_2</name>
        <label>2 Calculate Terminating This Month 2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>AssignOutput_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Current Month Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Month_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_Month_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_Month_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Month_3</name>
        <label>3 Calculate Terminating This Month 3</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>AssignOutput_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Current Month Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Month_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_Month_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_Month_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Month_4</name>
        <label>4 Calculate Terminating This Month 4</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <connector>
            <targetReference>AssignOutput_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Current Month Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Month_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_Month_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_Month_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Year_1</name>
        <label>1 Calculate Terminating This Year 1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Month_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_CarTerminating_this_Year_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_year_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_year_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Current Year Terminating</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Year_2</name>
        <label>2 Calculate Terminating This Year 2</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Month_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Current Year Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Year_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_year_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_year_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Year_3</name>
        <label>3 Calculate Terminating This Year 3</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Month_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Current Year Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Year_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_year_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_year_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Terminating_This_Year_4</name>
        <label>4 Calculate Terminating This Year 4</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Filter_Car_Terminating_this_Month_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Current Year Terminating</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_Terminating_this_Year_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_terminating_this_year_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_terminating_this_year_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_1</name>
        <label>1 Transform List of Account IDs 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_ALL_National_Hierarchy[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_2</name>
        <label>2 Transform List of Account IDs 2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_2</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_Immediate_Subsid[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_3</name>
        <label>3 Transform List of Account IDs 3</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_3</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_ALL_Subsidiaries[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_4</name>
        <label>4 Transform List of Account IDs 4</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_4</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountOutputCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Other_terminating_this_Month_4</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
