force-app/main/default/flows/Fleet_Table_Running_Fleet_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Ouput</name>
        <label>Assign Ouput</label>
        <locationX>50</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Funded_Fleet_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFundedFleetFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Managed_Fleet_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalManagedFleetFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Funded_Fleet_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Managed_Fleet_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ouput2</name>
        <label>Assign Ouput 2</label>
        <locationX>314</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Funded_Fleet_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFundedFleetFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Managed_Fleet_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalManagedFleetFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Funded_Fleet_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Managed_Fleet_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ouput_3</name>
        <label>Assign Ouput 3</label>
        <locationX>578</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Funded_Fleet_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFundedFleetFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Managed_Fleet_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalManagedFleetFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Funded_Fleet_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Managed_Fleet_3</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Ouput_4</name>
        <label>Assign Ouput 4</label>
        <locationX>842</locationX>
        <locationY>1646</locationY>
        <assignmentItems>
            <assignToReference>Calculate_Funded_Fleet_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFundedFleetFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Calculate_Managed_Fleet_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalManagedFleetFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Funded_Fleet_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Calculate_Managed_Fleet_4</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <collectionProcessors>
        <name>Filter_Car_From_Funded_Fleet1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Car From Funded Fleet 1</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Funded_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Funded_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Car From Funded Fleet 2</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Funded_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Funded_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Car From Funded Fleet 3</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Funded_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Funded_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Car From Funded Fleet 4</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Funded_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Managed_Fleet_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Car From Managed Fleet 1</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Managed_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Managed_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Car From Managed Fleet 2</label>
        <locationX>314</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Managed_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Managed_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Car From Managed Fleet 3</label>
        <locationX>578</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Managed_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Car_From_Managed_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Car From Managed Fleet 4</label>
        <locationX>842</locationX>
        <locationY>1214</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Vans_From_Managed_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Funded_Fleet_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Other From Funded Fleet 1</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Funded_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Funded_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Other From Funded Fleet 2</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Funded_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Funded_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Other From Funded Fleet 3</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Funded_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Funded_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Other From Funded Fleet 4</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Funded_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Managed_Fleet_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Other From Managed Fleet 1</label>
        <locationX>50</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Managed_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Managed_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Other From Managed Fleet 2</label>
        <locationX>314</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Managed_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_other_From_Managed_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Other From Managed Fleet 3</label>
        <locationX>578</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Managed_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Other_From_Managed_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Other From Managed Fleet 4</label>
        <locationX>842</locationX>
        <locationY>1430</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>Passenger car</stringValue>
            </rightValue>
        </conditions>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>NotEqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Calculate_Managed_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Funded_Fleet_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Vans From Funded Fleet 1</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Funded_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Funded_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Vans From Funded Fleet 2</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Funded_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Funded_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Vans From Funded Fleet 3</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Funded_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Funded_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Vans From Funded Fleet 4</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_funded_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Funded_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Managed_Fleet_1</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>1 Filter Vans From Managed Fleet 1</label>
        <locationX>50</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_1</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Managed_Fleet_1</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Managed_Fleet_2</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>2 Filter Vans From Managed Fleet 2</label>
        <locationX>314</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_2</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Managed_Fleet_2</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Managed_Fleet_3</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>3 Filter Vans From Managed Fleet 3</label>
        <locationX>578</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_3</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_other_From_Managed_Fleet_3</targetReference>
        </connector>
    </collectionProcessors>
    <collectionProcessors>
        <name>Filter_Vans_From_Managed_Fleet_4</name>
        <elementSubtype>FilterCollectionProcessor</elementSubtype>
        <label>4 Filter Vans From Managed Fleet 4</label>
        <locationX>842</locationX>
        <locationY>1322</locationY>
        <assignNextValueToReference>currentItem_Filter_Other_From_Managed_Fleet_2</assignNextValueToReference>
        <collectionProcessorType>FilterCollectionProcessor</collectionProcessorType>
        <collectionReference>Get_Contracts_Managed_Fleet_4</collectionReference>
        <conditionLogic>and</conditionLogic>
        <conditions>
            <leftValueReference>currentItem_Filter_Other_From_Managed_Fleet_2.Vehicle_Type__c</leftValueReference>
            <operator>EqualTo</operator>
            <rightValue>
                <stringValue>LCV</stringValue>
            </rightValue>
        </conditions>
        <connector>
            <targetReference>Filter_Other_From_Managed_Fleet_4</targetReference>
        </connector>
    </collectionProcessors>
    <decisions>
        <name>User_Choice_Decision_Element</name>
        <label>User Choice</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>This Account</defaultConnectorLabel>
        <rules>
            <name>This_Account_all_it_s_National_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all it&apos;s National Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_National_Hierarchy</targetReference>
            </connector>
            <label>This Account &amp; all it&apos;s National Hierarchy</label>
        </rules>
        <rules>
            <name>This_Account_Immediate_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; Immediate Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Immediate_Subsid</targetReference>
            </connector>
            <label>This Account &amp; Immediate Subsidiaries</label>
        </rules>
        <rules>
            <name>This_Account_all_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_Subsidiaries</targetReference>
            </connector>
            <label>This Account &amp; all Subsidiaries</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>TotalFundedFleetFormula</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Funded_Fleet_1.Fleet_Potential_Cars__c} +{!Calculate_Funded_Fleet_1.Fleet_potential_cars_Y_1__c} + {!Calculate_Funded_Fleet_1.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFundedFleetFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Funded_Fleet_2.Fleet_Potential_Cars__c} +{!Calculate_Funded_Fleet_2.Fleet_potential_cars_Y_1__c} + {!Calculate_Funded_Fleet_2.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFundedFleetFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Funded_Fleet_3.Fleet_Potential_Cars__c} +{!Calculate_Funded_Fleet_3.Fleet_potential_cars_Y_1__c} + {!Calculate_Funded_Fleet_3.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFundedFleetFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Funded_Fleet_4.Fleet_Potential_Cars__c} +{!Calculate_Funded_Fleet_4.Fleet_potential_cars_Y_1__c} + {!Calculate_Funded_Fleet_4.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalManagedFleetFormula</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Managed_Fleet_1.Fleet_Potential_Cars__c} +{!Calculate_Managed_Fleet_1.Fleet_potential_cars_Y_1__c} + {!Calculate_Managed_Fleet_1.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalManagedFleetFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Managed_Fleet_2.Fleet_Potential_Cars__c} +{!Calculate_Managed_Fleet_2.Fleet_potential_cars_Y_1__c} + {!Calculate_Managed_Fleet_2.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalManagedFleetFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Managed_Fleet_3.Fleet_Potential_Cars__c} +{!Calculate_Managed_Fleet_3.Fleet_potential_cars_Y_1__c} + {!Calculate_Managed_Fleet_3.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalManagedFleetFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Calculate_Managed_Fleet_4.Fleet_Potential_Cars__c} +{!Calculate_Managed_Fleet_4.Fleet_potential_cars_Y_1__c} + {!Calculate_Managed_Fleet_4.Fleet_potential_cars_Y_2__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Fleet Table: Running Fleet Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fleet Table: Running Fleet Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_National_Hierarchy</name>
        <label>Get Account &amp; ALL National Hierarchy</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_1</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_Subsidiaries</name>
        <label>Get Account &amp; ALL Subsidiaries</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_Hierachy_Path__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Immediate_Subsid</name>
        <label>Get Account &amp; Immediate Subsid</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_List_of_Account_IDs_2</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_funded_Fleet_1</name>
        <label>1 Get Contracts funded Fleet 1</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Funded_Fleet1</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_funded_Fleet_2</name>
        <label>2 Get Contracts funded Fleet 2</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Funded_Fleet_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_funded_Fleet_3</name>
        <label>3 Get Contracts funded Fleet 3</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Funded_Fleet_3</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_funded_Fleet_4</name>
        <label>4 Get Contracts funded Fleet 4</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Funded_Fleet_4</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND (4 OR 5 OR 6)</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Full Operational Leasing</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pool Fleet</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Financial Lease</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Managed_Fleet_1</name>
        <label>1 Get Contracts Managed Fleet 1</label>
        <locationX>50</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Managed_Fleet_1</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Managed_Fleet_2</name>
        <label>2 Get Contracts Managed Fleet 2</label>
        <locationX>314</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Managed_Fleet_2</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Managed_Fleet_3</name>
        <label>3 Get Contracts Managed Fleet 3</label>
        <locationX>578</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Managed_Fleet_3</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_3</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contracts_Managed_Fleet_4</name>
        <label>4 Get Contracts Managed Fleet 4</label>
        <locationX>842</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Filter_Car_From_Managed_Fleet_4</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>In</operator>
            <value>
                <elementReference>Transform_List_of_Account_IDs_4</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Live</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status_for_report__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>In progress</stringValue>
            </value>
        </filters>
        <filters>
            <field>Contract_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Fleet Management</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contract</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Choice_Decision_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Calculate_Funded_Fleet_1</name>
        <label>1 Calculate Funded Fleet 1</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Contracts_Managed_Fleet_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Funded_Fleet1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Funded_Fleet_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Funded_Fleet_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Funded Fleet</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Funded_Fleet_2</name>
        <label>2 Calculate Funded Fleet 2</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Contracts_Managed_Fleet_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Funded Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Funded_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Funded_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Funded_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Funded_Fleet_3</name>
        <label>3 Calculate Funded Fleet 3</label>
        <locationX>578</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Contracts_Managed_Fleet_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Funded Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Funded_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Funded_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Funded_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Funded_Fleet_4</name>
        <label>4 Calculate Funded Fleet 4</label>
        <locationX>842</locationX>
        <locationY>998</locationY>
        <connector>
            <targetReference>Get_Contracts_Managed_Fleet_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Funded Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Funded_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Funded_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Funded_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Managed_Fleet_1</name>
        <label>1 Calculate Managed Fleet 1</label>
        <locationX>50</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Assign_Ouput</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Managed Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Managed_Fleet_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Managed_Fleet_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Managed_Fleet_1</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Managed_Fleet_2</name>
        <label>2 Calculate Managed Fleet 2</label>
        <locationX>314</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Assign_Ouput2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Managed Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Managed_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Managed_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Managed_Fleet_2</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Managed_Fleet_3</name>
        <label>3 Calculate Managed Fleet 3</label>
        <locationX>578</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Assign_Ouput_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Managed Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Managed_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Managed_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_other_From_Managed_Fleet_3</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Calculate_Managed_Fleet_4</name>
        <label>4 Calculate Managed Fleet 4</label>
        <locationX>842</locationX>
        <locationY>1538</locationY>
        <connector>
            <targetReference>Assign_Ouput_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Managed Fleet</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Car_From_Managed_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Vans_From_Managed_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_1__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Filter_Other_From_Managed_Fleet_4</elementReference>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_potential_cars_Y_2__c</outputFieldApiName>
                <transformType>Count</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_1</name>
        <label>1 Transform List of Account IDs 1</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_funded_Fleet_1</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_ALL_National_Hierarchy[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_2</name>
        <label>2 Transform List of Account IDs 2</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_funded_Fleet_2</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_Immediate_Subsid[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_3</name>
        <label>3 Transform List of Account IDs 3</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_funded_Fleet_3</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account_ALL_Subsidiaries[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_List_of_Account_IDs_4</name>
        <label>4 Transform List of Account IDs 4</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Get_Contracts_funded_Fleet_4</targetReference>
        </connector>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_Account[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountOutputCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>currentItem_Filter_Other_From_Managed_Fleet_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>currentItemFromSourceCollection</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
