force-app/main/default/flows/Fleet_Table_Fleet_Potentials_Autolaunched.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Output_Collection</name>
        <label>Assign Output Collection</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Transform_Current_Year_fleet_potentials_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFleetPotentialFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_fleet_Realistic_potentials_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRealisticPotentialFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Next_Year_fleet_potentials_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNextYearPotentialformula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Year_2_fleet_potentials_1.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total2NextYearpotentialFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Current_Year_fleet_potentials_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_fleet_Realistic_potentials_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Next_Year_fleet_potentials_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Year_2_fleet_potentials_1</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output_Collection2</name>
        <label>2 Assign Output Collection2</label>
        <locationX>50</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Transform_Current_Year_fleet_potentials_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFleetPotentialFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_fleet_Realistic_potentials_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRealisticPotentialFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Next_Year_fleet_potentials_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNextYearPotentialformula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Year_2_fleet_potentials_2.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total2NextYearpotentialFormula2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Current_Year_fleet_potentials_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_fleet_Realistic_potentials_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Next_Year_fleet_potentials_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Year_2_fleet_potentials_2</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output_Collection3</name>
        <label>3Assign Output Collection3</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Transform_Current_Year_fleet_potentials_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFleetPotentialFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_fleet_Realistic_potentials_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRealisticPotentialFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Next_Year_fleet_potentials_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNextYearPotentialformula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Year_2_fleet_potentials_3.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total2NextYearpotentialFormula3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Current_Year_fleet_potentials_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_fleet_Realistic_potentials_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Next_Year_fleet_potentials_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Year_2_fleet_potentials_3</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Output_Collection4</name>
        <label>4Assign Output Collection4</label>
        <locationX>842</locationX>
        <locationY>890</locationY>
        <assignmentItems>
            <assignToReference>Transform_Current_Year_fleet_potentials_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalFleetPotentialFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_fleet_Realistic_potentials_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalRealisticPotentialFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Next_Year_fleet_potentials_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>TotalNextYearPotentialformula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Transform_Year_2_fleet_potentials_4.Total_Fleet_Potential__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Total2NextYearpotentialFormula4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Current_Year_fleet_potentials_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_fleet_Realistic_potentials_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Next_Year_fleet_potentials_4</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountOutputCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Transform_Year_2_fleet_potentials_4</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>User_Choice_Decision_Element</name>
        <label>User Choice</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <defaultConnector>
            <targetReference>Get_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>This Account</defaultConnectorLabel>
        <rules>
            <name>This_Account_all_it_s_National_Hierarchy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all it&apos;s National Hierarchy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_National_Hierarchy</targetReference>
            </connector>
            <label>This Account &amp; all it&apos;s National Hierarchy</label>
        </rules>
        <rules>
            <name>This_Account_Immediate_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; Immediate Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Immediate_Subsid</targetReference>
            </connector>
            <label>This Account &amp; Immediate Subsidiaries</label>
        </rules>
        <rules>
            <name>This_Account_all_Subsidiaries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>User_Choice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>This Account &amp; all Subsidiaries</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_ALL_Subsidiaries</targetReference>
            </connector>
            <label>This Account &amp; all Subsidiaries</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Total2NextYearpotentialFormula</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Year_2_fleet_potentials_1.Fleet_Potential_Cars__c} +{!Transform_Year_2_fleet_potentials_1.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Total2NextYearpotentialFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Year_2_fleet_potentials_2.Fleet_Potential_Cars__c} +{!Transform_Year_2_fleet_potentials_2.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Total2NextYearpotentialFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Year_2_fleet_potentials_3.Fleet_Potential_Cars__c} +{!Transform_Year_2_fleet_potentials_3.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>Total2NextYearpotentialFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Year_2_fleet_potentials_4.Fleet_Potential_Cars__c} +{!Transform_Year_2_fleet_potentials_4.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFleetPotentialFormula</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Current_Year_fleet_potentials_1.Fleet_Potential_Cars__c} + {!Transform_Current_Year_fleet_potentials_1.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFleetPotentialFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Current_Year_fleet_potentials_2.Fleet_Potential_Cars__c} + {!Transform_Current_Year_fleet_potentials_2.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFleetPotentialFormula3</name>
        <dataType>Number</dataType>
        <expression> {!Transform_Current_Year_fleet_potentials_3.Fleet_Potential_Cars__c} + {!Transform_Current_Year_fleet_potentials_3.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalFleetPotentialFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Current_Year_fleet_potentials_4.Fleet_Potential_Cars__c} + {!Transform_Current_Year_fleet_potentials_4.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNextYearPotentialformula</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Next_Year_fleet_potentials_1.Fleet_Potential_Cars__c} + {!Transform_Next_Year_fleet_potentials_1.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNextYearPotentialformula2</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Next_Year_fleet_potentials_2.Fleet_Potential_Cars__c} + {!Transform_Next_Year_fleet_potentials_2.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNextYearPotentialformula3</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Next_Year_fleet_potentials_3.Fleet_Potential_Cars__c} + {!Transform_Next_Year_fleet_potentials_3.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalNextYearPotentialformula4</name>
        <dataType>Number</dataType>
        <expression>{!Transform_Next_Year_fleet_potentials_4.Fleet_Potential_Cars__c} + {!Transform_Next_Year_fleet_potentials_4.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalRealisticPotentialFormula</name>
        <dataType>Number</dataType>
        <expression>{!Transform_fleet_Realistic_potentials_1.Fleet_Potential_Cars__c} + {!Transform_fleet_Realistic_potentials_1.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalRealisticPotentialFormula2</name>
        <dataType>Number</dataType>
        <expression>{!Transform_fleet_Realistic_potentials_2.Fleet_Potential_Cars__c} + {!Transform_fleet_Realistic_potentials_2.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalRealisticPotentialFormula3</name>
        <dataType>Number</dataType>
        <expression>{!Transform_fleet_Realistic_potentials_3.Fleet_Potential_Cars__c} + {!Transform_fleet_Realistic_potentials_3.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TotalRealisticPotentialFormula4</name>
        <dataType>Number</dataType>
        <expression>{!Transform_fleet_Realistic_potentials_4.Fleet_Potential_Cars__c} + {!Transform_fleet_Realistic_potentials_4.Fleet_Potential_Vans__c}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Fleet Table: Fleet Potentials Autolaunched {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fleet Table: Fleet Potentials Autolaunched</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>842</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Current_Year_fleet_potentials_4</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_National_Hierarchy</name>
        <label>Get Account &amp; ALL National Hierarchy</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Current_Year_fleet_potentials_2</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3 OR 4 OR 5</filterLogic>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>NotEqualTo</operator>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>NVA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Current_Account.NVA__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_ALL_Subsidiaries</name>
        <label>Get Account &amp; ALL Subsidiaries</label>
        <locationX>578</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Current_Year_fleet_potentials_3</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Account_Hierachy_Path__c</field>
            <operator>Contains</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account_Immediate_Subsid</name>
        <label>Get Account &amp; Immediate Subsid</label>
        <locationX>314</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_Current_Year_fleet_potentials_1</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Current_Account</name>
        <label>Get Current Account</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>User_Choice_Decision_Element</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Current_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Current_Year_fleet_potentials_1</name>
        <label>Transform Current Year fleet potentials 1</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Transform_fleet_Realistic_potentials_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Fleet Potential Current Year</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Current_Year_fleet_potentials_2</name>
        <label>2 Transform Current Year fleet potentials 2</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Transform_fleet_Realistic_potentials_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Fleet Potential Current Year</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Current_Year_fleet_potentials_3</name>
        <label>3 Transform Current Year fleet potentials 3</label>
        <locationX>578</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Transform_fleet_Realistic_potentials_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Fleet Potential Current Year</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Current_Year_fleet_potentials_4</name>
        <label>4 Transform Current Year fleet potentials 4</label>
        <locationX>842</locationX>
        <locationY>458</locationY>
        <connector>
            <targetReference>Transform_fleet_Realistic_potentials_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>1. Fleet Potential Current Year</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_fleet_Realistic_potentials_1</name>
        <label>Transform fleet Realistic potentials 1</label>
        <locationX>314</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Next_Year_fleet_potentials_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Realistic Potential</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_fleet_Realistic_potentials_2</name>
        <label>2 Transform fleet Realistic potentials 2</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Next_Year_fleet_potentials_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Realistic Potential</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_fleet_Realistic_potentials_3</name>
        <label>3 Transform fleet Realistic potentials 3</label>
        <locationX>578</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Next_Year_fleet_potentials_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Realistic Potential</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_fleet_Realistic_potentials_4</name>
        <label>4Transform fleet Realistic potentials 4</label>
        <locationX>842</locationX>
        <locationY>566</locationY>
        <connector>
            <targetReference>Transform_Next_Year_fleet_potentials_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>2. Realistic Potential</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Cars__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Realistic_Potential_Vans__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Next_Year_fleet_potentials_1</name>
        <label>Transform Next Year fleet potentials 1</label>
        <locationX>314</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Transform_Year_2_fleet_potentials_1</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>3. Fleet Potential Year +1</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Total_Fleet_Potential__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Total_Fleet_Potential__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Next_Year_fleet_potentials_2</name>
        <label>2 Transform Next Year fleet potentials 2</label>
        <locationX>50</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Transform_Year_2_fleet_potentials_2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>3. Fleet Potential Year +1</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Next_Year_fleet_potentials_3</name>
        <label>3 Transform Next Year fleet potentials 3</label>
        <locationX>578</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Transform_Year_2_fleet_potentials_3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>3. Fleet Potential Year +1</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Next_Year_fleet_potentials_4</name>
        <label>4 Transform Next Year fleet potentials 4</label>
        <locationX>842</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>Transform_Year_2_fleet_potentials_4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>3. Fleet Potential Year +1</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_1__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Year_2_fleet_potentials_1</name>
        <label>Transform Year + 2 fleet potentials 1</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Output_Collection</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_Immediate_Subsid</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>4. Fleet Potential Year+2</stringValue>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Year_2_fleet_potentials_2</name>
        <label>2Transform Year + 2 fleet potentials 2</label>
        <locationX>50</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Output_Collection2</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>4. Fleet Potential Year+2</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_National_Hierarchy</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Year_2_fleet_potentials_3</name>
        <label>3 Transform Year + 2 fleet potentials 3</label>
        <locationX>578</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Output_Collection3</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>4. Fleet Potential Year+2</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account_ALL_Subsidiaries</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <transforms>
        <name>Transform_Year_2_fleet_potentials_4</name>
        <label>4 Transform Year + 2 fleet potentials 4</label>
        <locationX>842</locationX>
        <locationY>782</locationY>
        <connector>
            <targetReference>Assign_Output_Collection4</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <objectType>Account</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <stringValue>4. Fleet Potential Year+2</stringValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_cars_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Cars__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
            <transformValueActions>
                <inputParameters>
                    <name>aggregationValues</name>
                    <value>
                        <elementReference>Get_Account</elementReference>
                    </value>
                </inputParameters>
                <inputParameters>
                    <name>aggregationField</name>
                    <value>
                        <stringValue>Fleet_potential_Vans_Y_2__c</stringValue>
                    </value>
                </inputParameters>
                <outputFieldApiName>Fleet_Potential_Vans__c</outputFieldApiName>
                <transformType>Sum</transformType>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>AccountOutputCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>User_Choice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
