force-app/main/default/flows/FlowForUnitTest.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assignment_Test_01</name>
        <label>Assignment Test - 01</label>
        <locationX>54</locationX>
        <locationY>35</locationY>
        <assignmentItems>
            <assignToReference>vFinalURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>inputFinalURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_an_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Final_Info</name>
        <label>Set Final Info</label>
        <locationX>586</locationX>
        <locationY>37</locationY>
        <assignmentItems>
            <assignToReference>vFinalURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>Name of an opportunity: TEST_CDME_FlowDispatcherNoUI</description>
        <name>MyOppName</name>
        <dataType>String</dataType>
        <value>
            <stringValue>TEST_CDME_FlowDispatcherNoUI</stringValue>
        </value>
    </constants>
    <description>Flow for Unit Test</description>
    <interviewLabel>FlowForUnitTest {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FlowForUnitTest</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Identify_an_Opportunity</name>
        <label>Identify an Opportunity</label>
        <locationX>328</locationX>
        <locationY>37</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Set_Final_Info</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyOppName</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>921</locationX>
        <locationY>18</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vaAccountID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>vaNewName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <startElementReference>Assignment_Test_01</startElementReference>
    <status>Active</status>
    <variables>
        <name>inputFinalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>An OpportunityId</description>
        <name>OppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vaAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vaAccountID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vaNewName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vFinalURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
