force-app/main/default/flows/Flow_Task_Workflow_FirstTask_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Action to calculate the Task SLA Based on Business Hours</description>
        <name>Calculate_SLA</name>
        <label>Calculate SLA</label>
        <locationX>939</locationX>
        <locationY>2271</locationY>
        <actionName>profFlow_bhAdd__addBusinessHours</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Due_Date</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>businessHoursId</name>
            <value>
                <elementReference>GetWorkflowRecord.Business_Hours__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>intervalMilliseconds</name>
            <value>
                <elementReference>ConvertedSLAHoursInMillisecond</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>startDateTime</name>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputParameters>
        <nameSegment>profFlow_bhAdd__addBusinessHours</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>60.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Add_all_Tasks_to_a_Collection</name>
        <label>Add all Tasks to a Collection</label>
        <locationX>1110</locationX>
        <locationY>759</locationY>
        <assignmentItems>
            <assignToReference>TasksToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_all_Open_Operational_Tasks</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_all_Open_Operational_Tasks</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CollectionOfTaskstobeCreated</name>
        <label>Assign Collection Of tasks to be created</label>
        <locationX>716</locationX>
        <locationY>2519</locationY>
        <assignmentItems>
            <assignToReference>Collection_Of_Op_Tasks_tobecreated</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_To_update_Due_Date_using_Calculate_SLA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_update_Due_Date_using_Calculate_SLA</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Status_to_Completed</name>
        <label>Set Status to Completed</label>
        <locationX>1197</locationX>
        <locationY>615</locationY>
        <assignmentItems>
            <assignToReference>Loop_all_Open_Operational_Tasks.Completion_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_all_Tasks_to_a_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Due_Date</name>
        <label>Update Due Date</label>
        <locationX>917</locationX>
        <locationY>2532</locationY>
        <assignmentItems>
            <assignToReference>Loop_To_update_Due_Date_using_Calculate_SLA.Due_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Calculate_SLA.updatedBusinessDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectionOfTaskstobeCreated</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Owner_Changed</name>
        <label>Case Owner Changed</label>
        <locationX>166</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Case_Qualification_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>OwnerNotChanged</defaultConnectorLabel>
        <rules>
            <name>OwnerIsChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Related_Tasks_Owner</targetReference>
            </connector>
            <label>OwnerIsChanged</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Qualification_Changed</name>
        <label>Case Qualification Changed</label>
        <locationX>166</locationX>
        <locationY>779</locationY>
        <defaultConnectorLabel>QualificationNotChanged</defaultConnectorLabel>
        <rules>
            <name>Qualification_Changed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Previous_Tasks</targetReference>
            </connector>
            <label>Qualification Changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Associated_workflow</name>
        <label>Check Associated workflow</label>
        <locationX>452</locationX>
        <locationY>1871</locationY>
        <defaultConnector>
            <targetReference>Get_First_Workflow_Tasks</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Associated_workflow</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkflowRecord.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>No Associated workflow</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Associated_Workflow_from_Case_Type_Category</name>
        <label>Check_Associated_Workflow_from_Case_Type_&amp;_Category</label>
        <locationX>298</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Check_Associated_workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_workflow_not_found_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkflowRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_workflow_from_case_Type</targetReference>
            </connector>
            <label>If workflow not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Associated_Workflow_from_Case_Type_Category_Details</name>
        <label>Check_Associated_Workflow_from_Case_Type_Category_Details</label>
        <locationX>452</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Check_Associated_workflow</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_workflow_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetWorkflowRecord</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Workflow_from_Case_Type_Category</targetReference>
            </connector>
            <label>If workflow not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Updated_Or_New</name>
        <label>Check Updated Or New</label>
        <locationX>452</locationX>
        <locationY>371</locationY>
        <defaultConnector>
            <targetReference>Get_Associated_Workflow_from_Case_Type_Category_Details</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>IsNew</defaultConnectorLabel>
        <rules>
            <name>IsChanged</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.External_Case_Category__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Detail__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.External_Case_Type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Type</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_Changed</targetReference>
            </connector>
            <label>IsChanged</label>
        </rules>
        <rules>
            <name>IS_Case_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Operational_Tasks</targetReference>
            </connector>
            <label>IS Case Closed?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ConvertedSLAHoursInMillisecond</name>
        <dataType>Number</dataType>
        <expression>{!Loop_To_update_Due_Date_using_Calculate_SLA.Task_SLA__c} * 3600000</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Flow_Task_Workflow_FirstTask_Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow_Task_Workflow_FirstTask_Creation</label>
    <loops>
        <name>Loop_all_Open_Operational_Tasks</name>
        <label>Loop all Open Operational Tasks</label>
        <locationX>1008</locationX>
        <locationY>514</locationY>
        <collectionReference>Get_Operational_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Set_Status_to_Completed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Operational_Tasks</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_update_Due_Date_using_Calculate_SLA</name>
        <label>Loop To update Due Date using Calculate SLA</label>
        <locationX>628</locationX>
        <locationY>2195</locationY>
        <collectionReference>Transform_WF_Task_to_Operational_Tasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Calculate_SLA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Task</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>628</locationX>
        <locationY>2711</locationY>
        <inputReference>Collection_Of_Op_Tasks_tobecreated</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_workflow_from_case_Type</name>
        <label>Get Associated workflow from case Type</label>
        <locationX>166</locationX>
        <locationY>1595</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Associated_workflow</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subsidiary_Indicator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
        </filters>
        <filters>
            <field>Details__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Workflow__c</object>
        <outputReference>GetWorkflowRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <queriedFields>Business_Hours__c</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the associated workflow using Case Type and Category, while Case Details is blank</description>
        <name>Get_Associated_Workflow_from_Case_Type_Category</name>
        <label>Get_Associated_Workflow_from_Case_Type_Category</label>
        <locationX>298</locationX>
        <locationY>1379</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Associated_Workflow_from_Case_Type_Category</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subsidiary_Indicator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Details__c</field>
            <operator>EqualTo</operator>
        </filters>
        <object>Workflow__c</object>
        <outputReference>GetWorkflowRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <queriedFields>Business_Hours__c</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <description>Get the workflow record by a exact match by using Case Type, Case Category and Case Details</description>
        <name>Get_Associated_Workflow_from_Case_Type_Category_Details</name>
        <label>Get_Associated_Workflow_from_Case_Type_Category_Details</label>
        <locationX>900</locationX>
        <locationY>1174</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Associated_Workflow_from_Case_Type_Category_Details</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4 AND 5</filterLogic>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Subsidiary_Indicator__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Type</elementReference>
            </value>
        </filters>
        <filters>
            <field>Category__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Category__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Details__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.External_Case_Detail__c</elementReference>
            </value>
        </filters>
        <object>Workflow__c</object>
        <outputReference>GetWorkflowRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <queriedFields>Business_Hours__c</queriedFields>
        <queriedFields>Subsidiary__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_First_Workflow_Tasks</name>
        <label>Get First Workflow Tasks</label>
        <locationX>628</locationX>
        <locationY>1979</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Transform_WF_Task_to_Operational_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Parent_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetWorkflowRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_First_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Workflow_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Operational_Tasks</name>
        <label>Get Operational Tasks</label>
        <locationX>820</locationX>
        <locationY>387</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_all_Open_Operational_Tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Operational_Task__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Cancel_Previous_Tasks</name>
        <label>Cancel_Previous_Tasks</label>
        <locationX>34</locationX>
        <locationY>887</locationY>
        <connector>
            <targetReference>Get_Associated_Workflow_from_Case_Type_Category_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Automatic_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Automatic_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Completion_Date__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Task_Outcome__c</field>
            <value>
                <stringValue>Canceled due to case re-qualification</stringValue>
            </value>
        </inputAssignments>
        <object>Operational_Task__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Operational_Tasks</name>
        <label>Update Operational Tasks</label>
        <locationX>974</locationX>
        <locationY>791</locationY>
        <inputReference>TasksToUpdate</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Related_Tasks_Owner</name>
        <label>Update Related Tasks Owner</label>
        <locationX>34</locationX>
        <locationY>587</locationY>
        <connector>
            <targetReference>Case_Qualification_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Automatic_Task__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Reassign_Task_when_Case_owner_Change__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Operational_Task__c</object>
    </recordUpdates>
    <start>
        <locationX>326</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_Updated_Or_New</targetReference>
        </connector>
        <filterFormula>AND (CONTAINS({!$Label.Task_Management_Enabled_Countries_RecordTypes} , 
{!$Record.RecordType.Name}), OR (ISNEW(), ISCHANGED({!$Record.External_Case_Category__c}), 
ISCHANGED({!$Record.External_Case_Detail__c}), ISCHANGED({!$Record.Type}),
ISCHANGED({!$Record.External_Case_Type__c}), ISCHANGED({!$Record.OwnerId}), ISPICKVAL({!$Record.Status}, &quot;Closed&quot;)))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_WF_Task_to_Operational_Tasks</name>
        <label>Transform WF Task to Operational Tasks</label>
        <locationX>628</locationX>
        <locationY>2087</locationY>
        <connector>
            <targetReference>Loop_To_update_Due_Date_using_Calculate_SLA</targetReference>
        </connector>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <objectType>Operational_Task__c</objectType>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>Name</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Task_Subject__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Reassign_Task_when_Case_owner_Change__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Reassign_Task_when_Case_owner_Change__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Workflow_Task__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Only_Available_For_Task_Owners__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Only_Available_For_Task_Owners__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Start_Date__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>DateTime</formulaDataType>
                    <formulaExpression>NOW()</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>OwnerId</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <formulaDataType>String</formulaDataType>
                    <formulaExpression>IF(NOT(ISBLANK({!Get_First_Workflow_Tasks[$EachItem].Default_queue_ID__c})), {!Get_First_Workflow_Tasks[$EachItem].Default_queue_ID__c},{!$Record.OwnerId})</formulaExpression>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Case__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>$Record.Id</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Automatic_Task__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Task_SLA__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Task_SLA__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Must_be_closed_before_case_can_be_closed__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Must_be_closed_before_case_can_be_closed__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subsidiary__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetWorkflowRecord.Subsidiary__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Subsidiary_Indicator__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>GetWorkflowRecord.Subsidiary_Indicator__c</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>Don_t_Restrict_Assignment__c</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Get_First_Workflow_Tasks[$EachItem].Don_t_Restrict_Assignment__c</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>Collection_Of_Op_Tasks_tobecreated</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operational_Task__c</objectType>
    </variables>
    <variables>
        <name>GetWorkflowRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Workflow__c</objectType>
    </variables>
    <variables>
        <name>TasksToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Operational_Task__c</objectType>
    </variables>
</Flow>
