force-app/main/default/flows/Fra_Omni_Lead_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Lead_Tech_Fields</name>
        <label>Assign Lead Tech Fields</label>
        <locationX>402</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Is_Omni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Service__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WhichService_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Omni_Tech_Fields</name>
        <label>Assign Omni Tech Fields</label>
        <locationX>446</locationX>
        <locationY>1463</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Is_Omni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Service__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Pole_Broker</name>
        <label>Assign Pole Broker</label>
        <locationX>974</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Pole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pole Broker</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record_Or_Owner_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pole_Direct</name>
        <label>Assign Pole Direct</label>
        <locationX>710</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Pole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pole Direct</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record_Or_Owner_Is_Changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Pole_OEM</name>
        <label>Assign Pole OEM</label>
        <locationX>446</locationX>
        <locationY>503</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Pole__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pole OEM</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Is_New_Record_Or_Owner_Is_Changed</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_New_Record_Or_Owner_Is_Changed</name>
        <label>Is New Record Or Owner Is Changed</label>
        <locationX>842</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdIsChanged_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Dreco_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Other_Queue_Owner</name>
        <label>Is Other Queue Owner</label>
        <locationX>754</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G0O000002pUx1UAE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Omni_Tech_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Dreco_Queue</name>
        <label>Is Owner Dreco Queue</label>
        <locationX>578</locationX>
        <locationY>803</locationY>
        <defaultConnector>
            <targetReference>Is_Other_Queue_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G0O000002pUx1UAE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Is_Omni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Lead_Tech_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Is_Not_Agent_Dreco1</name>
        <label>Owner Is Not Agent Dreco</label>
        <locationX>50</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_By_Case_Owner</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Omni_Tech_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerId_Is_Changed_And_Is_User</name>
        <label>OwnerId Is Changed And Is User</label>
        <locationX>446</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Which_Pole</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Is_Omni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerIdIsChanged_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_By_Case_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Pole</name>
        <label>Which Pole ?</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record_Or_Owner_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Pole_OEM</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>TESLA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LYNK&amp;CO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>LOTUS CARS France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SMART AUTOMOBILE France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>VINFAST App</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pole_OEM</targetReference>
            </connector>
            <label>Pole OEM</label>
        </rules>
        <rules>
            <name>Pole_Direct</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>SG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>BOURSORAMA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>DRIVY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>ADIE</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>AXA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__r.Name</leftValueReference>
                <operator>StartsWith</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Campaign_ID__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NetWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORIGIN PARCOURS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.NetWork__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ORIGIN TEMSYS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Pole_Direct</targetReference>
            </connector>
            <label>Pole Direct</label>
        </rules>
        <rules>
            <name>Pole_Broker</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ConcessionPartner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Pole_Broker</targetReference>
            </connector>
            <label>Pole Broker</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>IsNewRecord_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OwnerIdIsChanged_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>WhichService_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OwnerId} = &apos;00G0O000002pUx1UAE&apos;, &apos;00G0O000002pUx1UAE-Dreco&apos;, &apos;&apos;)</expression>
    </formulas>
    <interviewLabel>Fra - Omni Lead Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fra - Omni Lead Before Update Or Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_By_Case_Owner</name>
        <label>Get Agent By Case Owner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Owner_Is_Not_Agent_Dreco1</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhichService__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Dreco</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerId_Is_Changed_And_Is_User</targetReference>
        </connector>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, OR({!$Record.RecordType.DeveloperName} = &apos;LeadFrance&apos;, {!$Record.RecordType.DeveloperName} = &apos;LeadFranceComplete&apos;, {!$Record.RecordType.DeveloperName} = &apos;LeadFranceParticulier&apos;, {!$Record.RecordType.DeveloperName} = &apos;LeadFranceParticulierComplete&apos;, {!$Record.RecordType.DeveloperName} = &apos;LeadFrancePartenaire&apos;))</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
