force-app/main/default/flows/FRA_AR_Email_To_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>AldAutomotive_Alert</name>
        <label>AldAutomotive Alert</label>
        <locationX>314</locationX>
        <locationY>731</locationY>
        <actionName>Case.FRA_AldAutomotive_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>AldAut_Assign_From_Whom_Var</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FRA_AldAutomotive_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Ford_Lease_Alert</name>
        <label>Ford Lease Alert</label>
        <locationX>842</locationX>
        <locationY>731</locationY>
        <actionName>Case.FRA_Ford_Lease_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Ford_Assign_From_Whom_Var</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FRA_Ford_Lease_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Outsourcing_Alert</name>
        <label>Outsourcing Alert</label>
        <locationX>50</locationX>
        <locationY>731</locationY>
        <actionName>Case.FRA_Outsourcing_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Outsourcing_Assign_From_Whom_Var</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FRA_Outsourcing_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Partenaire_LLD_Alert</name>
        <label>Partenaire LLD Alert</label>
        <locationX>578</locationX>
        <locationY>731</locationY>
        <actionName>Case.FRA_Partenaire_LLD_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Part_Assign_From_Whom_Var</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.FRA_Partenaire_LLD_Alert</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AldAut_Assign_From_Whom_Var</name>
        <label>AldAut - Assign From Whom Var</label>
        <locationX>314</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>FromWhom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no.reply@aldautomotive.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Email_Contact</name>
        <label>Assign Email Contact</label>
        <locationX>446</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>EmailContact</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Emailtocasereceiver__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Which_Sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ford_Assign_From_Whom_Var</name>
        <label>Ford - Assign From Whom Var</label>
        <locationX>842</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>FromWhom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no.reply@fordlease.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Outsourcing_Assign_From_Whom_Var</name>
        <label>Outsourcing - Assign From Whom Var</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>FromWhom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no.reply@aldautomotive.com</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Part_Assign_From_Whom_Var</name>
        <label>Part - Assign From Whom Var</label>
        <locationX>578</locationX>
        <locationY>839</locationY>
        <assignmentItems>
            <assignToReference>FromWhom</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>no.reply@partenaireslld.fr</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_EmailMessage</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Parcours</name>
        <label>Is Parcours</label>
        <locationX>578</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Which_Sender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Contact.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARCOURS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Email_Contact</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Which_Sender</name>
        <label>Which Sender?</label>
        <locationX>578</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outsourcing</name>
            <conditionLogic>1 AND (2 OR (3 AND 4))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Do_Not_Send_Email_From_Customer_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AldAutoEmailContact_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AldAutoSenderEmail_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Outsourcing_Alert</targetReference>
            </connector>
            <label>Outsourcing</label>
        </rules>
        <rules>
            <name>Ald_Automotive</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Do_Not_Send_Email_From_Customer_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailContact</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_ALD_Automotive</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>EmailContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_ALD_Automotive</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AldAutomotive_Alert</targetReference>
            </connector>
            <label>Ald Automotive</label>
        </rules>
        <rules>
            <name>Partenaires_LLD</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Do_Not_Send_Email_From_Customer_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailContact</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_Partenaires_LLD</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>EmailContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_Partenaires_LLD</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Partenaire_LLD_Alert</targetReference>
            </connector>
            <label>Partenaires LLD</label>
        </rules>
        <rules>
            <name>Ford_Lease</name>
            <conditionLogic>1 AND ((2 AND 3) OR (4 AND 5 AND 6))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contact.Do_Not_Send_Email_From_Customer_Support__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>EmailContact</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_Ford_Lease</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>EmailContact</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Label.Fra_Email_Ford_Lease</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Emailtocasereceiver__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ford_Lease_Alert</targetReference>
            </connector>
            <label>Ford Lease</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AldAutoEmailContact_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(AND(!ISNEW(), {!$Record.ContactId} != &apos;&apos;, ISPICKVAL({!$Record.Contact.Account.Identification_Criteria__c}, &apos;PARCOURS&apos;), ISCHANGED({!$Record.ContactId}), OR(CONTAINS({!$Record.EM_Addresses__c}, &apos;unilever.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;cisco.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;serviceclientele.cisco@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi@leaseplan.fr&apos;))), true, false)</expression>
    </formulas>
    <formulas>
        <name>AldAutoSenderEmail_Formula</name>
        <dataType>Boolean</dataType>
        <expression>IF(OR(CONTAINS({!$Record.EM_Addresses__c}, &apos;unilever.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;cisco.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;serviceclientele.cisco@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi@leaseplan.fr&apos;)), true, false)</expression>
    </formulas>
    <formulas>
        <name>CaseNumber_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.CaseNumber}</expression>
    </formulas>
    <formulas>
        <name>CaseSubject_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Subject}</expression>
    </formulas>
    <formulas>
        <name>IsCustomerAcceptEmailSupport</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.Contact.Do_Not_Send_Email_From_Customer_Support__c}</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>SignatureEmail_Formula</name>
        <dataType>String</dataType>
        <expression>IF(OR(CONTAINS({!$Record.EM_Addresses__c}, &apos;unilever.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;cisco.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;serviceclientele.cisco@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpe@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpcds@leaseplan.fr&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi.fr@ayvens.com&apos;), CONTAINS({!$Record.EM_Addresses__c}, &apos;hpi@leaseplan.fr&apos;)), &quot;L’équipe Total Fleet Outsourcing&quot;, &quot;Votre Service clients&quot;)</expression>
    </formulas>
    <interviewLabel>FRA - AR Email To Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FRA - AR Email To Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_EmailMessage</name>
        <label>Create EmailMessage</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <inputAssignments>
            <field>FromAddress</field>
            <value>
                <elementReference>FromWhom</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>HtmlBody</field>
            <value>
                <elementReference>TemplateEmailSended</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedToId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>3</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ToAddress</field>
            <value>
                <elementReference>$Record.ContactEmail</elementReference>
            </value>
        </inputAssignments>
        <object>EmailMessage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Parcours</targetReference>
        </connector>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, {!$Record.RecordType.DeveloperName} = &apos;CaseExternalFrance&apos;, NOT(ISBLANK({!$Record.Email_Sender__c})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>TemplateEmailSended</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;&lt;strong style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;De:&lt;/strong&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;&amp;nbsp;{!FromWhom}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;À: &lt;/strong&gt;&lt;span style=&quot;font-size: medium; font-family: &amp;quot;Times New Roman&amp;quot;; color: rgb(0, 0, 0);&quot;&gt;{!$Record.ContactEmail}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Object&lt;/strong&gt;: ACCUSE DE RECEPTION DE VOTRE DEMANDE {!CaseNumber_Formula} - {!CaseSubject_Formula}&lt;/p&gt;&lt;p&gt;Cher Client,&lt;/p&gt;&lt;p&gt;Nous accusons réception de votre email.&lt;/p&gt;&lt;p&gt;La demande est enregistrée et en cours de traitement sous la référence&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt; {!CaseNumber_Formula}&lt;/span&gt; à communiquer pour toute correspondance relative à ce sujet.&lt;/p&gt;&lt;p&gt;Nous ne manquerons pas de revenir vers vous dans les meilleurs délais.&lt;/p&gt;&lt;p&gt;Nous restons à votre disposition et vous souhaitons une excellente journée.&lt;/p&gt;&lt;p&gt;{!SignatureEmail_Formula}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>EmailContact</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FromWhom</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
