force-app/main/default/flows/Fra_Omni_SAOC_Skill_Action.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_AgentID</name>
        <label>Assign AgentID</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>AgentId_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Resource_Loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Resource_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Resource_Service_Skill</name>
        <label>Assign Resource Service Skill</label>
        <locationX>886</locationX>
        <locationY>1490</locationY>
        <assignmentItems>
            <assignToReference>RSSkill_Collection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Service_Ressource_Skill_Loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Service_Ressource_Skill_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Level_To_0</name>
        <label>Assign Skill Level To 0</label>
        <locationX>1018</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Service_Ressource_Skill_Loop.SkillLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Resource_Service_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Skill_Level_to_10</name>
        <label>Assign Skill Level to 10</label>
        <locationX>754</locationX>
        <locationY>1298</locationY>
        <assignmentItems>
            <assignToReference>Service_Ressource_Skill_Loop.SkillLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Resource_Service_Skill</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Num_Records</name>
        <label>Get Num Records</label>
        <locationX>358</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>NumRecords</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Service_Resource_By_User_Id_Selected</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Skill_Selected</name>
        <label>Is Skill Selected</label>
        <locationX>886</locationX>
        <locationY>1190</locationY>
        <defaultConnector>
            <targetReference>Assign_Skill_Level_To_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Veuillez_selectionner_vos_comp_tences</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Service_Ressource_Skill_Loop.Skill.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Skill_Level_to_10</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Zero_Choice</name>
        <label>Is Zero Choice</label>
        <locationX>358</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>Service_Ressource_Skill_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Veuillez_selectionner_vos_comp_tences</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Skill_Level_To_0</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>SkillChoice</name>
        <collectionReference>Get_SAOC_Skill</collectionReference>
        <dataType>String</dataType>
        <displayField>MasterLabel</displayField>
        <object>Skill</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Fra - {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fra - Changer Compétences</label>
    <loops>
        <name>Service_Resource_Loop</name>
        <label>Service Resource Loop</label>
        <locationX>358</locationX>
        <locationY>566</locationY>
        <collectionReference>Get_Service_Resource_By_User_Id_Selected</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_AgentID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Service_Resource_Skill_By_AgentID</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Service_Ressource_Skill_Loop</name>
        <label>Service Ressource Skill Loop</label>
        <locationX>666</locationX>
        <locationY>1082</locationY>
        <collectionReference>Get_Service_Resource_Skill_By_AgentID</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_Skill_Selected</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Resource_Service_Skill</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_SAOC_Skill</name>
        <label>Get SAOC Skill</label>
        <locationX>358</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Skill_Choice_Screen</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support FLEX</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support ALD Contact</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support DGEA</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support FORD</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support PART</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Pole GC</stringValue>
            </value>
        </filters>
        <filters>
            <field>MasterLabel</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Support Pole Standard</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Skill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_By_User_Id_Selected</name>
        <label>Get Service Resource By User Id Selected</label>
        <locationX>358</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SAOC_Skill</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>In</operator>
            <value>
                <elementReference>ids</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Service_Resource_Skill_By_AgentID</name>
        <label>Get Service Resource Skill By AgentID</label>
        <locationX>358</locationX>
        <locationY>866</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Zero_Choice</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>In</operator>
            <value>
                <elementReference>AgentId_Collection</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ServiceResourceSkill</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Resource_Service_Skill</name>
        <label>Update Resource Service Skill</label>
        <locationX>666</locationX>
        <locationY>1682</locationY>
        <inputReference>RSSkill_Collection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Skill_Level_To_0</name>
        <label>Update Skill Level To 0</label>
        <locationX>50</locationX>
        <locationY>1082</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ServiceResourceId</field>
            <operator>In</operator>
            <value>
                <elementReference>AgentId_Collection</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SkillLevel</field>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </inputAssignments>
        <object>ServiceResourceSkill</object>
    </recordUpdates>
    <screens>
        <name>Skill_Choice_Screen</name>
        <label>Skill Choice Screen</label>
        <locationX>358</locationX>
        <locationY>458</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Service_Resource_Loop</targetReference>
        </connector>
        <fields>
            <name>ServiceRessourceDataTable</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>ServiceResource</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Agents séléctionnés</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>NO_SELECTION</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Service_Resource_By_User_Id_Selected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;Name&quot;,&quot;guid&quot;:&quot;column-0d7b&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:true,&quot;customHeaderLabel&quot;:&quot;Noms&quot;,&quot;wrapText&quot;:false,&quot;order&quot;:0,&quot;label&quot;:&quot;Name&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Veuillez_selectionner_vos_comp_tences</name>
            <choiceReferences>SkillChoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Veuillez selectionner vos compétences</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>232</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Num_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AgentId_Collection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NumRecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>RSSkill_Collection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceResourceSkill</objectType>
    </variables>
</Flow>
