force-app/main/default/flows/Fra_Omni_Case_After_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Is_Omni_Queues</name>
        <label>Is Omni Queues</label>
        <locationX>347</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_Record_Owner_Is_User</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G3X000006XOWbUAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Fra_BDCS_Flex</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerIdIsSaocQueueLevelZero_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Omni_Tech_Field2</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Owner_Is_User</name>
        <label>Is Record Owner Is User</label>
        <locationX>644</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Is_Omni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerID__c</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agents_By_Record_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Owner_Not_An_Omni_Agent</name>
        <label>Is Record Owner Not An Omni Agent</label>
        <locationX>446</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agents_By_Record_Owner</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Omni_Tech_Field</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>OwnerIdIsSaocQueueLevelZero_Formula</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Label.FRA_SAOC_Queues_Level_Zero}, {!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>TechWhichService_Formula</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.OwnerId} = &apos;00G3X000006XOWbUAO&apos;, &apos;00G3X000006XOWbUAO-Flex&apos;, 
IF({!$Record.OwnerId} = {!$Label.Fra_BDCS_Flex}, {!$Label.Fra_BDCS_Flex} &amp; &apos;-Flex&apos;,
IF(CONTAINS({!$Label.FRA_SAOC_Queues_Level_Zero}, {!$Record.OwnerId}), {!$Record.OwnerId} &amp; &apos;-SAOC&apos;, &apos;&apos;)))</expression>
    </formulas>
    <formulas>
        <name>Today_Formula</name>
        <dataType>DateTime</dataType>
        <expression>DATETIMEVALUE(TEXT(TODAY() - 1) + &quot; 23:00:00&quot;)</expression>
    </formulas>
    <formulas>
        <name>WhichService_Formula</name>
        <dataType>String</dataType>
        <expression>RIGHT(TEXT({!$Record.Fra_Tech_Which_Service__c}), (LEN(TEXT({!$Record.Fra_Tech_Which_Service__c})) - FIND(&quot;-&quot;, TEXT({!$Record.Fra_Tech_Which_Service__c}))))</expression>
    </formulas>
    <interviewLabel>Fra - Omni Case After Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fra - Omni Case After Update Or Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agents_By_Record_Owner</name>
        <label>Get Agents By Record Owner</label>
        <locationX>446</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Owner_Not_An_Omni_Agent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Omni_Tech_Field</name>
        <label>Update Omni Tech Field</label>
        <locationX>314</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Fra_Tech_Is_Omni__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fra_Tech_Which_Service__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Omni_Tech_Field2</name>
        <label>Update Omni Tech Field</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Fra_Tech_Is_Omni__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fra_Tech_Which_Service__c</field>
            <value>
                <elementReference>TechWhichService_Formula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>221</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Omni_Queues</targetReference>
        </connector>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, {!$Record.RecordType.DeveloperName} = &apos;CaseExternalFrance&apos;, OR(BEGINS({!$Record.OwnerID__c}, &apos;005&apos;), CONTAINS({!$Label.Fra_BDCS_Flex}, {!$Record.OwnerId}), CONTAINS({!$Record.OwnerId}, &apos;00G3X000006XOWb&apos;), CONTAINS({!$Label.FRA_SAOC_Queues_Level_Zero}, {!$Record.OwnerId})))</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseItemCollection_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
