force-app/main/default/flows/FRA_Credit_Check_Invoke_WS.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Car reservation</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Check the car availability via WS</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <actionName>FrenchManageCreditCheckWS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>contractnumber</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>contractnumber</name>
            <value>
                <elementReference>myVariable_current.Account__r.Price_range__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>id_cc_sf</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>id_cc_sf</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>id_customer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>id_customer</name>
            <value>
                <elementReference>myVariable_current.Account__r.Local_CALDER_ID__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>leadid</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>leadid</name>
            <value>
                <elementReference>myVariable_current.Account__r.PA_LeadNumber__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>status</name>
            <value>
                <elementReference>myVariable_current.Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FrenchManageCreditCheckWS</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Car reservation</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Validate Car Reservation</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <actionName>FrenchManageCreditCheckWS</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>contractnumber</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>contractnumber</name>
            <value>
                <elementReference>myVariable_current.Contract_Number__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>id_cc_sf</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>id_cc_sf</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>id_customer</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>id_customer</name>
            <value>
                <elementReference>myVariable_current.Local_Calder_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>leadid</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>leadid</name>
            <value>
                <elementReference>myVariable_current.Lead_Id__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>status</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>status</name>
            <value>
                <elementReference>myVariable_current.Status__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FrenchManageCreditCheckWS</nameSegment>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>apexSelection</name>
            <value>
                <stringValue>Credit Check Study</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Credit Check Study</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <actionName>FrenchSR_CreditCheckStudy</actionName>
        <actionType>apex</actionType>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>creditCheckId</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Reference</stringValue>
                </value>
            </processMetadataValues>
            <name>creditCheckId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>siret</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>maxOccurs</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>objectType</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <name>siret</name>
            <value>
                <elementReference>formula_6_myRule_5_A1_8306786837</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FrenchSR_CreditCheckStudy</nameSegment>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Send Reservation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Send Risk Decision</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_pmetdec</targetReference>
            </connector>
            <label>Launch Credit Check Study</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_5_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>500</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_5_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_5_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_5_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>Credit check process : at creation, WS callout to check the car availability ; at creditcheck submission for approval, WS callout to launch the credit check study (decision tree Strategy Risk) + bypass</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Credit_Check__c].Account__c.Siren__c + [Credit_Check__c].Account__c.Code_NIC__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_5_A1_8306786837</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.Account__r.Siren__c} + {!myVariable_current.Account__r.Code_NIC__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$User.Bypass_Workflow__c == false,
	OR([Credit_Check__c].Identification_Criteria__c == &apos;ORIGIN TEMSYS&apos;, [Credit_Check__c].Identification_Criteria__c == &apos;ORIGIN PARCOURS&apos;),
	!ISBLANK([Credit_Check__c].Account__c),
	AND(
		!ISBLANK([Credit_Check__c].Account__c.PA_LeadNumber__c), !ISBLANK([Credit_Check__c].Account__c.Local_CALDER_ID__c), 
		!ISBLANK([Credit_Check__c].Account__c.Price_Range__c)
	),
	AND(
		[Credit_Check__c].RecordType.DeveloperName == &apos;CreditCheckFrance&apos;,
		ISNEW(),
		ISPICKVAL([Credit_Check__c].Status__c, &apos;New&apos;)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$User.Bypass_Workflow__c} == false,
	OR({!myVariable_current.Identification_Criteria__c} == &apos;ORIGIN TEMSYS&apos;, {!myVariable_current.Identification_Criteria__c} == &apos;ORIGIN PARCOURS&apos;),
	!ISBLANK({!myVariable_current.Account__c}),
	AND(
		!ISBLANK({!myVariable_current.Account__r.PA_LeadNumber__c}), !ISBLANK({!myVariable_current.Account__r.Local_CALDER_ID__c}), 
		!ISBLANK({!myVariable_current.Account__r.Price_range__c})
	),
	AND(
		{!myVariable_current.RecordType.DeveloperName} == &apos;CreditCheckFrance&apos;,
		ISNEW(),
		ISPICKVAL({!myVariable_current.Status__c}, &apos;New&apos;)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$User.Bypass_Workflow__c == false,
	OR([Credit_Check__c].Identification_Criteria__c == &apos;ORIGIN TEMSYS&apos;, [Credit_Check__c].Identification_Criteria__c == &apos;ORIGIN PARCOURS&apos;),
	!ISBLANK([Credit_Check__c].Account__c),
	AND(
		!ISBLANK([Credit_Check__c].Lead_Id__c), !ISBLANK([Credit_Check__c].Local_CALDER_Id__c), 
		!ISBLANK([Credit_Check__c].Contract_Number__c)
	),
	ISCHANGED([Credit_Check__c].Status__c),
	OR(
		AND(
			[Credit_Check__c].RecordType.DeveloperName == &apos;CreditCheckFrance&apos;,
		OR(ISPICKVAL([Credit_Check__c].Status__c, &apos;Recheck Needed&apos;),
			ISPICKVAL([Credit_Check__c].Status__c, &apos;Rejected by Sales Manager&apos;)
			)
		),
		AND(
			[Credit_Check__c].RecordType.DeveloperName == &apos;Credit_Check_After_Decision&apos;,
			OR(
				ISPICKVAL([Credit_Check__c].Status__c, &apos;Accepted&apos;), ISPICKVAL([Credit_Check__c].Status__c, &apos;Rejected by Risk&apos;),
				ISPICKVAL([Credit_Check__c].Status__c, &apos;Rejected by Risk Manager&apos;)
			)
		)
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$User.Bypass_Workflow__c} == false,
	OR({!myVariable_current.Identification_Criteria__c} == &apos;ORIGIN TEMSYS&apos;, {!myVariable_current.Identification_Criteria__c} == &apos;ORIGIN PARCOURS&apos;),
	!ISBLANK({!myVariable_current.Account__c}),
	AND(
		!ISBLANK({!myVariable_current.Lead_Id__c}), !ISBLANK({!myVariable_current.Local_Calder_Id__c}), 
		!ISBLANK({!myVariable_current.Contract_Number__c})
	),
	ISCHANGED({!myVariable_current.Status__c}),
	OR(
		AND(
			{!myVariable_current.RecordType.DeveloperName} == &apos;CreditCheckFrance&apos;,
		OR(ISPICKVAL({!myVariable_current.Status__c}, &apos;Recheck Needed&apos;),
			ISPICKVAL({!myVariable_current.Status__c}, &apos;Rejected by Sales Manager&apos;)
			)
		),
		AND(
			{!myVariable_current.RecordType.DeveloperName} == &apos;Credit_Check_After_Decision&apos;,
			OR(
				ISPICKVAL({!myVariable_current.Status__c}, &apos;Accepted&apos;), ISPICKVAL({!myVariable_current.Status__c}, &apos;Rejected by Risk&apos;),
				ISPICKVAL({!myVariable_current.Status__c}, &apos;Rejected by Risk Manager&apos;)
			)
		)
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$User.Bypass_Workflow__c == false,
	NOT(
		INCLUDES($User.bypass_appex_triggers__c, &apos;AP_Bypass_Creditcheck_Study&apos;)
	), 
	ISPICKVAL([Credit_Check__c].Status__c , &apos;Submitted by Sales&apos;),
	OR(
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25001&apos;,
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25002&apos;, 		
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25003&apos; 
	), 
	OR(
		ISPICKVAL([Credit_Check__c].Credit_Check_Type__c, &apos;On Account&apos;), 
		ISPICKVAL([Credit_Check__c].Credit_Check_Type__c, &apos;On Risk Group&apos;) 
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$User.Bypass_Workflow__c} == false,
	NOT(
		INCLUDES({!$User.bypass_appex_triggers__c}, &apos;AP_Bypass_Creditcheck_Study&apos;)
	), 
	ISPICKVAL({!myVariable_current.Status__c} , &apos;Submitted by Sales&apos;),
	OR(
		{!myVariable_current.Subsidiary_Indicator__c} == &apos;25001&apos;,
		{!myVariable_current.Subsidiary_Indicator__c} == &apos;25002&apos;, 		
		{!myVariable_current.Subsidiary_Indicator__c} == &apos;25003&apos; 
	), 
	OR(
		ISPICKVAL({!myVariable_current.Credit_Check_Type__c}, &apos;On Account&apos;), 
		ISPICKVAL({!myVariable_current.Credit_Check_Type__c}, &apos;On Risk Group&apos;) 
	)
)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND(
	$User.Bypass_Workflow__c == false,
	NOT(
		INCLUDES($User.bypass_appex_triggers__c, &apos;AP_Bypass_Creditcheck_Study&apos;)
	), 
	ISPICKVAL([Credit_Check__c].Status__c , &apos;Submitted by Sales&apos;),
	OR(
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25001&apos;,
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25002&apos;, 		
		[Credit_Check__c].Subsidiary_Indicator__c == &apos;25003&apos; 
	), 
	OR(
		ISPICKVAL([Credit_Check__c].Credit_Check_Type__c, &apos;On Account&apos;), 
		ISPICKVAL([Credit_Check__c].Credit_Check_Type__c, &apos;On Risk Group&apos;) 
	)
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND(
	{!$User.Bypass_Workflow__c} == false,
	NOT(
		INCLUDES({!$User.bypass_appex_triggers__c}, &apos;AP_Bypass_Creditcheck_Study&apos;)
	), 
	ISPICKVAL({!myVariable_old.Status__c} , &apos;Submitted by Sales&apos;),
	OR(
		{!myVariable_old.Subsidiary_Indicator__c} == &apos;25001&apos;,
		{!myVariable_old.Subsidiary_Indicator__c} == &apos;25002&apos;, 		
		{!myVariable_old.Subsidiary_Indicator__c} == &apos;25003&apos; 
	), 
	OR(
		ISPICKVAL({!myVariable_old.Credit_Check_Type__c}, &apos;On Account&apos;), 
		ISPICKVAL({!myVariable_old.Credit_Check_Type__c}, &apos;On Risk Group&apos;) 
	)
)</expression>
    </formulas>
    <interviewLabel>FRA_Credit_Check_Invoke_WS-19_InterviewLabel</interviewLabel>
    <label>FRA_Credit_Check_Invoke_WS</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Credit_Check__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Credit_Check__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Credit_Check__c</objectType>
    </variables>
</Flow>
