force-app/main/default/flows/FRA_Omni_SAOC_1.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>59.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setMappingFieldToALDContact</name>
        <label>setMappingFieldToALDContact</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support ALD Contact</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToDGEA</name>
        <label>setMappingFieldToDGEA</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support DGEA</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToFLEX</name>
        <label>setMappingFieldToFLEX</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support FLEX</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToFORD</name>
        <label>setMappingFieldToFORD</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support FORD</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToPART</name>
        <label>setMappingFieldToPART</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support PART</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToPoleGC</name>
        <label>setMappingFieldToPoleGC</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Pole GC</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingFieldToPoleStandard</name>
        <label>setMappingFieldToPoleStandard</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Support Pole Standard</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>setMappingToNoSkill</name>
        <label>setMappingToNoSkill</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.frenchOnichannelSAOCLevel1Mapping__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>No support</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Which_Support</name>
        <label>Which Support ?</label>
        <locationX>974</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>setMappingToNoSkill</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Support</defaultConnectorLabel>
        <rules>
            <name>SupportPoleGC</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G20000001tsXpEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_DGEA_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Ford_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Flex_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Part_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToPoleGC</targetReference>
            </connector>
            <label>SupportPoleGC</label>
        </rules>
        <rules>
            <name>SupportPoleStandard</name>
            <conditionLogic>1 AND (2 OR 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G20000001tsXpEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_ALD_Contact_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToPoleStandard</targetReference>
            </connector>
            <label>SupportPoleStandard</label>
        </rules>
        <rules>
            <name>supportFLEXTrue</name>
            <conditionLogic>(1 OR 2) AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.FRA_Omnichannel_Level_1_Is_Flex__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Flex_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARCOURS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToFLEX</targetReference>
            </connector>
            <label>supportFLEXTrue</label>
        </rules>
        <rules>
            <name>supportFORDTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BREMANY</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Ford_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToFORD</targetReference>
            </connector>
            <label>supportFORDTrue</label>
        </rules>
        <rules>
            <name>supportDGEATrue</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Label.FRA_DGEA_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARCOURS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToDGEA</targetReference>
            </connector>
            <label>supportDGEATrue</label>
        </rules>
        <rules>
            <name>supportPARTTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Label.FRA_Part_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.FRA_Part_IdCriteria</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Identification_Criteria__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToPART</targetReference>
            </connector>
            <label>supportPARTTrue</label>
        </rules>
        <rules>
            <name>supportALDContactTrue</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Label.FRA_ALD_Contact_Agency</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.Account.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ALD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account.Identification_Criteria__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PARCOURS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setMappingFieldToALDContact</targetReference>
            </connector>
            <label>supportALDContactTrue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FRA_Omni_SAOC_1 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FRA_Omni_SAOC_1</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Which_Support</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>OwnerId</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G3X000005NTK7UAO</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G20000001tsXpEAI</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
