force-app/main/default/flows/FRA_Update_Tech_OmniDispatch_Field.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Owner</name>
        <label>Assign Owner</label>
        <locationX>578</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fra_Tech_Initial_Owner__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_By_Risk_Analyst_Referenced</name>
        <label>Assign Owner By Risk Analyst Referenced</label>
        <locationX>314</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Risk_Analyst_Referenced.Risk_Analyst_Referenced__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PART_Greater_Then_50k</name>
        <label>Assign PART Greater Then 50k</label>
        <locationX>1634</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_OmniDispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PART&gt;50k</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PART_Less_Than_50k</name>
        <label>Assign PART Less Than 50k</label>
        <locationX>1898</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_OmniDispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PART&lt;50k</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PL_Hors_ICAROS_To_Tech_OmniDispatch</name>
        <label>Assign PL Hors ICAROS To Tech OmniDispatch</label>
        <locationX>1370</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_OmniDispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PL Hors ICAROS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_PL_ICAROS_To_Tech_OmniDispatch</name>
        <label>Assign PL ICAROS To Tech OmniDispatch</label>
        <locationX>1106</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_OmniDispatch__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>PL ICAROS</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Tech_Initial_Owner</name>
        <label>Assign Tech Initial Owner</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Initial_Owner__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_CC_Processed</name>
        <label>Is CC Processed</label>
        <locationX>1155</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Is_Private_Lease</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Accepted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Recheck Needed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected by Risk</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Tech_Initial_Owner_Not_Null</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_GreaterOrEqualsToThreshold_Part</name>
        <label>Is GreaterOrEqualsToThreshold</label>
        <locationX>1766</locationX>
        <locationY>1043</locationY>
        <defaultConnector>
            <targetReference>Assign_PART_Less_Than_50k</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle_Amount_Above_Threshold__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GreaterOrEqualsToThreshold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PART_Greater_Then_50k</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ICAROS</name>
        <label>Is ICAROS</label>
        <locationX>1238</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Assign_PL_Hors_ICAROS_To_Tech_OmniDispatch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Broker_2__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Broker_2__r.Name</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>ICAROS </stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_PL_ICAROS_To_Tech_OmniDispatch</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New</name>
        <label>Is New</label>
        <locationX>392</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Get_Risk_Analyst_Referenced</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordIsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Tech_Initial_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Partenariat</name>
        <label>Is Partenariat</label>
        <locationX>1964</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.Fra_Partenariat_Agencies</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Agency</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_GreaterOrEqualsToThreshold_Part</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Private_Lease</name>
        <label>Is Private Lease</label>
        <locationX>1601</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Is_Partenariat</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.IsPersonAccount</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Type_Of_Company__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PERS - PERSONNES PHYSIQUES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_ICAROS</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Risk_Analyst_Referenced_Not_Null</name>
        <label>Is Risk Analyst Referenced Not Null</label>
        <locationX>734</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Is_CC_Processed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes8</name>
            <conditionLogic>((1 AND 2) OR (3 AND 4 AND 8 AND 9) OR  (5 AND 6 AND 10 AND 11)) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Account__r.Risk_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Risk_Analyst__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Top_Risk_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Top_Risk_Group__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Risk_Reference__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Risk_Reference__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Risk_Management_Id_Queue.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Top_Risk_Group__r.Risk_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Top_Risk_Group__r.Risk_Analyst__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Risk_Reference__r.Risk_Analyst__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Account__r.Account_Risk_Reference__r.Risk_Analyst__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_By_Risk_Analyst_Referenced</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Tech_Initial_Owner_Not_Null</name>
        <label>Is Tech Initial Owner Not Null</label>
        <locationX>710</locationX>
        <locationY>827</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Initial_Owner__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Agency</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Account__r.Agency__c}), 4)</expression>
    </formulas>
    <formulas>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>FRA - Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FRA - Update Owner And Tech OmniDispatch Field</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Risk_Analyst_Referenced</name>
        <label>Get Risk Analyst Referenced</label>
        <locationX>734</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Risk_Management_Id_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Risk_Management_Id_Queue</name>
        <label>Get Risk Management Id Queue</label>
        <locationX>734</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Risk_Analyst_Referenced_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FRARiskManagement</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>266</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New</targetReference>
        </connector>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, {!$Record.RecordType.DeveloperName} = &apos;CreditCheckFrance&apos;)</filterFormula>
        <object>Credit_Check__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
