force-app/main/default/flows/FRA_Update_Sector_Pole_Flex.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Stop_Loop</name>
        <label>Stop Loop</label>
        <locationX>264</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>Get_Sectors_Flex</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Get_correct_Sector_Agency</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Agency_Match</name>
        <label>Agency Match</label>
        <locationX>396</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Get_correct_Sector_Agency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Outcome_1_of_Decision_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_correct_Sector_Agency.Agency__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Agency__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Flex_Data_on_Record</targetReference>
            </connector>
            <label>Outcome 1 of Decision 1</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>FRA - Update Sector Pole Flex {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FRA - Update Sector Pole Flex</label>
    <loops>
        <name>Get_correct_Sector_Agency</name>
        <label>Get correct Sector Agency</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Sectors_Flex</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Agency_Match</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Sectors_Flex</name>
        <label>Get Sectors Flex</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_correct_Sector_Agency</targetReference>
        </connector>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FRA_Sectorisation_Flex__mdt</object>
        <sortField>Agency__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Flex_Data_on_Record</name>
        <label>Update Flex Data on Record</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Stop_Loop</targetReference>
        </connector>
        <inputAssignments>
            <field>Building__c</field>
            <value>
                <elementReference>Get_correct_Sector_Agency.Sector__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overhead_Margin__c</field>
            <value>
                <elementReference>Get_correct_Sector_Agency.Pole__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sectors_Flex</targetReference>
        </connector>
        <filterFormula>{!$User.Bypass_Workflow__c} == false &amp;&amp; (CONTAINS({!$Record.RecordType.DeveloperName}, &apos;France&apos;) &amp;&amp; (ISCHANGED({!$Record.Local_CALDER_ID__c}) || ISCHANGED({!$Record.Agency__c}) || (!ISBLANK(TEXT({!$Record.Agency__c})) &amp;&amp; ISBLANK({!$Record.Building__c}))))</filterFormula>
        <object>Account</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CorrectSector</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FRA_Sectorisation_Flex__mdt</objectType>
    </variables>
    <variables>
        <name>UpdatedAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
</Flow>
