force-app/main/default/flows/Fra_Omni_Case_Before_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Case_Tech_Fields2</name>
        <label>Assign Case Tech Fields</label>
        <locationX>2162</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Service__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Is_Omni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Case_To_BDCS_Flex</name>
        <label>Assign Case To BDCS Flex</label>
        <locationX>578</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Label.Fra_BDCS_Flex</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_New_Owner</name>
        <label>Assign New Owner</label>
        <locationX>1634</locationX>
        <locationY>827</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Omni_Case_With_Same_Account.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Omni_Tech_Fields</name>
        <label>Assign Omni Tech Fields</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Is_Omni__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Fra_Tech_Which_Service__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Owner_After_Closing_Case</name>
        <label>Assign Owner After Closing Case</label>
        <locationX>2690</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CaseOwnerId_Formula</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Overwrite_OwnerId</name>
        <label>Overwrite OwnerId</label>
        <locationX>842</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_ALDFlex_LMD</name>
        <label>Is ALDFlex LMD</label>
        <locationX>875</locationX>
        <locationY>611</locationY>
        <defaultConnector>
            <targetReference>Get_Agent_By_Case_Prior_OwnerId</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes10</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Fra_ALDFlex_LMD</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subject</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Label.Fra_Bon_de_commande_Flex</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_To_BDCS_Flex</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Case_Closed</name>
        <label>Is Case Closed</label>
        <locationX>2822</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>(1 OR 2 OR 3) AND 4 AND (5 OR 6) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed without action plan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Canceled</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Is_Omni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Which_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G3X000006XOWbUAO-Flex</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Which_Service__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>BDCSFlex_Formula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CaseOwnerId_Formula</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Owner_After_Closing_Case</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Record_Or_Owner_Is_Changed</name>
        <label>Is New Record Or Owner Is Changed</label>
        <locationX>2236</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Is_Case_Closed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes3</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdIsChanged_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Flex_Reservation_Or_SAOC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Omni_Case_Records_Not_Null</name>
        <label>Is Omni Case Records Not Null</label>
        <locationX>1766</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Omni_Case_With_Same_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_New_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Flex_Reservation_Or_SAOC</name>
        <label>Is Owner Flex Reservation Or SAOC</label>
        <locationX>1650</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Is_SAOC</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdIsSaocQueueLevelZero_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_ALDFlex_LMD</targetReference>
            </connector>
            <label>Is SAOC</label>
        </rules>
        <rules>
            <name>Is_Flex_And_Is_New_Record</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>00G3X000006XOWbUAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNewRecord_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Omni_Case_With_Same_Account</targetReference>
            </connector>
            <label>Is Flex And Is New Record</label>
        </rules>
        <rules>
            <name>Is_Not_Flex_Or_SAOC_Queue_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>00G</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G3X000006XOWbUAO</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Label.Fra_BDCS_Flex</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>OwnerIdIsSaocQueueLevelZero_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_Tech_Fields2</targetReference>
            </connector>
            <label>Is Not Flex Or SAOC Queue Owner</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Record_Owner_Not_An_Omni_Agent</name>
        <label>Is Record Owner Not An Omni Agent</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Agent_By_Case_Owner</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_Omni_Tech_Fields</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Owner_Is_Not_Pole_Service_Client_VO_ALD_And_Is_Agent_SAOC</name>
        <label>Owner Is Not Pole Service Client VO ALD And Is Agent SAOC</label>
        <locationX>974</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>00G20000001tsXpEAI</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Agent_By_Case_Current_UserId</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Overwrite_OwnerId</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>OwnerId_Is_Changed_And_Is_User</name>
        <label>OwnerId Is Changed And Is User</label>
        <locationX>1209</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>Is_New_Record_Or_Owner_Is_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdIsChanged_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fra_Tech_Is_Omni__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Agent_By_Case_Owner</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAOC_User_Is_Legacy_Owner_And_Saoc_Queue_Is_The_Futur_Owner</name>
        <label>SAOC User Is Legacy Owner And Saoc Queue Is The Futur Owner</label>
        <locationX>1172</locationX>
        <locationY>935</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OwnerIdIsSaocQueueLevelZero_Formula</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CaseOwnerId_Formula</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>005</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Agent_By_Case_Prior_OwnerId.RelatedRecordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Owner_Is_Not_Pole_Service_Client_VO_ALD_And_Is_Agent_SAOC</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>BDCSFlex_Formula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Fra_BDCS_Flex} &amp; &apos;-Flex&apos;</expression>
    </formulas>
    <formulas>
        <name>CaseOwnerId_Formula</name>
        <dataType>String</dataType>
        <expression>LEFT(TEXT({!$Record.Fra_Tech_Which_Service__c}), FIND(&apos;-&apos;, TEXT({!$Record.Fra_Tech_Which_Service__c})) - 1)</expression>
    </formulas>
    <formulas>
        <name>IsNewRecord_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OwnerIdIsChanged_Formula</name>
        <dataType>Boolean</dataType>
        <expression>ISCHANGED({!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>OwnerIdIsSaocQueueLevelZero_Formula</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$Label.FRA_SAOC_Queues_Level_Zero}, {!$Record.OwnerId})</expression>
    </formulas>
    <interviewLabel>Fra - Omni Case Before Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Fra - Omni Case Before Update Or Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Agent_By_Case_Current_UserId</name>
        <label>Get Agent By Case Current UserId</label>
        <locationX>1172</locationX>
        <locationY>827</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SAOC_User_Is_Legacy_Owner_And_Saoc_Queue_Is_The_Futur_Owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhichService__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_By_Case_Owner</name>
        <label>Get Agent By Case Owner</label>
        <locationX>182</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Record_Owner_Not_An_Omni_Agent</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3) AND 4</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhichService__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Flex</stringValue>
            </value>
        </filters>
        <filters>
            <field>WhichService__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Agent_By_Case_Prior_OwnerId</name>
        <label>Get Agent By Case Prior OwnerId</label>
        <locationX>1172</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Agent_By_Case_Current_UserId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RelatedRecordId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.OwnerId</elementReference>
            </value>
        </filters>
        <filters>
            <field>WhichService__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SAOC</stringValue>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ServiceResource</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Omni_Case_With_Same_Account</name>
        <label>Get Omni Case With Same Account</label>
        <locationX>1766</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Omni_Case_Records_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed without action plan</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </filters>
        <filters>
            <field>OwnerID__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>005</stringValue>
            </value>
        </filters>
        <filters>
            <field>AccountId</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Fra_Tech_Which_Service__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>00G3X000006XOWbUAO-Flex</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1083</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>OwnerId_Is_Changed_And_Is_User</targetReference>
        </connector>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, {!$Record.RecordType.DeveloperName} = &apos;CaseExternalFrance&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CaseItemCollection_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
