force-app/main/default/flows/FRA_Qualification_Case_Parcours.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SearchImmatNumber</name>
        <label>SearchImmatNumber</label>
        <locationX>545</locationX>
        <locationY>708</locationY>
        <actionName>FrenchSearchContractNumberFlow</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Is_Result_Search_Not_Null</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>body</name>
            <value>
                <elementReference>$Record.Description</elementReference>
            </value>
        </inputParameters>
        <nameSegment>FrenchSearchContractNumberFlow</nameSegment>
        <outputParameters>
            <assignToReference>ResultSearch</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Contact_Account_Case</name>
        <label>Assign Contact &amp; Account Case</label>
        <locationX>1106</locationX>
        <locationY>816</locationY>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_By_Sender.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Parcours_By_Sender.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Update_Field_Qualif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contract_Account_Contact_Case</name>
        <label>Assign Contract &amp; Account &amp; Contact Case</label>
        <locationX>50</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_By_Name.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.ContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact_by_Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Contract__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contract_By_Name.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Field_Qualif</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_No_Reason_Var</name>
        <label>Assign No Reason Var</label>
        <locationX>446</locationX>
        <locationY>1548</locationY>
        <assignmentItems>
            <assignToReference>NoQualifReason</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.No_Qualification_Reason__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_No_Qualif_Reason_Field</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason</name>
        <label>Assign Reason</label>
        <locationX>446</locationX>
        <locationY>1440</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TextPopUpBasedOnContactSender</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResultSearch</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ResultSearchSize</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_No_Reason_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Reason_Contract_1</name>
        <label>Assign Reason Contract</label>
        <locationX>314</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Plusieurs contrats trouvés dans la description de la requête </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Reason</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Count_Contact_By_Sender_Parcours</name>
        <label>Count Contact By Sender Parcours</label>
        <locationX>825</locationX>
        <locationY>384</locationY>
        <assignmentItems>
            <assignToReference>CountAllContactBySender</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_All_Contact_By_Sender</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Contact_By_Sender</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>of_Assign_Reason_Contract_2</name>
        <label>Assign Reason Contract</label>
        <locationX>578</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>$Record.No_Qualification_Reason__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Aucun contrat trouvé dans la description de la requête </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Reason</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Get_Contract_Not_Empty</name>
        <label>Is Get Contract Not Empty</label>
        <locationX>248</locationX>
        <locationY>1032</locationY>
        <defaultConnector>
            <targetReference>Is_Result_Search_Has_More_Than_One_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contract_By_Name</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Contact_by_Account</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Multiple_Contact_Or_Zero_Contact_By_Sender</name>
        <label>Is Multiple Contact Or Zero Contact By Sender</label>
        <locationX>825</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <targetReference>Get_Account_Parcours_By_Sender</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes5</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>CountAllContactBySender</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>CountAllContactBySender</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SearchImmatNumber</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Result_Search_Has_More_Than_One_Element</name>
        <label>Is Result Search Has More Than One Element</label>
        <locationX>446</locationX>
        <locationY>1140</locationY>
        <defaultConnector>
            <targetReference>of_Assign_Reason_Contract_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultSearchSize</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>11.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Reason_Contract_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Result_Search_Not_Null</name>
        <label>Is Result Search Not Null</label>
        <locationX>545</locationX>
        <locationY>816</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_Result_Search_Has_More_Than_One_Element</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes6</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ResultSearch</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Get_Contract_By_Name</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ContactAndAccountAreNull</name>
        <dataType>Boolean</dataType>
        <expression>AND(ISBLANK({!$Record.ContactId}), ISBLANK({!$Record.AccountId}))</expression>
    </formulas>
    <formulas>
        <name>ContactRole1Formula</name>
        <dataType>String</dataType>
        <expression>IF(ISPICKVAL({!$Record.Contract__r.Account.PersonContact.Role__c}, &apos;1 - Contractuel, offres commerciales&apos;), {!$Record.Contract__r.Account.PersonContactId}, null)</expression>
    </formulas>
    <formulas>
        <name>RecordIsNew</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNEW(), true, false)</expression>
    </formulas>
    <formulas>
        <name>ResultFormula</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!ResultSearch}, &apos;%&apos;, &apos;-&apos;)</expression>
    </formulas>
    <formulas>
        <name>ResultSearchSize</name>
        <dataType>Number</dataType>
        <expression>LEN({!ResultSearch})</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>TextPopUpBasedOnContactSender</name>
        <dataType>String</dataType>
        <expression>IF({!CountAllContactBySender} &gt; 1, &quot;et l&apos;adresse Email Sender est assignée à plusieurs contacts ! &quot;, IF({!CountAllContactBySender} = 0, &quot;et l&apos;adresse Email Sender n&apos;est assignée à aucun contact ! &quot;, &quot;&quot;))</expression>
    </formulas>
    <interviewLabel>FRA - Qualification Case Parcours {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FRA - Qualification Case Parcours</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Parcours_By_Sender</name>
        <label>Get Account Parcours By Sender</label>
        <locationX>1106</locationX>
        <locationY>708</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Account_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contact_By_Sender.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_All_Contact_By_Sender</name>
        <label>Get All Contact By Sender</label>
        <locationX>825</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Count_Contact_By_Sender_Parcours</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_to_Case_Sender_formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>25003</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_by_Account</name>
        <label>Get Contact by Account</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contract_Account_Contact_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Contract_By_Name.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Role__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>1 - Contractuel, offres commerciales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>25003</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contact_By_Sender</name>
        <label>Get Contact By Sender</label>
        <locationX>825</locationX>
        <locationY>492</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Multiple_Contact_Or_Zero_Contact_By_Sender</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email_to_Case_Sender_formula__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>25003</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Contract_By_Name</name>
        <label>Get Contract By Name</label>
        <locationX>248</locationX>
        <locationY>924</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Get_Contract_Not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ResultSearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>25003</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contract</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Field_Qualif</name>
        <label>Copy 1 of Update Field Qualif</label>
        <locationX>1106</locationX>
        <locationY>924</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Parcours_By_Sender.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_By_Sender.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Field_Qualif</name>
        <label>Update Field Qualif</label>
        <locationX>50</locationX>
        <locationY>1356</locationY>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Contract_By_Name.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>Get_Contact_by_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contract__c</field>
            <value>
                <elementReference>Get_Contract_By_Name.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_No_Qualif_Reason_Field</name>
        <label>Update No Qualif Reason Field</label>
        <locationX>446</locationX>
        <locationY>1656</locationY>
        <inputAssignments>
            <field>No_Qualification_Reason__c</field>
            <value>
                <elementReference>NoQualifReason</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>179</locationX>
        <locationY>0</locationY>
        <filterFormula>AND({!$User.Bypass_Workflow__c} = false, {!$Record.RecordType.DeveloperName} = &apos;CaseExternalFrance&apos;, ISBLANK({!$Record.ContactId}), ISBLANK({!$Record.AccountId}))</filterFormula>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_All_Contact_By_Sender</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CountAllContactBySender</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>NoQualifReason</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ResultSearch</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
