force-app/main/default/flows/Freeze_Unfreeze_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Freeze_User_Checkbox_Condition</name>
        <label>Freeze User Checkbox Condition</label>
        <locationX>472</locationX>
        <locationY>373</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Freeze_the_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freeze__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Isfrozen_field_to_True</targetReference>
            </connector>
            <label>Freeze the User</label>
        </rules>
        <rules>
            <name>Unfreeze_the_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freeze__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Isfrozen_field_to_False</targetReference>
            </connector>
            <label>Unfreeze the User</label>
        </rules>
    </decisions>
    <description>This flow is is used to Freeze or unfreeze users by updating the Frreze__c checkbox on User Detail Page.</description>
    <environments>Default</environments>
    <interviewLabel>Freeze / Unfreeze Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Freeze / Unfreeze Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>Update Isfrozen field to False</description>
        <name>Update_Isfrozen_field_to_False</name>
        <label>Update Isfrozen field to False</label>
        <locationX>829</locationX>
        <locationY>471</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFrozen</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFrozen</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>UserLogin</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Isfrozen field to True</description>
        <name>Update_Isfrozen_field_to_True</name>
        <label>Update Isfrozen field to True</label>
        <locationX>168</locationX>
        <locationY>479</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsFrozen</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>UserId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IsFrozen</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>UserLogin</object>
    </recordUpdates>
    <start>
        <locationX>317</locationX>
        <locationY>17</locationY>
        <connector>
            <targetReference>Freeze_User_Checkbox_Condition</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Freeze__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Bypass_Workflow__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
