force-app/main/default/flows/French_Credit_Check_ALDBoost.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>setOpportunityToLost</name>
        <label>setOpportunityToLost</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>getRelatedOpportunity.ProbabilityLabel__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Perdue - 0%</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>getRelatedOpportunity.Reason_For_Loss_France__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Refus Risque</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Records_1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>hasRelatedOpportunities</name>
        <label>hasRelatedOpportunities</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>hasOpps</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getRelatedOpportunity.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setOpportunityToLost</targetReference>
            </connector>
            <label>hasOpps</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>French_Credit_Check_ALDBoost {!$Flow.CurrentDateTime}</interviewLabel>
    <label>French_Credit_Check_ALDBoost</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>getRelatedOpportunity</name>
        <label>getRelatedOpportunity</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>hasRelatedOpportunities</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01220000000Cm8IAAS</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Records_1</name>
        <label>Update Records 1</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputReference>getRelatedOpportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getRelatedOpportunity</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterFormula>{!$User.Bypass_Workflow__c}==false &amp;&amp;
CONTAINS(TEXT({!$Record.Account__r.Agency__c}),&apos;T690&apos;) &amp;&amp;
CONTAINS(TEXT({!$Record.Status__c}),&apos;Rejected by Risk&apos;) &amp;&amp;
(CONTAINS({!$Record.RecordType.DeveloperName},&apos;France&apos;) ||
{!$Record.RecordType.DeveloperName}==&apos;Credit_Check_After_Decision&apos;) &amp;&amp;
(TEXT({!$Record.Account__r.Subsidiary_Indicator__c})==&apos;25001&apos; ||
TEXT({!$Record.Account__r.Subsidiary_Indicator__c})==&apos;25002&apos; ||
TEXT({!$Record.Account__r.Subsidiary_Indicator__c})==&apos;25003&apos;)</filterFormula>
        <object>Credit_Check__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
