force-app/main/default/flows/KYCSurveyTakenView.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>ReturnURL_CreditLine</name>
        <label>ReturnURL_CreditLine</label>
        <locationX>797</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCTakeSurvey?CreditLine={!vCreditLine}&amp;objectName=CreditLine</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_KYC_Account_No</name>
        <label>returnURL_KYC_Account_No</label>
        <locationX>553</locationX>
        <locationY>924</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/{!vAccount}</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_KYC_Account_Yes</name>
        <label>returnURL_KYC_Account_Yes</label>
        <locationX>736</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCAccountSurveyTaken?Account={!vAccount}&amp;objectName=Account</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_KYC_New</name>
        <label>returnURL_KYC_New</label>
        <locationX>791</locationX>
        <locationY>13</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCTakeSurveyNew?CreditLine={!vCreditLine}&amp;objectName=CreditLine</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_NoCreditLineNorQCreditLine</name>
        <label>returnURL_NoCreditLineNorQCreditLine</label>
        <locationX>809</locationX>
        <locationY>383</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCTakeSurvey</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_QCreditLine</name>
        <label>returnURL_QCreditLine</label>
        <locationX>805</locationX>
        <locationY>491</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCTakeSurveyNew?CreditLine={!vQCreditLine}&amp;objectName=qCreditLine</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>returnURL_QcreditLine_New</name>
        <label>returnURL_QcreditLine_New</label>
        <locationX>815</locationX>
        <locationY>598</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>/apex/KYCTakeSurvey?CreditLine={!vQCreditLine}&amp;objectName=qCreditLine</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>CreditLineOrNot</name>
        <label>CreditLineOrNot</label>
        <locationX>572</locationX>
        <locationY>307</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>CreditLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCreditLine</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>KYColdNew</targetReference>
            </connector>
            <label>CreditLine</label>
        </rules>
        <rules>
            <name>NotCreditLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCreditLine</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>returnURL_NoCreditLineNorQCreditLine</targetReference>
            </connector>
            <label>NotCreditLine</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_AccountOrNot</name>
        <label>KYC_AccountOrNot</label>
        <locationX>262</locationX>
        <locationY>736</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYC_Account_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveyTakenRT_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnURL_KYC_Account_Yes</targetReference>
            </connector>
            <label>KYC_Account_Yes</label>
        </rules>
        <rules>
            <name>KYC_Account_No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveyTakenRT_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnURL_KYC_Account_No</targetReference>
            </connector>
            <label>KYC_Account_No</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYC_Q_OldorNew</name>
        <label>KYC_Q_OldorNew</label>
        <locationX>553</locationX>
        <locationY>550</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYC_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveycheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnURL_QCreditLine</targetReference>
            </connector>
            <label>KYC_New</label>
        </rules>
        <rules>
            <name>KYC_Old</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveycheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnURL_QcreditLine_New</targetReference>
            </connector>
            <label>KYC_Old</label>
        </rules>
    </decisions>
    <decisions>
        <name>KYColdNew</name>
        <label>KYColdNew</label>
        <locationX>572</locationX>
        <locationY>115</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>KYCNew</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveycheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>returnURL_KYC_New</targetReference>
            </connector>
            <label>KYCNew</label>
        </rules>
        <rules>
            <name>KYCold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveycheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ReturnURL_CreditLine</targetReference>
            </connector>
            <label>KYCold</label>
        </rules>
    </decisions>
    <decisions>
        <name>QCreditLineOrNot</name>
        <label>QCreditLineOrNot</label>
        <locationX>352</locationX>
        <locationY>359</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>QCreditLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQCreditLine</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyTakenRT_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYC_Q_OldorNew</targetReference>
            </connector>
            <label>QCreditLine</label>
        </rules>
        <rules>
            <name>NotQCreditLine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vQCreditLine</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>vSurveyTakenRT_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreditLineOrNot</targetReference>
            </connector>
            <label>NotQCreditLine</label>
        </rules>
        <rules>
            <name>KYC_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vSurveyTakenRT_Boolean</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>KYC_AccountOrNot</targetReference>
            </connector>
            <label>KYC_Account</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>KYCSurveyTakenView {!$Flow.CurrentDateTime}</interviewLabel>
    <label>KYCSurveyTakenView</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>RetrieveSurveytaken</name>
        <label>RetrieveSurveytaken</label>
        <locationX>149</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>QCreditLineOrNot</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vSurveyTakenId</elementReference>
            </value>
        </filters>
        <object>SurveyTaker__c</object>
        <outputAssignments>
            <assignToReference>vAccount</assignToReference>
            <field>Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vCreditLine</assignToReference>
            <field>Credit_Line__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vQCreditLine</assignToReference>
            <field>QCredit_Line_2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSurveycheck</assignToReference>
            <field>SurveyCheck__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vSurveyTakenRT_Boolean</assignToReference>
            <field>SurveyTakenRT__c</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>RetrieveSurveytaken</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vCreditLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vFinalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vQCreditLine</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveycheck</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveyTakenId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vSurveyTakenRT_Boolean</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
