force-app/main/default/flows/Lead_Quote_Showroom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <description>Decision to cancel all linked Quotes</description>
        <name>Change_in_Quotation_Fields</name>
        <label>Change in Quotation Fields ?</label>
        <locationX>506</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Change_In_Quotation_Fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Vehicle_segment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Fuel_type__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Engine_size__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Make__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Model__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_Including_VAT__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Downpayment__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Color__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_External_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Quote_Template_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Link_to_Quote__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Additional_Options__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Duration__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mileage_range__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_range__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote</targetReference>
            </connector>
            <label>Field updates?</label>
        </rules>
        <rules>
            <name>Sales_Disqualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sales Disqualified</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>cancel_linked_quotes</targetReference>
            </connector>
            <label>Sales Disqualified ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Lead</name>
        <label>Is New Lead ?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Change_in_Quotation_Fields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Italy_Eloqua_Created_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Subsidiary_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>38001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.SkipUserfromBypassLeadQuoteFlow</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Italy Eloqua Created lead</label>
        </rules>
        <rules>
            <name>Yes_New_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewLead</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is used for creation of quotes when lead is created or updated with a certain criteria. 
Whenever the lead status is sales disqualified, mark the quote status as canceled</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s date  formatted to YYYYMMDD</description>
        <name>formattedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!TodayDate})) &amp; IF(MONTH({!TodayDate}) &lt;10 , &quot;0&quot; &amp; TEXT(MONTH({!TodayDate})), TEXT(MONTH({!TodayDate}))) &amp; IF(DAY({!TodayDate}) &lt;10 , &quot;0&quot; &amp; TEXT(DAY({!TodayDate})), TEXT(DAY({!TodayDate})))</expression>
    </formulas>
    <formulas>
        <name>IsNewLead</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>QuoteNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Company} &amp; &quot; &quot;&amp; {!$Record.Partner__r.Name} &amp; &quot; &quot; &amp; {!formattedDate}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Lead_Quote_Showroom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_Quote_Showroom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create new quote when all required fields are filled</description>
        <name>Create_Quote</name>
        <label>Create New Quote</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Additional_Options__c</field>
            <value>
                <elementReference>$Record.Additional_Options__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>$Record.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Downpayment__c</field>
            <value>
                <elementReference>$Record.Downpayment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Size__c</field>
            <value>
                <elementReference>$Record.Engine_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Type__c</field>
            <value>
                <elementReference>$Record.Fuel_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lead__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Quote__c</field>
            <value>
                <elementReference>$Record.Link_to_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>$Record.Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>$Record.Mileage_range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Including_VAT__c</field>
            <value>
                <elementReference>$Record.Price_Including_VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>$Record.Price_range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_External_ID__c</field>
            <value>
                <elementReference>$Record.Quote_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Template_ID__c</field>
            <value>
                <elementReference>$Record.Quote_Template_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Types_Segment__c</field>
            <value>
                <elementReference>$Record.Vehicle_segment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>cancel all quotes related to triggering lead</description>
        <name>cancel_linked_quotes</name>
        <label>cancel linked quotes</label>
        <locationX>462</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Quotes__r</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Lead</targetReference>
        </connector>
        <filterFormula>AND(
    OR(
    NOT({!$User.Bypass_Workflow__c}),
	CONTAINS({!$Label.SkipUserfromBypassLeadQuoteFlow},{!$User.Id})),
    NOT(CONTAINS({!$Label.FrenchLeadRecTypeDevName}, {!$Record.RecordType.DeveloperName})),
    OR(
        AND(
            ISPICKVAL({!$Record.Status}, &quot;Sales Disqualified&quot;),
            NOT(ISBLANK(TEXT({!$Record.Status})))
        ),
        AND(
			NOT(ISBLANK({!$Record.RecordType.DeveloperName})),
            OR(
                NOT(ISBLANK({!$Record.Vehicle_segment__c})),
                NOT(ISBLANK({!$Record.Fuel_type__c})),
                NOT(ISBLANK({!$Record.Engine_size__c})),
                NOT(ISBLANK({!$Record.Make__c})),
                NOT(ISBLANK({!$Record.Model__c})),
                NOT(ISBLANK({!$Record.Mileage_range__c})),
                NOT(ISBLANK({!$Record.Duration__c})),
                NOT(ISBLANK({!$Record.Downpayment__c})),
                NOT(ISBLANK({!$Record.Price_range__c})),
                NOT(ISBLANK({!$Record.Price_Including_VAT__c}))
            )
        )
    )
)</filterFormula>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
