force-app/main/default/flows/Lead_Conversion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Standard_Conversion</name>
        <label>Standard Conversion</label>
        <locationX>1060</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>vStandardRedirection</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Std_Slc_Conversion_Screen_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>The_D2D_doesn_t_exist</name>
        <label>The D2D doesn&apos;t exist</label>
        <locationX>735</locationX>
        <locationY>339</locationY>
        <assignmentItems>
            <assignToReference>OneDay2Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_all_campaign_Members</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>The_D2D_exists</name>
        <label>The D2D exists</label>
        <locationX>1005</locationX>
        <locationY>393</locationY>
        <assignmentItems>
            <assignToReference>OneDay2Day</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Day2Day_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Current_CampaignMember.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Real_already_created_Campaign</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>NoneChoice</name>
        <choiceText>None</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue></stringValue>
        </value>
    </choices>
    <decisions>
        <name>Check_if_lead_is_qualified</name>
        <label>Check if lead is qualified</label>
        <locationX>661</locationX>
        <locationY>126</locationY>
        <defaultConnector>
            <targetReference>Error_message_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Lead not qualified</defaultConnectorLabel>
        <rules>
            <name>Lead_qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Slead.isQualified__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Campaign_Members_List</targetReference>
            </connector>
            <label>Lead qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Does_real_campaign_exist</name>
        <label>Does real campaign exist ?</label>
        <locationX>1378</locationX>
        <locationY>249</locationY>
        <defaultConnector>
            <targetReference>Standard_Conversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Real Campaign</defaultConnectorLabel>
        <rules>
            <name>Yes_Real_Campaign_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RealCampaigns</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1_Campaign_selection</targetReference>
            </connector>
            <label>Yes Real Campaign Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_CMember_D2D</name>
        <label>Is CMember D2D ?</label>
        <locationX>848</locationX>
        <locationY>515</locationY>
        <defaultConnector>
            <targetReference>The_D2D_doesn_t_exist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NO</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Current_CampaignMember.isDay_to_Day_Campaign__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>The_D2D_exists</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Real_Campaign_selected</name>
        <label>Is Real Campaign selected ?</label>
        <locationX>1116</locationX>
        <locationY>430</locationY>
        <defaultConnector>
            <targetReference>Create_link_with_selected_campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Real campaign is selected</defaultConnectorLabel>
        <rules>
            <name>No_Choice_Made</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NoneChoice</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Standard_Conversion</targetReference>
            </connector>
            <label>No Choice Made</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_the_country_in_scope</name>
        <label>Is the country in scope ?</label>
        <locationX>526</locationX>
        <locationY>12</locationY>
        <defaultConnector>
            <targetReference>Standard_Conversion</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Yes_New_Conversion_Process</name>
            <conditionLogic>1 OR (2 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>Slead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Lead_Classic</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slead.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>LeadBelgium</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Slead.Subsidiary_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>5601</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Lead_Details</targetReference>
            </connector>
            <label>Yes New Conversion Process</label>
        </rules>
    </decisions>
    <description>Flow for Lead Management project</description>
    <dynamicChoiceSets>
        <name>CampaignList</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>(1 AND 2 AND 3 AND 4 AND ((6 AND 7 ) OR 5 ))</filterLogic>
        <filters>
            <field>Day_to_Day_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_all__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Subsidiary_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_bu__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Account_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Partner_RecordType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputAssignments>
            <assignToReference>CampaignID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <formulas>
        <description>This formula retrieve the Lead Classic record type  id from a custom label</description>
        <name>Lead_Classic</name>
        <dataType>String</dataType>
        <expression>{!$Label.Lead_Classic_Record_type_Id}</expression>
    </formulas>
    <formulas>
        <description>This formula retrieve the Lead Belgium record type  id from a custom label</description>
        <name>LeadBelgium</name>
        <dataType>String</dataType>
        <expression>{!$Label.Lead_Belgium_Record_type_Id}</expression>
    </formulas>
    <formulas>
        <description>This variable lead the user back to the lead</description>
        <name>ReturnToTheRecord</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos;+{!vLeadId}</expression>
    </formulas>
    <formulas>
        <description>Return url for standard salesforce conversion screen</description>
        <name>Std_Slc_Conversion_Screen_URL</name>
        <dataType>String</dataType>
        <expression>&apos;/lead/leadconvert.jsp?retURL=%2F&apos;+{!vLeadId}+&apos;&amp;id=&apos;+{!vLeadId}</expression>
    </formulas>
    <formulas>
        <name>vLeadStatus</name>
        <dataType>Boolean</dataType>
        <expression>{!Slead.isQualified__c}</expression>
    </formulas>
    <interviewLabel>Lead Conversion {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead Conversion</label>
    <loops>
        <name>Loop_on_all_campaign_Members</name>
        <label>Loop on all campaign Members</label>
        <locationX>828</locationX>
        <locationY>290</locationY>
        <assignNextValueToReference>Current_CampaignMember</assignNextValueToReference>
        <collectionReference>CampaignMembers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Is_CMember_D2D</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Standard_Conversion</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_link_with_selected_campaign</name>
        <label>Create link with selected campaign</label>
        <locationX>1118</locationX>
        <locationY>553</locationY>
        <assignRecordIdToReference>LatestCampaignMemberAdded</assignRecordIdToReference>
        <inputAssignments>
            <field>CampaignId</field>
            <value>
                <elementReference>CampaignID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LeadId</field>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </inputAssignments>
        <object>CampaignMember</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Campaign_Members_List</name>
        <label>Get Campaign Members List</label>
        <locationX>873</locationX>
        <locationY>126</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_all_campaign_Members</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>CampaignMember</object>
        <outputReference>CampaignMembers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>LeadId</queriedFields>
        <queriedFields>isDay_to_Day_Campaign__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>390</locationX>
        <locationY>18</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_the_country_in_scope</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Slead</outputReference>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Subsidiary_ID__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead_Details</name>
        <label>Get Lead Details</label>
        <locationX>523</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_lead_is_qualified</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vLeadId</elementReference>
            </value>
        </filters>
        <object>Lead</object>
        <outputReference>Slead</outputReference>
        <queriedFields>isQualified__c</queriedFields>
        <queriedFields>HQ_Country_Names_List__c</queriedFields>
        <queriedFields>Account_Environment__c</queriedFields>
        <queriedFields>Subsidiary_ID__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Required_field_for_qualification__c</queriedFields>
        <queriedFields>Partner__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Real_already_created_Campaign</name>
        <label>Real already created Campaign ?</label>
        <locationX>1255</locationX>
        <locationY>116</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Does_real_campaign_exist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 4 AND 5 AND (6 OR (3 AND 7))</filterLogic>
        <filters>
            <field>Day_to_Day_Campaign__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Partner_bu__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Account_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_all__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Subsidiary_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Partner_Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Slead.Partner__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Campaign_Partner_RecordType__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Campaign</object>
        <outputReference>RealCampaigns</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <screens>
        <name>Error_message_1</name>
        <label>Error message 1</label>
        <locationX>655</locationX>
        <locationY>246</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>TextDisplay</name>
            <fieldText>You are currently trying to convert a lead not qualified. This lead need to be qualified (with status Sales Qualified) before.

{!Slead.Required_field_for_qualification__c}</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_Campaign_selection</name>
        <label>Screen 1: Campaign selection</label>
        <locationX>1334</locationX>
        <locationY>443</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Is_Real_Campaign_selected</targetReference>
        </connector>
        <fields>
            <name>NotCampaignText</name>
            <fieldText>&lt;p&gt;This lead has not been attached to any marketing campaign (except daily default one). Do you wish to continue ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <fields>
            <name>Campaign</name>
            <choiceReferences>NoneChoice</choiceReferences>
            <choiceReferences>CampaignList</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>NoneChoice</defaultSelectedChoiceReference>
            <fieldText>Campaign</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CampaignID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Collection of all campaign members retrieved from the lead</description>
        <name>CampaignMembers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Current Campaign Member in the Loop</description>
        <name>Current_CampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <description>Hold the Day2Day Campaign Member Id</description>
        <name>Day2Day_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable contains the last campaign added to the lead</description>
        <name>LatestCampaignMemberAdded</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable is supposed to be true if one D2D is found among all the campaign members retrieved</description>
        <name>OneDay2Day</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <description>All retrieved campaigns</description>
        <name>RealCampaigns</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Campaign</objectType>
    </variables>
    <variables>
        <name>Slead</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Lead</objectType>
    </variables>
    <variables>
        <name>vLeadId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Formats the appriopriate link which lead to the standard conversion page</description>
        <name>vStandardRedirection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
