force-app/main/default/flows/On_Vacation_Process_Flow_For_ALL_Countries.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Update_Owner_As_Default_Queue</name>
        <label>Update Owner As Default Queue</label>
        <locationX>1678</locationX>
        <locationY>1151</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Queue.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <customErrors>
        <name>Case_Owner_On_Vacation_Error</name>
        <label>Case Owner On Vacation Error</label>
        <locationX>622</locationX>
        <locationY>1727</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Case_Owner_On_Vacations}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <customErrors>
        <name>Case_Owner_On_Vacation_Error_1</name>
        <label>Case Owner On Vacation Error</label>
        <locationX>1150</locationX>
        <locationY>1151</locationY>
        <customErrorMessages>
            <errorMessage>{!$Label.Case_Owner_On_Vacations}</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>
    <decisions>
        <name>Case_Reopened</name>
        <label>Case Reopened</label>
        <locationX>424</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <targetReference>Check_New_Owner_is_ILC_Car_Van</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Reopened</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reopened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Changed_Manually</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Case_Reopened_ALL</name>
        <label>Case Reopened</label>
        <locationX>1876</locationX>
        <locationY>827</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Is_New_Owner_On_Vacation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Reopened_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reopened</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Owner_Changed_Manually_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_New_Owner_is_ILC_Car_Van</name>
        <label>Check New Owner is ILC Car/Van</label>
        <locationX>424</locationX>
        <locationY>1511</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_is_ILC_Car</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ILCCar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Owner is ILC Car</label>
        </rules>
        <rules>
            <name>Owner_is_ILC_Van</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ILCVan</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Owner is ILC Van</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Owner_Is_ILC_Car_Van_1</name>
        <label>Check Owner Is ILC Car/Van</label>
        <locationX>270</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Owner_Is_ILC_Car_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ILCCar</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Owner Is ILC Car</label>
        </rules>
        <rules>
            <name>Owner_Is_ILC_Van_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ILCVan</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Owner Is ILC Van</label>
        </rules>
    </decisions>
    <decisions>
        <description>Country BEL has a different on vacation process than the rest of the countries.</description>
        <name>Is_Belgium</name>
        <label>Is Belgium</label>
        <locationX>1150</locationX>
        <locationY>719</locationY>
        <defaultConnector>
            <targetReference>Case_Reopened_ALL</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_BEL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isBelgium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Reopened</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Eligible_For_On_Vacation_Process</name>
        <label>Is Eligible For On Vacation Process</label>
        <locationX>1810</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Eligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Vacation_Enabled_Countries.Case_Vacation_Enabled__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Owner_On_Vacation</name>
        <label>Is New Owner On Vacation</label>
        <locationX>1282</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_vacation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_On_Vacation_Error_1</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Changed</name>
        <label>Is Owner Changed</label>
        <locationX>754</locationX>
        <locationY>1619</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Owner_On_Vacation_Error</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Changed_Manually</name>
        <label>Is Owner Changed Manually</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Check_Owner_Is_ILC_Car_Van_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Manual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_New_Owner_is_ILC_Car_Van</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_Changed_Manually_1</name>
        <label>Is Owner Changed Manually</label>
        <locationX>1546</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Is_Owner_On_Vacation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_manual_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_New_Owner_On_Vacation</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Owner_On_Vacation</name>
        <label>Is Owner On Vacation</label>
        <locationX>1810</locationX>
        <locationY>1043</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes_Vacation_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.On_Vacations__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Owner_As_Default_Queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isBelgium</name>
        <dataType>Boolean</dataType>
        <expression>AND(
NOT($User.Bypass_Workflow__c),{!$Record.RecordType.DeveloperName=&apos;Case_External_Belgium&apos;}, 
OR(AND(NOT({!$Record.Owner:User.IsActive}),ISPICKVAL({!$Record.Status}, &apos;Reopened&apos;)),AND(({!$Record.Owner:User.On_Vacations__c})))
)</expression>
    </formulas>
    <formulas>
        <description>In case Subsidiary indicator is a formula field. In order to use the field in fast field update flow, we have to create the same formula in flow.</description>
        <name>subsidiaryIndicatorFormula</name>
        <dataType>String</dataType>
        <expression>BLANKVALUE(TEXT({!$Record.Account.Subsidiary_Indicator__c}), BLANKVALUE({!$Record.Subsidiary_Indicator_Stored__c}, TEXT({!$User.Subsidiary_Indicator__c})))</expression>
    </formulas>
    <interviewLabel>On Vacation Process Flow For ALL Countries {!$Flow.CurrentDateTime}</interviewLabel>
    <label>On Vacation Process Flow For ALL Countries</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ILC_Car_Van</name>
        <label>Get ILC Car/Van</label>
        <locationX>1150</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Belgium</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ILCCar</assignToReference>
            <field>Sales_Car_Internal_ID__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ILCVan</assignToReference>
            <field>Sales_Van_Internal_ID__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Queue</name>
        <label>Get Queue</label>
        <locationX>1150</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ILC_Car_Van</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Vacation_Enabled_Countries.Case_Vacation_Queue__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Vacation_Enabled_Countries</name>
        <label>Get Vacation Enabled Countries</label>
        <locationX>1810</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Eligible_For_On_Vacation_Process</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>subsidiaryIndicatorFormula</elementReference>
            </value>
        </filters>
        <filters>
            <field>Case_Vacation_Enabled__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SubsidiarySettings__mdt</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Case_Vacation_Queue__c</queriedFields>
        <queriedFields>Case_Vacation_Enabled__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>1684</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Vacation_Enabled_Countries</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$User.Bypass_Workflow__c}),
NOT(ISBLANK(TEXT({!$Record.Status}))),
NOT(ISNULL(BLANKVALUE(TEXT({!$Record.Account.Subsidiary_Indicator__c}), BLANKVALUE({!$Record.Subsidiary_Indicator_Stored__c}, TEXT({!$User.Subsidiary_Indicator__c})))))
)</filterFormula>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ILCCar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ILCVan</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
