force-app/main/default/flows/Opportunity_Quote_Showroom.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Action</name>
        <label>Change in Opportunity Fields</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Updated Opportunity</defaultConnectorLabel>
        <rules>
            <name>Opportunity_converted_from_lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Lead_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Convert__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Opportunity converted from lead?</label>
        </rules>
        <rules>
            <name>Opportunity_Lost</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.StageName</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel_Related_Quotes</targetReference>
            </connector>
            <label>Opportunity Lost ?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_New_Opportunity</name>
        <label>Is New Opportunity</label>
        <locationX>314</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Action</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>IsNewOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Lead_Convert__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Quote</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>This is created as part of Showroom project</description>
    <environments>Default</environments>
    <formulas>
        <description>Today&apos;s date  formatted to YYYYMMDD</description>
        <name>formattedDate</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR({!TodayDate})) &amp; IF(MONTH({!TodayDate}) &lt;10 , &quot;0&quot; &amp; TEXT(MONTH({!TodayDate})), TEXT(MONTH({!TodayDate}))) &amp; IF(DAY({!TodayDate}) &lt;10 , &quot;0&quot; &amp; TEXT(DAY({!TodayDate})), TEXT(DAY({!TodayDate})))</expression>
    </formulas>
    <formulas>
        <name>IsNewOpportunity</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>QuoteNameFormula</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account.Name}&amp; &quot; &quot; &amp;{!$Record.PartnerAccount.Name}&amp; &quot; &quot; &amp; {!formattedDate}</expression>
    </formulas>
    <formulas>
        <name>TodayDate</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Opportunity_Quote_Showroom {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity_Quote_Showroom</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_new_Quote</name>
        <label>Create new Quote</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Additional_Options__c</field>
            <value>
                <elementReference>$Record.Additional_Options__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Color__c</field>
            <value>
                <elementReference>$Record.Color__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>$Record.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>$Record.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Downpayment__c</field>
            <value>
                <elementReference>$Record.Downpayment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>$Record.Duration__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Engine_Size__c</field>
            <value>
                <elementReference>$Record.Engine_size__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fuel_Type__c</field>
            <value>
                <elementReference>$Record.Fuel_type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Link_to_Quote__c</field>
            <value>
                <elementReference>$Record.Link_to_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Make__c</field>
            <value>
                <elementReference>$Record.Make__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mileage__c</field>
            <value>
                <elementReference>$Record.Mileage_range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Model__c</field>
            <value>
                <elementReference>$Record.Model__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>QuoteNameFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Including_VAT__c</field>
            <value>
                <elementReference>$Record.Price_Including_VAT__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price__c</field>
            <value>
                <elementReference>$Record.Price_range__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_External_ID__c</field>
            <value>
                <elementReference>$Record.Quote_External_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Template_ID__c</field>
            <value>
                <elementReference>$Record.Quote_Template_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subsidiary__c</field>
            <value>
                <elementReference>$Record.Subsidiary__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Vehicle_Types_Segment__c</field>
            <value>
                <elementReference>$Record.Vehicle_segment__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Cancel related quotes to Lost Opps</description>
        <name>Cancel_Related_Quotes</name>
        <label>Cancel Related Quotes</label>
        <locationX>578</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record.Quotes</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_New_Opportunity</targetReference>
        </connector>
        <filterFormula>AND(
    NOT({!$User.Bypass_Workflow__c}),    
    NOT(CONTAINS({!$Label.FrenchOppRecTypeDevName}, {!$Record.RecordType.DeveloperName})),
    OR(
        AND(
            ISPICKVAL({!$Record.StageName}, &quot;Closed Lost&quot;),
            NOT(ISBLANK(TEXT({!$Record.StageName})))
        ),
        AND(
			NOT(ISBLANK({!$Record.RecordType.DeveloperName})),
            OR(
                NOT(ISBLANK({!$Record.Vehicle_segment__c})),
                NOT(ISBLANK({!$Record.Fuel_type__c})),
                NOT(ISBLANK({!$Record.Engine_size__c})),
                NOT(ISBLANK(TEXT({!$Record.Make__c}))),
                NOT(ISBLANK({!$Record.Model__c})),
                NOT(ISBLANK({!$Record.Mileage_range__c})),
                NOT(ISBLANK({!$Record.Duration__c})),
                NOT(ISBLANK({!$Record.Downpayment__c})),
                NOT(ISBLANK({!$Record.Price_range__c})),
                NOT(ISBLANK({!$Record.Price_Including_VAT__c}))
            )
        )
    )
)</filterFormula>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
