force-app/main/default/flows/Populate_Partner_account_for_Web_to_Lead_With_Partner_Key.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>If_partner_enabled_country</name>
        <label>If partner enabled country</label>
        <locationX>666</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Label_PartnerEnabledCountries</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.PartnerEnabledCountries</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$Record.HQ_Country_Names_List__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$User.Bypass_Workflow__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Key_Records</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Partner_Key</name>
        <label>If Partner Key</label>
        <locationX>402</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Key_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Partner_at_lead_Based_On_Partner_Key</targetReference>
            </connector>
            <label>If Present</label>
        </rules>
        <rules>
            <name>If_Not_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Key_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Partner_Record</targetReference>
            </connector>
            <label>If Not Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_partner_Record_Present</name>
        <label>If partner Record Present</label>
        <locationX>446</locationX>
        <locationY>719</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Presented</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Partner_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead_Record_Based_On_The_Partner_Record</targetReference>
            </connector>
            <label>If Presented</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Populate Partner account for Web to Lead With Partner Key {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Populate Partner account for Web to Lead With Partner Key</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Partner_Key_Records</name>
        <label>Get Partner Key Records</label>
        <locationX>402</locationX>
        <locationY>395</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Partner_Key</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PartnerKey__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Partner_key__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HQ_Country_Names_List__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123X000000eUnsQAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Partner_Record</name>
        <label>Get Partner Record</label>
        <locationX>446</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_partner_Record_Present</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account_Source__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Environment__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subsidiary__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.HQ_Country_Names_List__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0123X000000eUnsQAE</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Lead_Record_Based_On_The_Partner_Record</name>
        <label>Update Lead Record Based On The Partner Record</label>
        <locationX>314</locationX>
        <locationY>827</locationY>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Partner_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Partner_at_lead_Based_On_Partner_Key</name>
        <label>Update Partner at lead Based On Partner Key</label>
        <locationX>50</locationX>
        <locationY>611</locationY>
        <inputAssignments>
            <field>Partner__c</field>
            <value>
                <elementReference>Get_Partner_Key_Records.Id</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>540</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_partner_enabled_country</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </filters>
        <filters>
            <field>Partner__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
