force-app/main/default/flows/PrefillCloneCasePage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Case_Country</name>
        <label>Case Country</label>
        <locationX>763</locationX>
        <locationY>120</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FReturnUrl_Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Case_Without_Country</name>
        <label>Case Without Country</label>
        <locationX>762</locationX>
        <locationY>253</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FReturnUrl_Not_Country</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>which_ocsm_version</name>
        <label>which ocsm version ?</label>
        <locationX>374</locationX>
        <locationY>121</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>IsCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Country</targetReference>
            </connector>
            <label>IsCountry</label>
        </rules>
        <rules>
            <name>Not_IsCountry</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vCountry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_Without_Country</targetReference>
            </connector>
            <label>Not IsCountry</label>
        </rules>
    </decisions>
    <formulas>
        <description>Return url for country with and without Auclid V2</description>
        <name>FReturnUrl_Country</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/CaseManagement?caseId=&apos; + {!vCaseId} + &apos;&amp;RecordType=&apos; + {!vRecordType} + &apos;&amp;isclone=1&apos; + &apos;&amp;retURL=&apos; + {!vCaseId}</expression>
    </formulas>
    <formulas>
        <name>FReturnUrl_Not_Country</name>
        <dataType>String</dataType>
        <expression>&apos;/&apos; + {!vCaseId} + &apos;/e?clone=1&amp;retURL=&apos; + {!vCaseId} + &apos;&amp;nooverride=1&amp;cloneparent=1&apos;</expression>
    </formulas>
    <interviewLabel>PrefillCloneCasePage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrefillCloneCasePage</label>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>select_country_record</name>
        <label>select country record</label>
        <locationX>160</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>which_ocsm_version</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Enable_Custom_Case_Catagories__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vRecordType</elementReference>
            </value>
        </filters>
        <object>Country__c</object>
        <outputReference>vCountry</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AUCLID__c</queriedFields>
    </recordLookups>
    <startElementReference>select_country_record</startElementReference>
    <status>Active</status>
    <variables>
        <description>Source Case Id (if any)</description>
        <name>vCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vCountry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country__c</objectType>
    </variables>
    <variables>
        <description>The Target Final Location for the flow</description>
        <name>vFinalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Source Record Type</description>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
