force-app/main/default/flows/PrefillNewParameterPage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_France_Final_URL</name>
        <label>Assign France Final URL</label>
        <locationX>591</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FranceFinalURL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Parameter_RT_Reference</name>
        <label>Assign Parameter RT Reference</label>
        <locationX>285</locationX>
        <locationY>268</locationY>
        <assignmentItems>
            <assignToReference>vRecordTypeReference</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_GetRTypeParameterReferebce</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>From_Where_We_Create_Parameter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_URL_For_Editing_Current_Parameter</name>
        <label>Assign URL For Editing Current Parameter</label>
        <locationX>1390</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_GetUrl_Edit_Current_Param</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_URL_For_Parameter_RT_Reference</name>
        <label>Assign URL For Parameter RT Reference</label>
        <locationX>1376</locationX>
        <locationY>30</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_GetUrl_RT_Reference</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Url_For_Parameter_With_Other_RT</name>
        <label>Assign Url For Parameter With Other RT</label>
        <locationX>1401</locationX>
        <locationY>311</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_GetUrl_RT_Equals_To_Reference</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Url_For_Parameter_With_Others_RT</name>
        <label>Assign Url For Parameter With Others RT</label>
        <locationX>1407</locationX>
        <locationY>536</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>F_GetUrl_RT_Defferent_To_Reference</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_if_it_is_France</name>
        <label>Check if it is France</label>
        <locationX>62</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Assign_Parameter_RT_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>For others</defaultConnectorLabel>
        <rules>
            <name>For_France</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Country_Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>25001</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country_Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>25002</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Country_Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>25003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_France_Final_URL</targetReference>
            </connector>
            <label>For France</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_it_is_lightning</name>
        <label>Check it is lightning?</label>
        <locationX>55</locationX>
        <locationY>169</locationY>
        <defaultConnector>
            <targetReference>Assign_Parameter_RT_Reference</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>in Classic</defaultConnectorLabel>
        <rules>
            <name>in_lightning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>lex</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vReturnUrl</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Country_Record</targetReference>
            </connector>
            <label>in lightning</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Parameter_RT_And_Reference_RT</name>
        <label>Compare Parameter RT And Reference RT</label>
        <locationX>1043</locationX>
        <locationY>115</locationY>
        <defaultConnector>
            <targetReference>Assign_URL_For_Editing_Current_Parameter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Same_RT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParameter.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vRecordTypeReference</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_URL_For_Parameter_RT_Reference</targetReference>
            </connector>
            <label>Same RT</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compare_Url_RT_And_Reference_RT</name>
        <label>Compare Url RT And Reference RT</label>
        <locationX>1044</locationX>
        <locationY>421</locationY>
        <defaultConnector>
            <targetReference>Assign_Url_For_Parameter_With_Others_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>RT_To_Create_Equals_From_RT_Reference</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vRecordType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>vRecordTypeReference</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Url_For_Parameter_With_Other_RT</targetReference>
            </connector>
            <label>RT To Create Equals From RT Reference</label>
        </rules>
    </decisions>
    <decisions>
        <name>From_Where_We_Create_Parameter</name>
        <label>From Where We Create Parameter ?</label>
        <locationX>507</locationX>
        <locationY>268</locationY>
        <defaultConnector>
            <targetReference>Compare_Url_RT_And_Reference_RT</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Creating_From_Parameters</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vParamId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Search_RT_For_The_Current_Parameter</targetReference>
            </connector>
            <label>Creating From Parameters</label>
        </rules>
    </decisions>
    <formulas>
        <name>backgroundContext</name>
        <dataType>String</dataType>
        <expression>IF({!vReturnUrl} != &apos;&apos;, 
&apos;/lightning/r/Country__c/&apos; + {!vReturnUrl} + &apos;/view&apos;,
&apos;/lightning/o/Parameters__c/list?filterName=Recent&apos;)</expression>
    </formulas>
    <formulas>
        <name>F_GetRTypeParameterReferebce</name>
        <dataType>String</dataType>
        <expression>{!$Label.CL032_RT_PARAMETER}</expression>
    </formulas>
    <formulas>
        <name>F_GetUrl_Edit_Current_Param</name>
        <dataType>String</dataType>
        <expression>IF({!lex}, 
&apos;/lightning/r/Parameters__c/&apos; + {!vParamId} + &apos;/edit?navigationLocation=LIST_VIEW_ROW&amp;recordTypeId=&apos; + {!vRecordType}+ &apos;&amp;backgroundContext=&apos; + {!backgroundContext}, 
&apos;/&apos; + {!vParamId} + &apos;/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I20000000IIhh&amp;nooverride=1&apos;  + &apos;&amp;retURL={$Parameter.retURL}&apos;)</expression>
    </formulas>
    <formulas>
        <name>F_GetUrl_RT_Defferent_To_Reference</name>
        <dataType>String</dataType>
        <expression>IF({!lex}, 
&apos;/lightning/o/Parameters__c/new?recordTypeId=&apos; + {!vRecordType}+ &apos;&amp;nooverride=true&amp;backgroundContext=&apos; + {!backgroundContext}, 
&apos;/a0Y/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I20000000IIhh&amp;nooverride=1&amp;retURL={$Parameter.retURL}&apos;)</expression>
    </formulas>
    <formulas>
        <name>F_GetUrl_RT_Equals_To_Reference</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/caseParameter?RecordType=&apos; + {!vRecordType} + &apos;&amp;retURL=&apos; + IF({!lex}, &apos;{$Parameter.CF00N20000003PHCh_lkid}&apos;, &apos;{$Parameter.retURL}&apos;)</expression>
    </formulas>
    <formulas>
        <name>F_GetUrl_RT_Reference</name>
        <dataType>String</dataType>
        <expression>&apos;/apex/caseParameter?RecordType=&apos; + {!vRecordType} + &apos;&amp;ID=&apos; + {!vParamId} +  &apos;&amp;retURL=&apos; + IF({!lex}, &apos;{$Parameter.CF00N20000003PHCh_lkid}&apos;, &apos;{$Parameter.retURL}&apos;)</expression>
    </formulas>
    <formulas>
        <name>FranceFinalURL</name>
        <dataType>String</dataType>
        <expression>&apos;/lightning/o/Parameters__c/new?recordTypeId=&apos; + {!vRecordType} + &apos;&amp;nooverride=true&apos;</expression>
    </formulas>
    <formulas>
        <name>lex</name>
        <dataType>Boolean</dataType>
        <expression>{!$User.UITheme} == &apos;Theme4d&apos;</expression>
    </formulas>
    <interviewLabel>PrefillNewParameterPage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrefillNewParameterPage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Country_Record</name>
        <label>Country Record</label>
        <locationX>68</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_it_is_France</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vReturnUrl</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Country__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subsidiary_Indicator__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Search_RT_For_The_Current_Parameter</name>
        <label>Search RT For The Current Parameter</label>
        <locationX>764</locationX>
        <locationY>117</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Compare_Parameter_RT_And_Reference_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vParamId</elementReference>
            </value>
        </filters>
        <object>Parameters__c</object>
        <outputAssignments>
            <assignToReference>vParameter.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vParameter.RecordTypeId</assignToReference>
            <field>RecordTypeId</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>277</locationX>
        <locationY>45</locationY>
        <connector>
            <targetReference>Check_it_is_lightning</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>vContract</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Contract</objectType>
    </variables>
    <variables>
        <name>vCountry</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Country__c</objectType>
    </variables>
    <variables>
        <description>The Target Final Location for the flow</description>
        <name>vFinalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vParameter</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Parameters__c</objectType>
    </variables>
    <variables>
        <name>vParamId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>Source Record Type</description>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordTypeReference</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vReturnUrl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
