force-app/main/default/flows/PrefillNewCreditCheckPage.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Final_Url_RT_Not_France</name>
        <label>Assign Final Url RT Not France</label>
        <locationX>897</locationX>
        <locationY>388</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetUrl_Not_RTFrance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Final_Url_RTFrance_With_Apporteur_d_affaire</name>
        <label>Assign Final Url RTFrance With Apporteur d&apos;affaire</label>
        <locationX>1304</locationX>
        <locationY>210</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SetUrl_RTFrance_With_Apporteur_Affaire</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>AssignProfileName</name>
        <label>AssignProfileName</label>
        <locationX>25</locationX>
        <locationY>281</locationY>
        <assignmentItems>
            <assignToReference>vProfileName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetProfileName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AssignRTFranceCreditCheck</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRTFranceCreditCheck</name>
        <label>AssignRTFranceCreditCheck</label>
        <locationX>203</locationX>
        <locationY>283</locationY>
        <assignmentItems>
            <assignToReference>vRTFranceCreditCheck</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetRTFranceCreditCheck</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Identify_Credit_Check_Country</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalURLwithoutAccountIdNotFrance</name>
        <label>FinalURLwithoutAccountIdNotFrance</label>
        <locationX>707</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UrlwithoutAccountIdNotFrance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>UrlFromOppToCreditCheck</name>
        <label>UrlFromOppToCreditCheck</label>
        <locationX>274</locationX>
        <locationY>661</locationY>
        <assignmentItems>
            <assignToReference>vFinalLocation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UrlwithAccIdFromOppNotFrance</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Identify_Credit_Check_Country</name>
        <label>Identify Credit Check Country</label>
        <locationX>400</locationX>
        <locationY>283</locationY>
        <defaultConnector>
            <targetReference>Source_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Credit_Check_For_France</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>vProfileName</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>France</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vRTFranceCreditCheck</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>vRecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetAccount</targetReference>
            </connector>
            <label>Credit Check For France</label>
        </rules>
    </decisions>
    <decisions>
        <name>Look_if_there_is_Apporteur_d_affaire</name>
        <label>Look if there is &quot;Apporteur d&apos;affaire&quot;</label>
        <locationX>977</locationX>
        <locationY>109</locationY>
        <defaultConnector>
            <targetReference>Source_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>Existe_Apporteur_d_affaire</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccount.Apporteur_d_affaire__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Searche_Apporteur_d_affaire</targetReference>
            </connector>
            <label>Existe Apporteur d&apos;affaire</label>
        </rules>
    </decisions>
    <decisions>
        <name>Source_Account</name>
        <label>Source Account</label>
        <locationX>428</locationX>
        <locationY>522</locationY>
        <defaultConnector>
            <targetReference>FinalURLwithoutAccountIdNotFrance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AccountId_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vAccId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vAccId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Final_Url_RT_Not_France</targetReference>
            </connector>
            <label>AccountId Exist</label>
        </rules>
        <rules>
            <name>CheckOppId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vOppId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>vOppId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getOppRecord</targetReference>
            </connector>
            <label>CheckOppId</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetProfileName</name>
        <dataType>String</dataType>
        <expression>{!$Profile.Name}</expression>
    </formulas>
    <formulas>
        <name>GetRTFranceCreditCheck</name>
        <dataType>String</dataType>
        <expression>{!$Label.CL031_RT_CREDIT_CHECK_FRANCE}</expression>
    </formulas>
    <formulas>
        <name>LEX</name>
        <dataType>Boolean</dataType>
        <expression>CONTAINS({!$User.UITheme}, &apos;Theme4&apos;)</expression>
    </formulas>
    <formulas>
        <name>SetUrl_Not_RTFrance</name>
        <dataType>String</dataType>
        <expression>IF({!LEX}, 
&apos;/lightning/o/Credit_Check__c/new?recordTypeId=&apos;+{!vRecordType}+&apos;&amp;nooverride=true&amp;backgroundContext=/lightning/r/Account/&apos;+ {!vAccId}+&apos;/view&amp;defaultFieldValues=Account__c=&apos;+{!vAccId},

&apos;/a09/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I200000004xmF&amp;nooverride=1&apos;  + &apos;&amp;retURL={$Parameter.retURL}&apos; + IF(ISBLANK(TRIM({!vAccId})), &apos;&apos;, &apos;&amp;CF00N20000001K04y_lkid=&apos; + {!vAccId}) + IF(ISBLANK(TRIM({!vAccName})), &apos;&apos;, &apos;&amp;CF00N20000001K04y=&apos; + {!vAccName}))</expression>
    </formulas>
    <formulas>
        <name>SetUrl_RTFrance_With_Apporteur_Affaire</name>
        <dataType>String</dataType>
        <expression>&apos;/a09/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I200000004xmF&amp;nooverride=1&apos;  + &apos;&amp;retURL={$Parameter.retURL}&apos; + &apos;&amp;CF00N20000002URpo_lkid=&apos; + {!vAccAppAffaire.Id} + &apos;&amp;CF00N20000002URpo=&apos; + {!vAccAppAffaire.Name} + IF(ISBLANK(TRIM({!vAccId})), &apos;&apos;, &apos;&amp;CF00N20000001K04y_lkid=&apos; + {!vAccId}) + IF(ISBLANK(TRIM({!vAccName})), &apos;&apos;, &apos;&amp;CF00N20000001K04y=&apos; + {!vAccName})</expression>
    </formulas>
    <formulas>
        <name>UrlwithAccIdFromOppNotFrance</name>
        <dataType>String</dataType>
        <expression>IF({!LEX}, 
&apos;/lightning/o/Credit_Check__c/new?recordTypeId=&apos;+{!vRecordType}+&apos;&amp;nooverride=true&amp;backgroundContext=/lightning/r/Opportunity/&apos;+ {!vOppId}+&apos;/view&amp;defaultFieldValues=Account__c=&apos;+{!OppAccountId},

&apos;/a09/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I200000004xmF&amp;nooverride=1&apos;  + &apos;&amp;retURL={$Parameter.retURL}&apos; + IF(ISBLANK(TRIM({!vAccId})), &apos;&apos;, &apos;&amp;CF00N20000001K04y_lkid=&apos; + {!vAccId}) + IF(ISBLANK(TRIM({!vAccName})), &apos;&apos;, &apos;&amp;CF00N20000001K04y=&apos; + {!vAccName}))</expression>
    </formulas>
    <formulas>
        <name>UrlwithoutAccountIdNotFrance</name>
        <dataType>String</dataType>
        <expression>IF({!LEX}, 
&apos;/lightning/o/Credit_Check__c/new?recordTypeId=&apos;+{!vRecordType}+&apos;&amp;nooverride=true&amp;backgroundContext=/lightning/o/Credit_Check__c/list?filterName=Recent&apos;,

&apos;/a09/e?RecordType=&apos; + {!vRecordType} + &apos;&amp;ent=01I200000004xmF&amp;nooverride=1&apos;  + &apos;&amp;retURL={$Parameter.retURL}&apos; + IF(ISBLANK(TRIM({!vAccId})), &apos;&apos;, &apos;&amp;CF00N20000001K04y_lkid=&apos; + {!vAccId}) + IF(ISBLANK(TRIM({!vAccName})), &apos;&apos;, &apos;&amp;CF00N20000001K04y=&apos; + {!vAccName}))</expression>
    </formulas>
    <interviewLabel>PrefillNewCreditCheckPage {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrefillNewCreditCheckPage</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>536</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Look_if_there_is_Apporteur_d_affaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccount.Apporteur_d_affaire__c</assignToReference>
            <field>Apporteur_d_affaire__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccount.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getOppRecord</name>
        <label>getOppRecord</label>
        <locationX>125</locationX>
        <locationY>471</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UrlFromOppToCreditCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vOppId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>OppAccountId</assignToReference>
            <field>AccountId</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Searche_Apporteur_d_affaire</name>
        <label>Searche Apporteur d&apos;affaire</label>
        <locationX>1124</locationX>
        <locationY>364</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Final_Url_RTFrance_With_Apporteur_d_affaire</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vAccount.Apporteur_d_affaire__c</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>vAccAppAffaire.Id</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vAccAppAffaire.Name</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>AssignProfileName</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vAccAppAffaire</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>vAccId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAccName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>The Target Final Location for the flow</description>
        <name>vFinalLocation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vOppId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>vProfileName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>vRTFranceCreditCheck</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
