force-app/main/default/flows/Recycle_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CollectCasesToUpdate</name>
        <label>CollectCasesToUpdate</label>
        <locationX>1430</locationX>
        <locationY>1158</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseFields</name>
        <label>UpdateCaseFields</label>
        <locationX>2330</locationX>
        <locationY>1103</locationY>
        <assignmentItems>
            <assignToReference>rCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectCasesToUpdate</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Select_Queue_On_RT</name>
        <label>Select Queue On RT</label>
        <locationX>2189</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>International_Deleted_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Italy_v2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_Deleted_Queue</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Brazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Brazil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brazil_Deleted_Queue</targetReference>
            </connector>
            <label>Brazil</label>
        </rules>
        <rules>
            <name>Estonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Estonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estonia_Deleted_Queue</targetReference>
            </connector>
            <label>Estonia</label>
        </rules>
        <rules>
            <name>Latvia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Latvia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latvia_Deleted_Queue</targetReference>
            </connector>
            <label>Latvia</label>
        </rules>
        <rules>
            <name>Lithuania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Lithuania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lithuania_Deleted_Queue</targetReference>
            </connector>
            <label>Lithuania</label>
        </rules>
        <rules>
            <name>Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Belgium_Deleted_Queue</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Romania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Romania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Romania_Deleted_Queue</targetReference>
            </connector>
            <label>Romania</label>
        </rules>
        <rules>
            <name>Morocco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Morocco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Morocco_Deleted_Queue</targetReference>
            </connector>
            <label>Morocco</label>
        </rules>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>India_Deleted_Queue</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>Greece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greece_Deleted_Queue</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Poland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Poland_Deleted_Queue</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chile_Deleted_Queue</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Bulgaria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulgaria_Deleted_Queue</targetReference>
            </connector>
            <label>Bulgaria</label>
        </rules>
        <rules>
            <name>Algeria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Algeria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Algeria_Deleted_Queue</targetReference>
            </connector>
            <label>Algeria</label>
        </rules>
        <rules>
            <name>Croatia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Croatia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Croatia_Deleted_Queue</targetReference>
            </connector>
            <label>Croatia</label>
        </rules>
        <rules>
            <name>Czech_Republic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Czech_Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Czech_Republic_Deleted_Queue</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
        <rules>
            <name>Hungary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Hungary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hungary_Deleted_Queue</targetReference>
            </connector>
            <label>Hungary</label>
        </rules>
        <rules>
            <name>Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Austria_Deleted_Queue</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mexico_Deleted_Queue</targetReference>
            </connector>
            <label>Mexico</label>
        </rules>
        <rules>
            <name>Norway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Norway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Norway_Deleted_Queue</targetReference>
            </connector>
            <label>Norway</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Peru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Peru_Deleted_Queue</targetReference>
            </connector>
            <label>Peru</label>
        </rules>
        <rules>
            <name>Portugal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Portugal_Deleted_Queue</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Russia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Russia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Russia_Deleted_Queue</targetReference>
            </connector>
            <label>Russia</label>
        </rules>
        <rules>
            <name>Serbia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Serbia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serbia_Deleted_Queue</targetReference>
            </connector>
            <label>Serbia</label>
        </rules>
        <rules>
            <name>Slovenia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Slovenia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slovenia_Deleted_Queue</targetReference>
            </connector>
            <label>Slovenia</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sweden_Deleted_Queue</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_Deleted_Queue</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Turkey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Turkey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turkey_Deleted_Queue</targetReference>
            </connector>
            <label>Turkey</label>
        </rules>
        <rules>
            <name>Ukraine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Ukraine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ukraine_Deleted_Queue</targetReference>
            </connector>
            <label>Ukraine</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Colombia_Deleted_Queue</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
        <rules>
            <name>France</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CaseExternalFrance</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>France_Deleted_Queue</targetReference>
            </connector>
            <label>France</label>
        </rules>
    </decisions>
    <description>Recycle Case action performed from the &quot;Recycle Bin&quot; button on case layouts</description>
    <interviewLabel>Recycle Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recycle Case</label>
    <loops>
        <name>Loop_Case_Ids</name>
        <label>Loop Case Ids</label>
        <locationX>1228</locationX>
        <locationY>126</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCaseid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Algeria_Deleted_Queue</name>
        <label>Algeria Deleted Queue</label>
        <locationX>3049</locationX>
        <locationY>533</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALG_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Austria_Deleted_Queue</name>
        <label>Austria Deleted Queue</label>
        <locationX>3192</locationX>
        <locationY>532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Belgium_Deleted_Queue</name>
        <label>Belgium Deleted Queue</label>
        <locationX>1870</locationX>
        <locationY>542</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bel_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Brazil_Deleted_Queue</name>
        <label>Brazil Deleted Queue</label>
        <locationX>1960</locationX>
        <locationY>535</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BRA_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Bulgaria_Deleted_Queue</name>
        <label>Bulgaria Deleted Queue</label>
        <locationX>2972</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BG_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Chile_Deleted_Queue</name>
        <label>Chile Deleted Queue</label>
        <locationX>2381</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Colombia_Deleted_Queue</name>
        <label>Colombia Deleted Queue</label>
        <locationX>1023</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Croatia_Deleted_Queue</name>
        <label>Croatia Deleted Queue</label>
        <locationX>1693</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRV_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Czech_Republic_Deleted_Queue</name>
        <label>Czech Republic Deleted Queue</label>
        <locationX>1608</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CZE_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Estonia_Deleted_Queue</name>
        <label>Estonia Deleted Queue</label>
        <locationX>2080</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EST_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>France_Deleted_Queue</name>
        <label>France Deleted Queue</label>
        <locationX>2213</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FRA_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetCaseid</name>
        <label>GetCaseid</label>
        <locationX>2123</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Queue_On_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Case_Ids</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>rCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Greece_Deleted_Queue</name>
        <label>Greece Deleted Queue</label>
        <locationX>2896</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GRE_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Hungary_Deleted_Queue</name>
        <label>Hungary Deleted Queue</label>
        <locationX>3116</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HUN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>India_Deleted_Queue</name>
        <label>India Deleted Queue</label>
        <locationX>2816</locationX>
        <locationY>531</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IND_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>International_Deleted_Queue</name>
        <label>International Deleted Queue</label>
        <locationX>932</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Italy_Deleted_Queue</name>
        <label>Italy Deleted Queue</label>
        <locationX>2144</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ITADELETEDCASES</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Latvia_Deleted_Queue</name>
        <label>Latvia Deleted Queue</label>
        <locationX>2286</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAT_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lithuania_Deleted_Queue</name>
        <label>Lithuania Deleted Queue</label>
        <locationX>2458</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LTU_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Mexico_Deleted_Queue</name>
        <label>Mexico Deleted Queue</label>
        <locationX>1528</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MEX_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Morocco_Deleted_Queue</name>
        <label>Morocco Deleted Queue</label>
        <locationX>2598</locationX>
        <locationY>528</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOR_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Norway_Deleted_Queue</name>
        <label>Norway Deleted Queue</label>
        <locationX>3265</locationX>
        <locationY>525</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Peru_Deleted_Queue</name>
        <label>Peru Deleted Queue</label>
        <locationX>3346</locationX>
        <locationY>534</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PER_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Poland_Deleted_Queue</name>
        <label>Poland Deleted Queue</label>
        <locationX>1779</locationX>
        <locationY>549</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Portugal_Deleted_Queue</name>
        <label>Portugal Deleted Queue</label>
        <locationX>1445</locationX>
        <locationY>545</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Romania_Deleted_Queue</name>
        <label>Romania Deleted Queue</label>
        <locationX>2736</locationX>
        <locationY>529</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROM_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Russia_Deleted_Queue</name>
        <label>Russia Deleted Queue</label>
        <locationX>1367</locationX>
        <locationY>543</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RUS_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Serbia_Deleted_Queue</name>
        <label>Serbia Deleted Queue</label>
        <locationX>1280</locationX>
        <locationY>541</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SRB_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Slovenia_Deleted_Queue</name>
        <label>Slovenia Deleted Queue</label>
        <locationX>1195</locationX>
        <locationY>537</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Sweden_Deleted_Queue</name>
        <label>Sweden Deleted Queue</label>
        <locationX>3429</locationX>
        <locationY>530</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWE_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Switzerland_Deleted_Queue</name>
        <label>Switzerland Deleted Queue</label>
        <locationX>3500</locationX>
        <locationY>526</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHE_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Turkey_Deleted_Queue</name>
        <label>Turkey Deleted Queue</label>
        <locationX>3585</locationX>
        <locationY>524</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Ukraine_Deleted_Queue</name>
        <label>Ukraine Deleted Queue</label>
        <locationX>1111</locationX>
        <locationY>540</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UKR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCases</name>
        <label>UpdateCases</label>
        <locationX>1272</locationX>
        <locationY>1165</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>422</locationY>
        <connector>
            <targetReference>Loop_Case_Ids</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Collect the case ids selected in list vew</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Type of the Case record</description>
        <name>oRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>rCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>variable Case.Id</description>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue to assign</description>
        <name>vCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
