force-app/main/default/flows/Recycle_Case_Updated_Screen_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>CollectCasesToUpdate</name>
        <label>CollectCasesToUpdate</label>
        <locationX>5462</locationX>
        <locationY>1790</locationY>
        <assignmentItems>
            <assignToReference>CasesToUpdate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>rCaseRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Case_Ids</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UpdateCaseFields</name>
        <label>UpdateCaseFields</label>
        <locationX>5462</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>rCaseRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vCaseOwner.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>rCaseRecord.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Deleted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CollectCasesToUpdate</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Case_delete_Confirmation_Decision</name>
        <label>Case delete Confirmation Decision</label>
        <locationX>226</locationX>
        <locationY>1058</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Descision_is_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Yes</leftValueReference>
                <operator>WasSelected</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Case_Ids</targetReference>
            </connector>
            <label>If Descision is yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>CCCM_Country</name>
        <label>CCCM Country?</label>
        <locationX>226</locationX>
        <locationY>134</locationY>
        <defaultConnector>
            <targetReference>Case_delete_Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not CCCM Country</defaultConnectorLabel>
        <rules>
            <name>Is_CCCM_Country</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Label.CCCMBusinessHours</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Subsidiary__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_Set</targetReference>
            </connector>
            <label>Is CCCM Country</label>
        </rules>
    </decisions>
    <decisions>
        <description>This will decide whether User is allowed to delete the record</description>
        <name>Delete_Allowed</name>
        <label>Delete Allowed?</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Deleted_Not_Allowed_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Allowed</defaultConnectorLabel>
        <rules>
            <name>Allowed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_Set_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Label.CCCMBusinessHours</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>$User.Subsidiary__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Case_delete_Confirmation_Screen</targetReference>
            </connector>
            <label>Allowed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Select_Queue_On_RT</name>
        <label>Select Queue On RT</label>
        <locationX>5462</locationX>
        <locationY>1382</locationY>
        <defaultConnector>
            <targetReference>International_Deleted_Queue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>International</defaultConnectorLabel>
        <rules>
            <name>Italy</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Italy_v2</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Italy_Deleted_Queue</targetReference>
            </connector>
            <label>Italy</label>
        </rules>
        <rules>
            <name>Brazil</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Brazil</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Brazil_Deleted_Queue</targetReference>
            </connector>
            <label>Brazil</label>
        </rules>
        <rules>
            <name>Estonia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Estonia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Estonia_Deleted_Queue</targetReference>
            </connector>
            <label>Estonia</label>
        </rules>
        <rules>
            <name>Latvia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Latvia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Latvia_Deleted_Queue</targetReference>
            </connector>
            <label>Latvia</label>
        </rules>
        <rules>
            <name>Lithuania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Lithuania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Lithuania_Deleted_Queue</targetReference>
            </connector>
            <label>Lithuania</label>
        </rules>
        <rules>
            <name>Belgium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Belgium</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Belgium_Deleted_Queue</targetReference>
            </connector>
            <label>Belgium</label>
        </rules>
        <rules>
            <name>Romania</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Romania</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Romania_Deleted_Queue</targetReference>
            </connector>
            <label>Romania</label>
        </rules>
        <rules>
            <name>Morocco</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Morocco</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Morocco_Deleted_Queue</targetReference>
            </connector>
            <label>Morocco</label>
        </rules>
        <rules>
            <name>India</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_India</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>India_Deleted_Queue</targetReference>
            </connector>
            <label>India</label>
        </rules>
        <rules>
            <name>Greece</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Greece</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Greece_Deleted_Queue</targetReference>
            </connector>
            <label>Greece</label>
        </rules>
        <rules>
            <name>Poland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Poland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Poland_Deleted_Queue</targetReference>
            </connector>
            <label>Poland</label>
        </rules>
        <rules>
            <name>Chile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Chile</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Chile_Deleted_Queue</targetReference>
            </connector>
            <label>Chile</label>
        </rules>
        <rules>
            <name>Bulgaria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Bulgaria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulgaria_Deleted_Queue</targetReference>
            </connector>
            <label>Bulgaria</label>
        </rules>
        <rules>
            <name>Algeria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Algeria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Algeria_Deleted_Queue</targetReference>
            </connector>
            <label>Algeria</label>
        </rules>
        <rules>
            <name>Croatia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Croatia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Croatia_Deleted_Queue</targetReference>
            </connector>
            <label>Croatia</label>
        </rules>
        <rules>
            <name>Czech_Republic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Czech_Republic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Czech_Republic_Deleted_Queue</targetReference>
            </connector>
            <label>Czech Republic</label>
        </rules>
        <rules>
            <name>Hungary</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Hungary</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hungary_Deleted_Queue</targetReference>
            </connector>
            <label>Hungary</label>
        </rules>
        <rules>
            <name>Austria</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Austria</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Austria_Deleted_Queue</targetReference>
            </connector>
            <label>Austria</label>
        </rules>
        <rules>
            <name>Mexico</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Mexico</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mexico_Deleted_Queue</targetReference>
            </connector>
            <label>Mexico</label>
        </rules>
        <rules>
            <name>Norway</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Norway</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Norway_Deleted_Queue</targetReference>
            </connector>
            <label>Norway</label>
        </rules>
        <rules>
            <name>Peru</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Peru</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Peru_Deleted_Queue</targetReference>
            </connector>
            <label>Peru</label>
        </rules>
        <rules>
            <name>Portugal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Portugal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Portugal_Deleted_Queue</targetReference>
            </connector>
            <label>Portugal</label>
        </rules>
        <rules>
            <name>Russia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Russia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Russia_Deleted_Queue</targetReference>
            </connector>
            <label>Russia</label>
        </rules>
        <rules>
            <name>Serbia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Serbia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Serbia_Deleted_Queue</targetReference>
            </connector>
            <label>Serbia</label>
        </rules>
        <rules>
            <name>Slovenia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Slovenia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slovenia_Deleted_Queue</targetReference>
            </connector>
            <label>Slovenia</label>
        </rules>
        <rules>
            <name>Sweden</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Sweden</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sweden_Deleted_Queue</targetReference>
            </connector>
            <label>Sweden</label>
        </rules>
        <rules>
            <name>Switzerland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Switzerland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Switzerland_Deleted_Queue</targetReference>
            </connector>
            <label>Switzerland</label>
        </rules>
        <rules>
            <name>Turkey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Turkey</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Turkey_Deleted_Queue</targetReference>
            </connector>
            <label>Turkey</label>
        </rules>
        <rules>
            <name>Ukraine</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Ukraine</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ukraine_Deleted_Queue</targetReference>
            </connector>
            <label>Ukraine</label>
        </rules>
        <rules>
            <name>Colombia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Colombia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Colombia_Deleted_Queue</targetReference>
            </connector>
            <label>Colombia</label>
        </rules>
        <rules>
            <name>Finland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Finland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finland_Deleted_Queue</targetReference>
            </connector>
            <label>Finland</label>
        </rules>
        <rules>
            <name>Denmark</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Denmark</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Denmark_Deleted_Queue</targetReference>
            </connector>
            <label>Denmark</label>
        </rules>
        <rules>
            <name>Slovakia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Slovakia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Slovakia_Deleted_Queue</targetReference>
            </connector>
            <label>Slovakia</label>
        </rules>
        <rules>
            <name>Germany</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Germany_Ayvens</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Germany_Deleted_Queue</targetReference>
            </connector>
            <label>Germany</label>
        </rules>
        <rules>
            <name>Netherlands</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Netherlands</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Netherlands_Deleted_Queue</targetReference>
            </connector>
            <label>Netherlands</label>
        </rules>
        <rules>
            <name>United_Kingdom</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_United_Kingdom</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Deleted_Queue</targetReference>
            </connector>
            <label>United Kingdom</label>
        </rules>
        <rules>
            <name>Ireland</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Ireland</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IRL_Deleted_Queue</targetReference>
            </connector>
            <label>Ireland</label>
        </rules>
        <rules>
            <name>Luxembourg</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Luxembourg</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LUX_Deleted_Queue</targetReference>
            </connector>
            <label>Luxembourg</label>
        </rules>
        <rules>
            <name>Germany_CPM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_Germany</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DECPM_Deleted_Queue</targetReference>
            </connector>
            <label>Germany CPM</label>
        </rules>
        <rules>
            <name>United_Arab_Emirates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rCaseRecord.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Case_External_United_Arab_Emirates</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UAE_Deleted_Queue</targetReference>
            </connector>
            <label>United Arab Emirates</label>
        </rules>
    </decisions>
    <description>Recycle Case action performed from the &quot;Recycle Bin&quot; button on case layouts - 6920</description>
    <environments>Default</environments>
    <interviewLabel>Recycle Case Updated Screen flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Recycle Case Screen flow</label>
    <loops>
        <name>Loop_Case_Ids</name>
        <label>Loop Case Ids</label>
        <locationX>94</locationX>
        <locationY>1166</locationY>
        <collectionReference>ids</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetCaseid</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCases</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Algeria_Deleted_Queue</name>
        <label>Algeria Deleted Queue</label>
        <locationX>3614</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ALG_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Austria_Deleted_Queue</name>
        <label>Austria Deleted Queue</label>
        <locationX>4670</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AUT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Belgium_Deleted_Queue</name>
        <label>Belgium Deleted Queue</label>
        <locationX>1502</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bel_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Brazil_Deleted_Queue</name>
        <label>Brazil Deleted Queue</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BRA_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Bulgaria_Deleted_Queue</name>
        <label>Bulgaria Deleted Queue</label>
        <locationX>3350</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>BG_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Chile_Deleted_Queue</name>
        <label>Chile Deleted Queue</label>
        <locationX>3086</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Colombia_Deleted_Queue</name>
        <label>Colombia Deleted Queue</label>
        <locationX>7838</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>COL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Croatia_Deleted_Queue</name>
        <label>Croatia Deleted Queue</label>
        <locationX>3878</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HRV_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Czech_Republic_Deleted_Queue</name>
        <label>Czech Republic Deleted Queue</label>
        <locationX>4142</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CZE_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>DECPM_Deleted_Queue</name>
        <label>DECPM Deleted Queue</label>
        <locationX>10214</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DECPM_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Denmark_Deleted_Queue</name>
        <label>Denmark Deleted Queue</label>
        <locationX>8366</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Estonia_Deleted_Queue</name>
        <label>Estonia Deleted Queue</label>
        <locationX>710</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>EST_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Finland_Deleted_Queue</name>
        <label>Finland Deleted Queue</label>
        <locationX>8102</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>FIN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Germany_Deleted_Queue</name>
        <label>Germany Deleted Queue</label>
        <locationX>8894</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DEU_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>50</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_Set_Assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CCCM_Case_Deletion_Access</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set_Assignment</name>
        <label>Get Permission Set Assignment</label>
        <locationX>50</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Delete_Allowed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCaseid</name>
        <label>GetCaseid</label>
        <locationX>5462</locationX>
        <locationY>1274</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Select_Queue_On_RT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Case_Ids</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>rCaseRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Greece_Deleted_Queue</name>
        <label>Greece Deleted Queue</label>
        <locationX>2558</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GRE_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Hungary_Deleted_Queue</name>
        <label>Hungary Deleted Queue</label>
        <locationX>4406</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>HUN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>India_Deleted_Queue</name>
        <label>India Deleted Queue</label>
        <locationX>2294</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IND_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>International_Deleted_Queue</name>
        <label>International Deleted Queue</label>
        <locationX>10742</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>INT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>IRL_Deleted_Queue</name>
        <label>IRL Deleted Queue</label>
        <locationX>9686</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>IRL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Italy_Deleted_Queue</name>
        <label>Italy Deleted Queue</label>
        <locationX>182</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ITADELETEDCASES</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Latvia_Deleted_Queue</name>
        <label>Latvia Deleted Queue</label>
        <locationX>974</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LAT_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Lithuania_Deleted_Queue</name>
        <label>Lithuania Deleted Queue</label>
        <locationX>1238</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LTU_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>LUX_Deleted_Queue</name>
        <label>LUX Deleted Queue</label>
        <locationX>9950</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>LUX_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Mexico_Deleted_Queue</name>
        <label>Mexico Deleted Queue</label>
        <locationX>4934</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MEX_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Morocco_Deleted_Queue</name>
        <label>Morocco Deleted Queue</label>
        <locationX>2030</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>MOR_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Netherlands_Deleted_Queue</name>
        <label>Netherlands Deleted Queue</label>
        <locationX>9158</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NLD_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Norway_Deleted_Queue</name>
        <label>Norway Deleted Queue</label>
        <locationX>5198</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NOR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Peru_Deleted_Queue</name>
        <label>Peru Deleted Queue</label>
        <locationX>5462</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PER_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Poland_Deleted_Queue</name>
        <label>Poland Deleted Queue</label>
        <locationX>2822</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>POL_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Portugal_Deleted_Queue</name>
        <label>Portugal Deleted Queue</label>
        <locationX>5726</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>PRT_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Romania_Deleted_Queue</name>
        <label>Romania Deleted Queue</label>
        <locationX>1766</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>ROM_Deleted_Cases</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Russia_Deleted_Queue</name>
        <label>Russia Deleted Queue</label>
        <locationX>5990</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RUS_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Serbia_Deleted_Queue</name>
        <label>Serbia Deleted Queue</label>
        <locationX>6254</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SRB_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Slovakia_Deleted_Queue</name>
        <label>Slovakia Deleted Queue</label>
        <locationX>8630</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVK_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Slovenia_Deleted_Queue</name>
        <label>Slovenia Deleted Queue</label>
        <locationX>6518</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SVN_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Sweden_Deleted_Queue</name>
        <label>Sweden Deleted Queue</label>
        <locationX>6782</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>SWE_TRASH</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Switzerland_Deleted_Queue</name>
        <label>Switzerland Deleted Queue</label>
        <locationX>7046</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>CHE_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Turkey_Deleted_Queue</name>
        <label>Turkey Deleted Queue</label>
        <locationX>7310</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>TUR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UAE_Deleted_Queue</name>
        <label>UAE Deleted Queue</label>
        <locationX>10478</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UAE_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>UK_Deleted_Queue</name>
        <label>UK Deleted Queue</label>
        <locationX>9422</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UK_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Ukraine_Deleted_Queue</name>
        <label>Ukraine Deleted Queue</label>
        <locationX>7574</locationX>
        <locationY>1490</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>UpdateCaseFields</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>UKR_Trash</stringValue>
            </value>
        </filters>
        <object>Group</object>
        <outputReference>vCaseOwner</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCases</name>
        <label>UpdateCases</label>
        <locationX>94</locationX>
        <locationY>1982</locationY>
        <inputReference>CasesToUpdate</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithSharing</runInMode>
    <screens>
        <name>Case_delete_Confirmation_Screen</name>
        <label>Case delete Confirmation Screen</label>
        <locationX>226</locationX>
        <locationY>950</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Case_delete_Confirmation_Decision</targetReference>
        </connector>
        <fields>
            <name>Are_you_sure_you_want_to_delete_this_case</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Are you sure you want to delete this case?</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Deleted_Not_Allowed_Error</name>
        <label>Deleted Not Allowed Error</label>
        <locationX>138</locationX>
        <locationY>566</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Display_Error</name>
            <fieldText>&lt;p&gt;You are not allowed to delete a case.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>100</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CCCM_Country</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>CasesToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>Collect the case ids selected in list vew</description>
        <name>ids</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Record Type of the Case record</description>
        <name>oRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>rCaseRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <description>variable Case.Id</description>
        <name>vCaseID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Queue to assign</description>
        <name>vCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Group</objectType>
    </variables>
    <variables>
        <name>vRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
