force-app/main/default/flows/Renewal_Contract_Sales_activity_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Contract_Update_checks</name>
        <label>Contract Update checks</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Is_End_Date_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Renewed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Renewed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_activity_to_Renewed</targetReference>
            </connector>
            <label>Is Renewed</label>
        </rules>
        <rules>
            <name>Is_Extended</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Extended__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isExtended</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_activity_to_Extended</targetReference>
            </connector>
            <label>Is Extended</label>
        </rules>
        <rules>
            <name>Is_Terminated</name>
            <conditionLogic>1 AND 2 AND ( 3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status2__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Terminated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status2__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Renewed__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Sales_Activity_to_Lost</targetReference>
            </connector>
            <label>Is Terminated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_End_Date_Changed</name>
        <label>Is End Date Changed</label>
        <locationX>446</locationX>
        <locationY>623</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_EndDateChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EndDate</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>isExtended</name>
        <dataType>Boolean</dataType>
        <expression>OR(
{!$Record__Prior.EndDate} &lt; {!$Record.EndDate},
{!$Record__Prior.Real_lease_end_date__c} &lt; {!$Record.Real_lease_end_date__c},
{!$Record__Prior.Forecast_End_Date__c} &lt; {!$Record.Forecast_End_Date__c}
)</expression>
    </formulas>
    <interviewLabel>Renewal Contract Sales activity Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Renewal Contract Sales activity Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_Sales_activity_to_Extended</name>
        <label>Update Sales activity to Extended</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_End_Date_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_activity__c</field>
            <value>
                <stringValue>Extended</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_Activity_to_Lost</name>
        <label>Update Sales Activity to Lost</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_End_Date_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_activity__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Contract__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Sales_activity_to_Renewed</name>
        <label>Update Sales activity to Renewed</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <connector>
            <targetReference>Is_End_Date_Changed</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Contract__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Extended</stringValue>
            </value>
        </filters>
        <filters>
            <field>Sales_activity__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Sales_activity__c</field>
            <value>
                <stringValue>Renewed</stringValue>
            </value>
        </inputAssignments>
        <object>Renewal_Contract__c</object>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Contract_Update_checks</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$User.Bypass_Workflow__c}),
OR( ISCHANGED({!$Record.Renewed__c}),
ISCHANGED({!$Record.Extended__c}),
ISCHANGED({!$Record.Status_for_report__c}),
ISCHANGED({!$Record.EndDate}),
ISCHANGED({!$Record.Forecast_End_Date__c}),
ISCHANGED({!$Record.Real_lease_end_date__c}))
)</filterFormula>
        <object>Contract</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
