force-app/main/default/flows/RMT_E2E_BookingRequestContactSupplierForBookingDecision.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Creates Task to contact supplier for decision based on the specified Booking request ids.</description>
        <name>RMT_E2E_BRCreateTaskContactSupplier</name>
        <label>RMT_E2E_BRCreateTaskContactSupplier</label>
        <locationX>176</locationX>
        <locationY>276</locationY>
        <actionName>RMT_E2E_BRCreateTaskContactSupplier</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingRequestIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RMT_E2E_BRCreateTaskContactSupplier</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <description>Creates Marketing Request to contact supplier for decision based on the specified Booking request ids.</description>
        <name>RMT_E2E_MarketingReminderSupplier</name>
        <label>RMT_E2E_MarketingReminderSupplier</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <actionName>RMT_E2E_BRSupplierUnconfirmedCDPlusXh</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>bookingRequestIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>RMT_E2E_BRSupplierUnconfirmedCDPlusXh</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>Create task &quot;Call supplier to ask them to accept/decline the booking&quot;
Send Request to Marketing for Supplier</description>
    <environments>Default</environments>
    <interviewLabel>RMT_E2E_BookingRequestContactSupplierForBookingDecision {!$Flow.CurrentDateTime}</interviewLabel>
    <label>RMT_E2E_BookingRequestContactSupplierForBookingDecision</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterFormula>AND(
    {!$User.Bypass_Workflow__c}=false,
    ISPICKVAL({!$Record.BookingStatus__c}, &apos;Unconfirmed&apos;)
)</filterFormula>
        <object>BookingRequest__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>RMT_E2E_BookingRequestContactSupplierForBookingDecision</name>
            <connector>
                <targetReference>RMT_E2E_BRCreateTaskContactSupplier</targetReference>
            </connector>
            <label>RMT_E2E_BookingRequestContactSupplierForBookingDecision</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>ContactSupplierForBookingDecionDatetime__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>RMT_E2E_MCRemSupplierUnconfirmedCreatedDatePlusX</name>
            <connector>
                <targetReference>RMT_E2E_MarketingReminderSupplier</targetReference>
            </connector>
            <label>RMT_E2E_MCRemSupplierUnconfirmedCreatedDatePlusX</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>MCRemSupplierUnconfirmedCreatedDatePlusX__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
