force-app/main/default/flows/Showroom_Send_Link_to_Checkout.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_Send_Link_to_Checkout</name>
        <label>Call Send Link to Checkout</label>
        <locationX>182</locationX>
        <locationY>1238</locationY>
        <actionName>SendLinkToCheckoutController</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_Apex_Result</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>quoteIds</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <nameSegment>SendLinkToCheckoutController</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Set_Contact_Email</name>
        <label>Set Contact Email</label>
        <locationX>116</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Contact.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Email</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_Lead_Email</name>
        <label>Set Lead Email</label>
        <locationX>380</locationX>
        <locationY>722</locationY>
        <assignmentItems>
            <assignToReference>RecipientEmail</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Lead.Email</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Recipient_Email</targetReference>
        </connector>
    </assignments>
    <customProperties>
        <name>ScreenProgressIndicator</name>
        <value>
            <stringValue>{&quot;location&quot;:&quot;top&quot;,&quot;type&quot;:&quot;simple&quot;}</stringValue>
        </value>
    </customProperties>
    <decisions>
        <name>Check_Apex_Result</name>
        <label>Check Apex Result</label>
        <locationX>182</locationX>
        <locationY>1346</locationY>
        <defaultConnector>
            <targetReference>Display_Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Failure</defaultConnectorLabel>
        <rules>
            <name>Success</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_Send_Link_to_Checkout.isSuccess</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Success_Message</targetReference>
            </connector>
            <label>Success</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact_or_Lead</name>
        <label>Check Contact or Lead</label>
        <locationX>644</locationX>
        <locationY>290</locationY>
        <defaultConnector>
            <targetReference>Display_No_Contact_or_Lead_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Contact or Lead</defaultConnectorLabel>
        <rules>
            <name>Has_Contact_or_Lead</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Quote.Lead__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Contact</targetReference>
            </connector>
            <label>Has Contact or Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recipient_Email</name>
        <label>Check Recipient Email</label>
        <locationX>380</locationX>
        <locationY>1022</locationY>
        <defaultConnectorLabel>Email Missing</defaultConnectorLabel>
        <rules>
            <name>Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecipientEmail</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Confirm_Send_Email</targetReference>
            </connector>
            <label>Email Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Determine_Email</name>
        <label>Determine Email</label>
        <locationX>380</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>Display_no_contact_lead_email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Contact_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Contact.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contact_Email</targetReference>
            </connector>
            <label>Contact Email Exists</label>
        </rules>
        <rules>
            <name>Lead_Email_Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Lead.Email</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Lead_Email</targetReference>
            </connector>
            <label>Lead Email Exists</label>
        </rules>
    </decisions>
    <description>It invokes a callout to SFMC to send a link to checkout via Email to the associated Contact or Lead</description>
    <environments>Default</environments>
    <interviewLabel>Showroom_ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Showroom Send Link to Checkout</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Contact</name>
        <label>Get Contact</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.ContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Lead</name>
        <label>Get Lead</label>
        <locationX>380</locationX>
        <locationY>506</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Determine_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Lead__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Lead</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Email</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>644</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Contact_or_Lead</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <queriedFields>Lead__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Confirm_Send_Email</name>
        <label>Confirm Send Email</label>
        <locationX>183</locationX>
        <locationY>1130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Call_Send_Link_to_Checkout</targetReference>
        </connector>
        <fields>
            <name>EmailConfirmationMessage</name>
            <fieldText>&lt;p&gt;The email will be sent to {!RecipientEmail}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>Confirm</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Failure_Message</name>
        <label>Display Failure Message</label>
        <locationX>314</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>FailureMessage</name>
            <fieldText>&lt;p&gt;{!Call_Send_Link_to_Checkout.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_no_contact_lead_email</name>
        <label>Display no contact / lead email</label>
        <locationX>644</locationX>
        <locationY>722</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please check associated Contact/Lead email before sending a link to checkout.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_No_Contact_or_Lead_Error</name>
        <label>Display No Contact or Lead Error</label>
        <locationX>908</locationX>
        <locationY>398</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;Please check associated Contact/Lead information before sending a link to checkout.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <nextOrFinishButtonLabel>OK</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Display_Success_Message</name>
        <label>Display Success Message</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>SuccessMessage</name>
            <fieldText>&lt;p&gt;{!Call_Send_Link_to_Checkout.message}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <styleProperties>
                <verticalAlignment>
                    <stringValue>top</stringValue>
                </verticalAlignment>
                <width>
                    <stringValue>12</stringValue>
                </width>
            </styleProperties>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>518</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
