force-app/main/default/flows/STAP_Flow_Fast_Field_Updates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>STAP_Flow_Fast_Field_Updates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>STAP_Flow_Fast_Field_Updates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Records</name>
        <label>Get Account Records</label>
        <locationX>573</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Event</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Customer_Class__c</queriedFields>
        <queriedFields>CORI__c</queriedFields>
        <queriedFields>Total_Fleet__c</queriedFields>
        <queriedFields>Total_Fleet_Potential__c</queriedFields>
        <queriedFields>Competitors__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Event</name>
        <label>Get Event</label>
        <locationX>580</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_STAP_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Event_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Event</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <sortField>EndDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_STAP_records</name>
        <label>Update STAP records</label>
        <locationX>565</locationX>
        <locationY>608</locationY>
        <inputAssignments>
            <field>Competitors_Involved__c</field>
            <value>
                <elementReference>Get_Account_Records.Competitors__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Customer_Class__c</field>
            <value>
                <elementReference>Get_Account_Records.Customer_Class__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Fleet_on_Road__c</field>
            <value>
                <elementReference>Get_Account_Records.Total_Fleet__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>GLBA_Client__c</field>
            <value>
                <elementReference>Get_Account_Records.CORI__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Last_meeting_date__c</field>
            <value>
                <elementReference>Get_Event.EndDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Total_Fleet_Potential__c</field>
            <value>
                <elementReference>Get_Account_Records.Total_Fleet_Potential__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>448</locationX>
        <locationY>66</locationY>
        <connector>
            <targetReference>Get_Account_Records</targetReference>
        </connector>
        <filterFormula>AND(
NOT({!$User.Bypass_Workflow__c})
)</filterFormula>
        <object>Customer_info_history__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
