force-app/main/default/flows/SWE_NF_Email2Case_AutoReply.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>SWE_ALD_Send_Notification_to_Email_Sender_on_Email2Case_creation</name>
        <label>SWE ALD - Send Notification to Email Sender on Email2Case creation</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>Case.SWE_Send_Notification_to_Email_Sender_on_Email2Case_creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SWE_Send_Notification_to_Email_Sender_on_Email2Case_creation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SWE_NF_Send_Notification_to_Email_Sender_on_the_Email2Case_creation</name>
        <label>SWE  NF - Send Notification to Email Sender on the Email2Case creation</label>
        <locationX>314</locationX>
        <locationY>431</locationY>
        <actionName>Case.SWE_NF_Send_Notification_to_Email_Sender_on_Email2Case_creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SWE_NF_Send_Notification_to_Email_Sender_on_Email2Case_creation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>SWE_Send_Notification_to_Email_Sender_SWE_Retail</name>
        <label>SWE - Send Notification to Email Sender (SWE - Retail)</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <actionName>Case.SWE_Send_Notification_to_Email_Sender_SWE_Retail_on_Email2Case_creation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Case.SWE_Send_Notification_to_Email_Sender_SWE_Retail_on_Email2Case_creation</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <decisions>
        <name>Check_Case_Subsidiary_Indicator</name>
        <label>Check Case Subsidiary Indicator</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SWE_Send_Notification_to_Email_Sender_on_Email2Case_creation</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>tyre.se@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Emailtocasereceiver__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>rm.se@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SWE_ALD_Send_Notification_to_Email_Sender_on_Email2Case_creation</targetReference>
            </connector>
            <label>SWE - Send Notification to Email Sender on Email2Case creation</label>
        </rules>
        <rules>
            <name>SWE_NF_Send_Notification_to_Email_Sender_on_Email2Case_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75202</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SWE_NF_Send_Notification_to_Email_Sender_on_the_Email2Case_creation</targetReference>
            </connector>
            <label>SWE NF - Send Notification to Email Sender on Email2Case creation</label>
        </rules>
        <rules>
            <name>SWE_Send_Notification_to_Email_Sender_SWE_Retail_on_Email2Case_creation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Subsidiary_Indicator__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>75201</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Email_Sender__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>contact.se@ayvens.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SWE_Send_Notification_to_Email_Sender_SWE_Retail</targetReference>
            </connector>
            <label>SWE - Send Notification to Email Sender (SWE - Retail) on Email2Case creation</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SWE NF - Email2Case AutoReply {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SWE NF - Email2Case AutoReply</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Case_Subsidiary_Indicator</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01220000000V39B</stringValue>
            </value>
        </filters>
        <filters>
            <field>Origin</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </filters>
        <filters>
            <field>Emailtocasereceiver__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>75201</stringValue>
            </value>
        </filters>
        <filters>
            <field>Subsidiary_Indicator__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>75202</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
