force-app/main/default/flows/Update_Other_Participant_Fields.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>AccountParticipantName_Assignment</name>
        <label>AccountParticipantName_Assignment</label>
        <locationX>490</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>ParticipantConcatenate</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Account_Participant_Item.Account_Participant__r.FirstName} {!Account_Participant_Item.Account_Participant__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ParticipantConcatenate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account_Participant_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AccountParticipantOverview_Assignment</name>
        <label>AccountParticipantOverview_Assignment</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Meeting_Report_Id.Account_Participants_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ParticipantConcatenate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AccParticipantOverview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AyvensParticipantName_Assignment</name>
        <label>AyvensParticipantName_Assignment</label>
        <locationX>138</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>AyvensParticipant_Overview</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>{!Participant_Item.Ayvens_Participant__r.FirstName} {!Participant_Item.Ayvens_Participant__r.LastName}</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AyvensParticipant_Overview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Participant_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OtherParticipantName_Assignment</name>
        <label>OtherParticipantName_Assignment</label>
        <locationX>842</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>OtherParticipantsOverview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Other_Participant_Item.Participant_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OtherParticipantsOverview</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LineBreakFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Other_Participant_Item</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OtherParticipantOverview_Assignment</name>
        <label>OtherParticipantOverview_Assignment</label>
        <locationX>754</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Meeting_Report_Id.Other_Participants_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OtherParticipantsOverview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_OtherParticipantOverview</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ParticipantOverview_Assignment</name>
        <label>ParticipantOverview_Assignment</label>
        <locationX>50</locationX>
        <locationY>947</locationY>
        <assignmentItems>
            <assignToReference>Meeting_Report_Id.Participants_Overview__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AyvensParticipant_Overview</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_AyvensParticipantOverview</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Type_Check</name>
        <label>Type Check</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ayvens_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ayvens ParticipantŌĆŗŌĆŗ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Ayvens_Record</targetReference>
            </connector>
            <label>Ayvens Participant</label>
        </rules>
        <rules>
            <name>Account_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Account Participant</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Record</targetReference>
            </connector>
            <label>Account Participant</label>
        </rules>
        <rules>
            <name>Other_Participant</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Other ParticipantŌĆŗŌĆŗ</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Other_Record</targetReference>
            </connector>
            <label>Other Participant</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>AyvensParticipantFullName</name>
        <dataType>String</dataType>
        <expression>{!Participant_Item.Ayvens_Participant__r.Full_Name__c}</expression>
    </formulas>
    <formulas>
        <name>ContactFullName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_Participant__r.FirstName} + &apos; &apos; + {!$Record.Account_Participant__r.LastName}</expression>
    </formulas>
    <formulas>
        <name>LineBreakFormula</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <interviewLabel>Update Other Participant Fields {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Other Participant Fields</label>
    <loops>
        <name>Account_Participant_Item</name>
        <label>Account Participant Item</label>
        <locationX>402</locationX>
        <locationY>647</locationY>
        <collectionReference>MeetingParticipantsCollectionRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AccountParticipantName_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>AccountParticipantOverview_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Other_Participant_Item</name>
        <label>Other Participant Item</label>
        <locationX>754</locationX>
        <locationY>647</locationY>
        <collectionReference>MeetingParticipantsCollectionRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>OtherParticipantName_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>OtherParticipantOverview_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Participant_Item</name>
        <label>Participant Item</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <collectionReference>MeetingParticipantsAyvensCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AyvensParticipantName_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ParticipantOverview_Assignment</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account_Record</name>
        <label>Get Account Record</label>
        <locationX>402</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Account_Participant_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Report__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Participant</stringValue>
            </value>
        </filters>
        <object>Meeting_Participant__c</object>
        <outputReference>MeetingParticipantsCollectionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account_Participant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Ayvens_Record</name>
        <label>Get Ayvens Record</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Participant_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Report__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ayvens ParticipantŌĆŗŌĆŗ</stringValue>
            </value>
        </filters>
        <object>Meeting_Participant__c</object>
        <outputReference>MeetingParticipantsAyvensCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Ayvens_Participant__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Other_Record</name>
        <label>Get Other Record</label>
        <locationX>754</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Participant_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Meeting_Report__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Report__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other ParticipantŌĆŗŌĆŗ</stringValue>
            </value>
        </filters>
        <object>Meeting_Participant__c</object>
        <outputReference>MeetingParticipantsCollectionRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Participant_Name__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Meeting_Report_Id</name>
        <label>Meeting Report Id</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Type_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Meeting_Report__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Meeting_Report__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Account_Participant_Name_Update</name>
        <label>Account Participant Name Update</label>
        <locationX>402</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Participant_Name__c</field>
            <value>
                <elementReference>ContactFullName</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Ayvens_Participant_Name_Update</name>
        <label>Ayvens Participant Name Update</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Participant_Name__c</field>
            <value>
                <elementReference>$Record.Ayvens_Participant__r.Full_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Other_Participant_Name_Update</name>
        <label>Other Participant Name Update</label>
        <locationX>754</locationX>
        <locationY>1163</locationY>
        <inputAssignments>
            <field>Participant_Name__c</field>
            <value>
                <elementReference>$Record.Participant_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AccParticipantOverview</name>
        <label>Update AccParticipantOverview</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Account_Participant_Name_Update</targetReference>
        </connector>
        <inputReference>Meeting_Report_Id</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_AyvensParticipantOverview</name>
        <label>Update AyvensParticipantOverview</label>
        <locationX>50</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Ayvens_Participant_Name_Update</targetReference>
        </connector>
        <inputReference>Meeting_Report_Id</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_OtherParticipantOverview</name>
        <label>Update OtherParticipantOverview</label>
        <locationX>754</locationX>
        <locationY>1055</locationY>
        <connector>
            <targetReference>Other_Participant_Name_Update</targetReference>
        </connector>
        <inputReference>Meeting_Report_Id</inputReference>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Meeting_Report_Id</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Account Participant</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Ayvens ParticipantŌĆŗŌĆŗ</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Other ParticipantŌĆŗŌĆŗ</stringValue>
            </value>
        </filters>
        <object>Meeting_Participant__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>AyvensParticipant_Overview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AyvensParticipantCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AyvensParticipantsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AyvensParticipantsCollections</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CurrentParticipant</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting_Participant__c</objectType>
    </variables>
    <variables>
        <name>MeetingParticipantsAyvensCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting_Participant__c</objectType>
    </variables>
    <variables>
        <name>MeetingParticipantsCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MeetingParticipantsCollectionRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Meeting_Participant__c</objectType>
    </variables>
    <variables>
        <name>OtherParticipantsOverview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantConcatenate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParticipantItem</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantItemList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParticipantsList</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UpdateAccountParticipantOverview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Meeting_Report_Id.Account_Participants_Overview__c</elementReference>
        </value>
    </variables>
    <variables>
        <name>UpdateAccParticipantOverview</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>Meeting_Report_Id.Account_Participants_Overview__c</elementReference>
        </value>
    </variables>
</Flow>
